<div class="brands-container">
  <div class="container">
    <h2>Professional development environment for</h2>
    <a href="/boards">
      <ul class="list-inline">
        <li><div class="brands grayscale brand-mbed"></div></li>
        <li><div class="brands grayscale brand-asr"></div></li>
        <li><div class="brands grayscale brand-atmel"></div></li>
        <li><div class="brands grayscale brand-espresiff"></div></li>
        <li><div class="brands grayscale brand-freescale"></div></li>
        <li><div class="brands grayscale brand-gwt"></div></li>
        <li><div class="brands grayscale brand-infineon"></div></li>
        <li><div class="brands grayscale brand-intel"></div></li>
        <li><div class="brands grayscale brand-lattice"></div></li>
        <li><div class="brands grayscale brand-maxim"></div></li>
        <li><div class="brands grayscale brand-microchip"></div></li>
        <li><div class="brands grayscale brand-nordic"></div></li>
        <li><div class="brands grayscale brand-nuclei"></div></li>
        <li><div class="brands grayscale brand-nxp"></div></li>
        <li><div class="brands grayscale brand-pulp"></div></li>
        <li><div class="brands grayscale brand-riscv"></div></li>
        <li><div class="brands grayscale brand-sifive"></div></li>
        <li><div class="brands grayscale brand-samsung-artik"></div></li>
        <li><div class="brands grayscale brand-siliconlabs"></div></li>
        <li><div class="brands grayscale brand-stm"></div></li>
        <li><div class="brands grayscale brand-teensy"></div></li>
        <li><div class="brands grayscale brand-ti"></div></li>
        <li><div class="brands grayscale brand-wiznet"></div></li>
        <li><div class="brands grayscale brand-arduino"></div></li>
        <li><div class="brands grayscale brand-energia"></div></li>
        <li><div class="brands grayscale brand-libopencm3"></div></li>
      </ul>
    </a>
  </div>
</div>