<view-title>Fuel the Future of PlatformIO: Empower Open-Source Innovation for Everyone</view-title>
<meta name="description" content="Donate to keep PlatformIO.Org alive!" view-head />
<meta name="keywords" content="PlatformIO, donate" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-heart-o"></i> Donate</h1>
    <p>Fuel the Future of PlatformIO: Empower Open-Source Innovation for Everyone.</p>
  </div>
</div>

<div class="container">
  <h2>Dear Valued User,</h2>

  <p>
    Thank you for choosing PlatformIO, a leading collaborative platform for professional embedded development. The PlatformIO Team is dedicated to:

    <ul>
      <li>Maintaining PlatformIO Project <b>NEUTRALity</b> across various architectures, hardware, and software products</li>
      <li>Keeping it entirely <b>FREE</b>, even for commercial usage</li>
      <li>Providing free community <b>SUPPORT</b>.</li>
    </ul>

    If PlatformIO has proven valuable in your work, research, or company, please consider making a donation that aligns with your resources. Every contribution, regardless of size, greatly assists us in advancing the development of the PlatformIO Project.
  </p>
  <p>Your generosity ensures the continued growth and improvement of PlatformIO for the benefit of the entire community.</p>
  <b>Sincerely, <br />Your friends at PlatformIO.</b>

  <div ng-include="'views/donation_buttons.html'"></div>

  <a name="bitcoin"></a>
  <hr class="home-divider-small" />

  <center>
    <h2><i class="fa fa-btc"></i> Donate Bitcoin</h2>
    <p style="font-size: 20px">Address: <code>1131wW4aKfvuCFRRXn7ind8HZmrfRgDaDx</code></p>
    <img src="images/qrcode_donate_bitcoin.png" style="max-width: 250px;" />
  </center>

</div>

<ins ins-ad data-rvad-zoneid="10" data-rvad-id="f837d8c96893e793fdbb230cffb628fc"></ins>
