<view-title>Donate to keep PlatformIO.Org alive!</view-title>
<meta name="description" content="Donate to keep PlatformIO.Org alive!" view-head />
<meta name="keywords" content="PlatformIO, donate" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-heart-o"></i> Donate</h1>
    <p>Donate to keep PlatformIO.Org alive! Your support is critical for the further development.</p>
  </div>
</div>

<div class="container">
  <h2>Dear User,</h2>

  <p>
    Thanks a lot for your choice to use <b>PlatformIO a professional collaborative platform for embedded development</b>. The mission of PlatformIO Team is to

    <ul>
      <li>Keep PlatformIO Project <b>NEUTRAL</b> for any architecture, hardware, or software products</li>
      <li>Keep it totally for <b>FREE</b>, even for the commercial using</li>
      <li>Provide community <b>SUPPORT</b> for free.</li>
    </ul>

    If you have found PlatformIO to be useful in your work, research or company,
    please consider making a donation to the project commensurate with your
    resources. Any amount helps! All donations will be used strictly to fund
    the development of PlatformIO Project.
  </p>
  <b>Sincerely, PlatformIO Team.</b>

  <div ng-include="'views/donation_buttons.html'"></div>

  <hr class="home-divider-small" />

  <center>
    <h2><i class="fa fa-btc"></i> Donate Bitcoin</h2>
    <p style="font-size: 20px">Address: <code>1131wW4aKfvuCFRRXn7ind8HZmrfRgDaDx</code></p>
    <img src="https://cdn.platformio.org/images/qrcode_donate_bitcoin.03c08787.png" style="max-width: 250px;" />
  </center>

</div>
