<div class="donate">
  <ul class="list-inline text-center">
    <li><a class="btn btn-success btn-lg" href="https://donorbox.org/donate-to-platformio-project" role="button" target="_blank"><i class="fa fa-heart-o"></i> Custom</a></li>
    <li><a class="btn btn-primary" href="https://donorbox.org/donate-to-platformio-project?default_interval=m&amount=100" role="button" target="_blank"><i class="fa fa-dollar"></i> 100</a></li>
    <li><a class="btn btn-primary btn-sm" href="https://donorbox.org/donate-to-platformio-project?default_interval=m&amount=50" role="button" target="_blank"><i class="fa fa-dollar"></i> 50</a></li>
    <li><a class="btn btn-default btn-xs" href="https://donorbox.org/donate-to-platformio-project?default_interval=m&amount=25" role="button" target="_blank"><i class="fa fa-dollar"></i> 25</a></li>
    <li><a class="btn btn-default btn-xs" href="https://donorbox.org/donate-to-platformio-project?default_interval=m&amount=10" role="button" target="_blank"><i class="fa fa-dollar"></i> 10</a></li>
  </ul>
</div>
