<view-title>{{ vm.framework.title }} · Frameworks</view-title>
<meta name="description" content="{{ vm.framework.description }}" view-head />
<meta name="keywords" content="{{ vm.framework.title }}, debug" view-head />

<div class="jumbotron" style="margin-bottom: 16px;">
  <div class="container">
    <h1>{{ vm.framework.title }}</h1>
    <p>
      {{ vm.framework.description }}
    </p>
  </div>
</div>

<div class="container">
  <ins ins-ad data-rvad-zoneid="4" data-rvad-id="f837d8c96893e793fdbb230cffb628fc"></ins>

  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/frameworks">Frameworks</a></li>
    <li class="active">{{ vm.framework.title }}</li>
  </ol>

  <article>
    <div class="row">
      <div class="col-xs-9">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading>
              <h4><i class="fa fa-microchip"></i> Boards</h4>
            </uib-tab-heading>
            <br>

            <table ng-table="vm.tableParams" show-filter="true" class="table table-hover table-responsive">
              <tr ng-repeat="item in $data">
                <td sortable="'name'" data-title="'Name'" filter="{name: 'text'}">
                  <a href="https://docs.platformio.org/page/boards/{{ item.platform }}/{{ item.id }}.html" target="_blank">{{ item.name }}</a> <a href="#" ngclipboard data-clipboard-text="{{ item.id }}" uib-tooltip="Copy ID to clipboard: {{ item.id }}" alt="ID: {{ item.id }}"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                </td>
                <td sortable="'mcu'" data-title="'MCU'" filter="{'mcu': 'text'}">
                  {{ item.mcu }}
                </td>
                <td sortable="'debug'" data-title="'Debug'" filter="{'debug.filters': 'select'}" filter-data="[{id: 'onboard', title: 'On-board'}, {id: 'external', title: 'External'}]" class="text-center text-nowrap">
                  <a ng-if="item.debug" uib-tooltip-html="'{{ item.debug | boardDebugInfo }}'" href="https://docs.platformio.org/page/boards/{{ item.platform }}/{{ item.id }}.html#debugging" target="_blank">
                    <span ng-if="item.debug.onboard.length > 0">On-board</span>
                    <span ng-if="item.debug.onboard.length === 0">External</span>
                    <i class="fa fa-info-circle"></i>
                  </a>
                </td>
                <td sortable="'fcpu'" data-title="'Frequency'" class="text-nowrap">
                  {{ item.fcpu | embeddedFormatter : 'frequency' }}
                </td>
                <td sortable="'ram'" data-title="'RAM'" class="text-nowrap">
                  {{ item.ram | embeddedFormatter : 'size' }}
                </td>
                <td sortable="'rom'" data-title="'Flash'" class="text-nowrap">
                  {{ item.rom | embeddedFormatter : 'size' }}
                </td>
              </tr>
            </table>
          </uib-tab>

          <uib-tab>
            <uib-tab-heading>
              <h4><i class="fa fa-code"></i> Examples</h4>
            </uib-tab-heading>
            <br>
            <p>Please visit framework documentation for the <a href="{{ 'https://docs.platformio.org/page/frameworks/' + vm.framework.name + '.html#examples' }}" target="_blank">available project examples</a>.</p>
          </uib-tab>

        </uib-tabset>
      </div>

      <div class="col-xs-3">
        <div class="keywords">
          <h3>Platforms</h3>
          <a ng-href="/platforms/{{ item.name }}" class="btn btn-default btn-sm" ng-repeat="item in vm.getFrameworkPlatforms(vm.framework.name)"><i class="fa fa-laptop"></i> {{ item.title }}</a>
        </div>

        <h3>Resources</h3>
        <p><i class="fa fa-link"></i> <a href="{{ vm.framework.url }}" target="_blank">Vendor</a></p>
        <p><i class="fa fa-book"></i> <a href="{{ 'https://docs.platformio.org/page/frameworks/' + vm.framework.name + '.html' }}" target="_blank">Documentation</a></p>
      </div>
    </div>

  </article>
</div>

<ins ins-ad data-rvad-zoneid="10" data-rvad-id="f837d8c96893e793fdbb230cffb628fc"></ins>
