<view-title>Frameworks</view-title>
<meta name="description" content="Keep the unified workflow using the most popular embedded frameworks" view-head />
<meta name="keywords" content="embedded, framework, debug, {{ vm.getFrameworkTitles().join(', ') }}" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-cog"></i> Frameworks</h1>
    <p>Keep the unified workflow using the most popular embedded frameworks</p>
  </div>
</div>

<div class="container">

  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li class="active">Frameworks</li>
  </ol>

  <div class="input-group input-group-lg" style="width: 100%">
    <input type="search" class="form-control" placeholder="Filter frameworks..."ng-model="vm.filterQuery">
  </div>

  <section class="search-result">
    <div class="well well-sm" ng-repeat="item in vm.frameworks | filter:vm.filterQuery">
      <h3 class="title"><a ng-href="/frameworks/{{ item.name }}">{{ item.title }}</a></h3>
      <p>{{ item.description }}</p>
      <div class="keywords">
        <a ng-href="/platforms/{{ platform.name }}" class="btn btn-default btn-sm" ng-repeat="platform in vm.getFrameworkPlatforms(item.name)"><i class="fa fa-laptop"></i> {{ platform.title }}</a>
      </div>
    </div>
  </section>

</div>
