<meta name="description" content="Open source, cross-platform IDE and Unified Debugger. Static Code Analyzer and Remote Unit Testing. Multi-platform and Multi-architecture Build System. Firmware File Explorer and Memory Inspection." view-head />
<meta name="keywords" content="PlatformIO, professional, embedded, IoT, IDE, opensource, build, cross-platform, library manager, library.json, continuous integration, arduino, mbed, cli, command line, make, cmake, makefile, mk, firmware" view-head />

<div class="jumbotron home">
  <div class="container text-center">
    <img src="https://cdn.platformio.org/images/platformio-logo.17fdc3bc.png" height="220" title="PlatformIO is a professional collaborative platform for embedded development. Cross-platform IDE and Unified Debugger. Static Code Analyzer and Remote Unit Testing. Multi-platform and Multi-architecture Build System. Firmware File Explorer and Memory Inspection.">

    <div class="slogan">
      <h1>Professional collaborative platform for embedded development
      <small>A place where Developers and Teams have true <acronym title="Use favorite OS, IDE, Hardware and Software tools">Freedom</acronym>! No more vendor lock-in!</small></h1>
    </div>

    <div>
      <ul class="list-inline stats">
        <li>
          <a href="/platforms">
            <div class="item">
              <i class="fa fa-laptop"></i>
              <div class="value">{{ vm.stats.platforms | number }}</div>
              <div class="name">Platforms</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/frameworks">
            <div class="item">
              <i class="fa fa-cog"></i>
              <div class="value">{{ vm.stats.frameworks | number }}</div>
              <div class="name">Frameworks</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/boards">
            <div class="item">
              <i class="fa fa-microchip"></i>
              <div class="value">{{ vm.stats.boards | number }}</div>
              <div class="name">Boards</div>
            </div>
          </a>
        </li>
        <li>
          <a href="https://github.com/platformio/platformio-examples" target="_blank">
            <div class="item">
              <i class="fa fa-graduation-cap"></i>
              <div class="value">222</div>
              <div class="name">Examples</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/lib">
            <div class="item">
              <i class="fa fa-code"></i>
              <div class="value">{{ vm.stats.libs | number }}</div>
              <div class="name">Libraries</div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="slogan">
      <h3>
        Cross-platform PlatformIO IDE and Unified Debugger · Static Code Analyzer and Remote Unit Testing
        <br>Multi-platform and Multi-architecture Build System · Firmware File Explorer and Memory Inspection
      </h3>
    </div>

    <p>
      <ul class="list-inline">
        <li>
          <a class="btn btn-success btn-lg" href="/platformio-ide" role="button" analytics-on analytics-event="Button" analytics-category="Install" analytics-label="HomeTop"><i class="fa fa-download fa-lg"></i> &nbsp;Get PlatformIO Now</a>
        </li>
        <li>
          <a href="http://bit.ly/make-pio-better-survey" target="_blank"><i class="fa fa-check-square-o" aria-hidden="true"></i> Participate in our survey</a>
        </li>
      </ul>
    </p>

    <p>
      <ul class="list-inline">
        <li><i class="fa fa-history"></i> <a href="https://docs.platformio.org/page/history.html">Release Notes</a></li>
        <li>·</li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/platformio" target="_blank">Open Source</a></li>
        <li>·</li>
        <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/PlatformIO_Org" target="_blank">Twitter</a></li>
        <li>·</li>
        <li><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/company/platformio/" target="_blank">LinkedIn</a></li>
        <li>·</li>
        <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/platformio" target="_blank">Facebook</a></li>
        <li>·</li>
        <li><i class="fa fa-heart"></i> <a href="/donate">Donate</a></li>
      </ul>
    </p>

    <div class="text-center" style="margin-top: 60px;">
      <h2 style="margin-bottom: 15px;">Trusted by Global Innovators</h2>
        <ul class="list-inline">
          <li><a href="https://www.aceinna.com/" target="_blank"><div class="brands brand-aceinna"></div></a></li>
          <li><a href="https://www.anu.edu.au/" target="_blank"><div class="brands brand-anu"></div></a></li>
          <li><a href="https://www.imgtec.com/" target="_blank"><div class="brands brand-imagination"></div></a></li>
          <li><a href="https://sifive.com/" target="_blank"><div class="brands brand-sifive"></div></a></li>
          <li><a href="https://www.westerndigital.com/" target="_blank"><div class="brands brand-wd"></div></a></li>
        </ul>
      </a>
    </div>

  </div>
</div>

<article>
  <div class="container home">

    <div class="row home-divider-small text-left">
      <div class="col-md-6">
        <h2 class="featurette-heading">The <span class="text-success">most loved</span> IDE solution for Microsoft Visual Studio Code.</h2>
        <p class="lead"> A user-friendly and extensible integrated development environment with a set of professional development instruments, providing modern and powerful features to speed up yet simplify the creation and delivery of embedded products.</p>
        <ul class="list-inline">
          <li>
            <a class="btn btn-success btn-lg" href="/install/ide?install=vscode" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="VSCode"><i class="fa fa-download fa-lg"></i> &nbsp;Get it Now!</a>
          </li>
          <li>
            <a href="/install/integration"><i class="fa fa-heart-o" aria-hidden="true"></i> Looking for another editor?</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <a href="/install/ide?install=vscode" analytics-on analytics-event="Image" analytics-category="IDE" analytics-label="Home"><img src="https://cdn.platformio.org/images/platformio-ide-laptop.93fc8e69.png" class="img-responsive" alt="PlatformIO IDE for embedded development" title="PlatformIO IDE for embedded development" uib-tooltip="PlatformIO IDE for embedded development"></a>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-success"></i> A lightweight but powerful cross-platform source code editor</li>
          <li><i class="fa fa-check text-success"></i> Smart code completions based on variable types, function definitions, and library dependencies</li>
          <li><i class="fa fa-check text-success"></i> Multi-projects workflow with easy navigation around project codebase, multiple panes, and themes support</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-success"></i> Seamless integration with <a href="https://docs.platformio.org/page/home/index.html">PlatformIO Home (UI)</a> with board and library managers</li>
          <li><i class="fa fa-check text-success"></i> Intuitive project wizard and a wide range of example projects</li>
          <li><i class="fa fa-check text-success"></i> Built-in Terminal with <a href="https://docs.platformio.org/page/core/index.html">PlatformIO Core (CLI)</a> and powerful <a href="https://docs.platformio.org/page/core/userguide/device/cmd_monitor.html">Serial Port Monitor</a></li>
        </ul>
      </div>
    </div>

    <hr class="home-divider">

    <div class="row stats text-center home-divider-small">
      <div class="col col-md-4">
        <h3><a href="https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide" class="text-success" target="_blank">1.3M+</a></h3>
        <span class="text-muted">Over 1,000,000 unique installations of PlatformIO IDE for VSCode</span>
      </div>
      <div class="col col-md-4">
        <h3><a href="https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide" class="text-success" target="_blank">1,500+</a></h3>
        <span class="text-muted">The most reviewed extension in the whole Microsoft Marketplace</span>
      </div>
      <div class="col col-md-4">
        <h3><a href="https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide" class="text-success" target="_blank">4.9/5.0</a></h3>
        <span class="text-muted">Our average review across all of our company product lines</span>
      </div>
    </div>
  </div>

  <div class="jumbotron home-divider">
    <div class="container text-center">
      <h2>Use whenever. <span class="text-muted">Run everywhere.</span></h2>
      <p class="lead"><i>PlatformIO</i> is written in pure <i>Python</i> and <strong>doesn't depend</strong> on any additional libraries/tools from an operation system. It allows you to use <i>PlatformIO</i> beginning from <i>PC</i> and ending with credit-card sized computers (like <i>Raspberry Pi, BeagleBone, CubieBoard</i>)</p>

      <div class="row text-center">
        <div class="col-lg-4">
          <i class="fa fa-apple fa-4x"></i>
          <h4>Mac</h4>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-linux fa-4x"></i>
          <h4>Linux, +ARM</h4>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-windows fa-4x"></i>
          <h4>Windows</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center main-featurette">

    <div class="row featurette text-left">
      <div class="col-md-6">
        <h2 class="featurette-heading">Integrated <a href="https://docs.platformio.org/page/plus/debugging.html" class="text-danger">Debugger</a></h2>
        <p class="lead">
          A comprehensive debugging environment with extensive support for debugging probes and target systems.
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-danger"></i> Quickly debug your projects with predefined configurations to maximize productivity</li>
          <li><i class="fa fa-check text-danger"></i> Easily switch to the mixed-mode disassembly view to identify buggy or non-optimized code</li>
          <li><i class="fa fa-check text-danger"></i> Use Watch Windows to quickly evaluate symbols, registers, and expressions as your code executes </li>
          <li><i class="fa fa-check text-danger"></i> Examine Call Stack View to understand the execution flow of your application</li>
          <li><i class="fa fa-check text-danger"></i> Use Peripherals View to monitor the internal state of device peripherals</li>
        </ul>
        <p><i class="fa fa-book"></i> <a href="https://docs.platformio.org/page/plus/debugging.html" class="text-danger">Documentation & Supported Probes</a></p>
      </div>
      <div class="col-md-6">
        <img src="https://cdn.platformio.org/images/demo/ide/platformio-ide-vscode.png" class="img-thumbnail" alt="PlatformIO Debugging Solution" title="PlatformIO Debugging Solution" uib-tooltip="PlatformIO Debugging Solution">
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-6">
        <img src="https://cdn.platformio.org/images/pioplus-unit-testing-demo.1366991d.png" class="img-thumbnail" alt="PlatformIO Unit Testing Solution" title="PlatformIO Unit Testing Solution" uib-tooltip="PlatformIO Unit Testing Solution">
      </div>
      <div class="col-md-6">
        <h2 class="featurette-heading">Unit <a href="https://docs.platformio.org/page/plus/unit-testing.html" class="text-success">Testing</a></h2>
        <p class="lead"> Make use of a common testing environment for multiple projects with different target platforms.</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-success"></i> Easily create, execute, and maintain tests on the host or target hardware</li>
          <li><i class="fa fa-check text-success"></i> Quickly find failed tests, identify environment with failures and take a closer look at the failed test suites</li>
          <li><i class="fa fa-check text-success"></i> Configure the built-in test runner to precisely orchestrate the execution of selected tests</li>
          <li><i class="fa fa-check text-success"></i> Automate unit testing on a remote machine or from CI server</li>
        </ul>
        <p><i class="fa fa-book"></i> <a href="https://docs.platformio.org/page/plus/unit-testing.html" class="text-success">Documentation & API</a></p>
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-6">
        <h2 class="featurette-heading">Static <a href="https://docs.platformio.org/page/plus/pio-check.html" class="text-warning">Code Analysis</a></h2>
        <p class="lead">
          Utilize out-of-the box support for popular static code analyzers to eliminate issues earlier in the development cycle and ship more reliable and secure software no matter which development platform you work with.
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-warning"></i> Detect the precise location of potential defects</li>
          <li><i class="fa fa-check text-warning"></i> Make use of comprehensive and detailed error information with defect severity</li>
          <li><i class="fa fa-check text-warning"></i> Easily perform analysis as part of your Continuous Integration pipeline</li>
          <li><i class="fa fa-check text-warning"></i> Use a powerful configuration system to filter out specific defects</li>
          <li><i class="fa fa-check text-warning"></i> Ensure your code is robust and meets high industry standards</li>
        </ul>
        <p><i class="fa fa-book"></i> <a href="https://docs.platformio.org/page/plus/unit-testing.html" class="text-warning">Documentation & Tools</a></p>
      </div>
      <div class="col-md-6">
        <img src="https://cdn.platformio.org/images/modern-ui-toolkit-project-inspection.69f930c6.jpg" class="img-thumbnail" alt="PlatformIO Static Code Analysis Solution" title="PlatformIO Static Code Analysis Solution" uib-tooltip="PlatformIO Static Code Analysis Solution">
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-7">
        <img src="https://cdn.platformio.org/images/pio-remote-architecture.266f49d5.png" class="img-responsive" alt="PlatformIO Remote Development Solution" title="PlatformIO Remote Development Solution" uib-tooltip="PlatformIO Remote Development Solution">
      </div>
      <div class="col-md-5">
        <h2 class="featurette-heading"><a href="https://docs.platformio.org/page/plus/pio-remote.html" class="text-primary">Remote</a> Development</h2>
        <p class="lead"> Remote development lets you develop projects in your favorite environment, while using the computing power and connected devices on a remote machine.</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-primary"></i> Program your devices using the most popular Cloud IDEs</li>
          <li><i class="fa fa-check text-primary"></i> Run tests on a remote machine without extra software, SSH, VPN or opening network ports</li>
          <li><i class="fa fa-check text-primary"></i> Easily share devices with friends or colleagues across your organization</li>
          <li><i class="fa fa-check text-primary"></i> Safely gather logs from devices connected to a remote single-board computer</li>
        </ul>
        <p><i class="fa fa-book"></i> <a href="https://docs.platformio.org/page/plus/pio-remote.html" class="text-primary">Documentation & Use Cases</a></p>
      </div>
    </div>

  </div>

  <div class="jumbotron home-divider">
    <div class="container text-center main-featurette">
      <h2>Single source code. <span class="text-muted">Multiple platforms.</span></h2>
      <p class="lead">
        <i>PlatformIO</i> allows developer to compile the same code with different development platforms using the <i>Only One Command</i> <a href="https://docs.platformio.org/page/userguide/cmd_run.html" class="text-nowrap"><i class="fa fa-angle-right"></i> platformio run</a>. This happens due to
        <a href="https://docs.platformio.org/page/projectconf.html">Project Configuration File (platformio.ini)</a> where you can setup different environments with specific options (platform type, firmware uploading settings, pre-built framework, build flags and many more).
      </p>
    </div>
  </div>

  <div class="container text-center main-featurette">
    <h2>Need more convincing? <span class="text-muted">Try PlatformIO Now!</span></h2>
    <p><a class="btn btn-success btn-lg" href="/platformio-ide" role="button" analytics-on analytics-event="Button" analytics-category="Install" analytics-label="HomeBottom"><i class="fa fa-download fa-lg"></i> &nbsp;Get PlatformIO Now</a> </p>
  </div>

</article>
