<view-title>{{ vm.meta.title }} · Libraries</view-title>
<meta name="description" content="{{ vm.meta.description }}" view-head />
<meta name="keywords" content="{{ vm.meta.keywords }}" view-head />

<div class="jumbotron">
  <div class="container">
    <h1>{{ vm.lib.name }} <small>by <span ng-repeat="author in vm.lib.authors">{{ author.name }}<span ng-if="!$last">,&nbsp;</span></span></small></h1>
    <p>
      {{ vm.lib.description }}
    </p>

    <label class="control-label" for="installCmd">Installation</label>
    <div class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">&gt;</span>
          <input type="text" class="form-control" style="min-width: 350px; background-color: white;" id="installCmd" value='pio lib install "{{ vm.lib.ownername }}/{{ vm.lib.name }}"' onClick="this.setSelectionRange(0, this.value.length)" readonly>
        </div>
      </div>
      &nbsp; <a class="btn btn-success" href="/platformio-ide" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="Library"><i class="fa fa-download fa-lg"></i> &nbsp;Open in PlatformIO IDE</a>
      &nbsp; | &nbsp; <a href="#" ng-click="vm.changeTab('installation')">More info</a>
    </div>
  </div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/lib">Libraries</a></li>
    <li><a href="/lib/search?query=owner:{{ vm.lib.ownername }}">{{ vm.lib.ownername }}</a></li>
    <li class="active">{{ vm.lib.name }}</li>
  </ol>

  <article>
    <div class="row">
      <div class="col-xs-8">
        <uib-tabset active="vm.activeTab">
          <uib-tab select="vm.changeTab('examples')">
            <uib-tab-heading>
              <h4><i class="fa fa-graduation-cap"></i> Examples</h4>
            </uib-tab-heading>
            <br>
            <div ng-if="!vm.examples.length" class="alert alert-warning" role="alert">The library doesn't have any examples.</div>

            <div ng-if="vm.examples.length">
              <p>
                <div class="text-center">
                  <div class="btn-group">
                    <label class="btn btn-default btn-sm" ng-model="vm.currentExample" ng-repeat="item in vm.examples" uib-btn-radio="item">{{ item.name }}</label>
                  </div>
                </div>
              </p>
              <div hljs include="vm.currentExample.url" language="cpp"></div>
            </div>
          </uib-tab>

          <uib-tab select="vm.changeTab('installation')">
            <uib-tab-heading>
              <h4><i class="fa fa-download"></i> Installation</h4>
            </uib-tab-heading>
            <br>

            <h3>Library Dependencies <small>platformio.ini</small></h3>

            <p>The PlatformIO Registry is fully compatible with <a href="https://semver.org/" target="_blank">Semantic Versioning</a> and its "version" scheme <code>&lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</code>. You can declare library dependencies in "platformio.ini" configuration file using <a href="https://docs.platformio.org/page/projectconf/section_env_library.html">lib_deps</a> option.</p>
            <div class="well terminal">
              <p class="comment"># platformio.ini – project configuration file</p>
              <b>[env:myenv]</b>
              <div>platform = <font color="silver">{{ vm.lib.platforms[0].name }}</font></div>
              <p>framework = <font color="silver">{{ vm.lib.frameworks[0].name }}</font></p>

              <p>lib_deps =
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp; <span class="comment"># RECOMMENDED</span><br />
                  &nbsp;&nbsp;&nbsp;&nbsp; <span class="comment"># Accept new functionality in a backwards compatible manner and patches</span><br />
                  &nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.ownername }}/{{ vm.lib.name }} @ ^{{ vm.lib.version.name }}</font>
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># Accept only backwards compatible bug fixes</small><br />
                  &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># (any version with the same major and minor versions, and an equal or greater patch version)</small><br />
                  &nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.ownername }}/{{ vm.lib.name }} @ ~{{ vm.lib.version.name }}</font>
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># The exact version</small><br />
                  &nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.ownername }}/{{ vm.lib.name }} @ {{ vm.lib.version.name }}</font>
                </p>
            </div>

            <h3>Command Line Interface</h3>
            <p>
              <a href="/platformio-ide">PlatformIO IDE</a> has built-in <kbd><i class="fa fa-terminal"></i></kbd> Terminal
              that can be used to manage libraries manually:
            </p>

            <div class="well terminal">
              <p><i class="fa fa-angle-right fa-lg"></i> pio <font color="silver">lib install</font> "{{ vm.lib.ownername }}/{{ vm.lib.name }}@^{{ vm.lib.version.name }}"</p>
              <small class="comment"># Install specific <kbd>version</kbd></small><br>
              <i class="fa fa-angle-right fa-lg"></i> pio <font color="silver">lib install</font> "{{ vm.lib.ownername }}/{{ vm.lib.name }}@{{ vm.lib.version.name }}"
            </div>

            <h3>Download <small>source code</small></h3>
            <button type="button" class="btn btn-success btn-lg" uib-tooltip="Download Tar.Gz" ng-click="vm.downloadLib()"><i class="fa fa-download fa-lg"></i> {{ vm.lib.name }} @ {{ vm.lib.version.name }}</button>

          </uib-tab>

          <uib-tab select="vm.changeTab('headers')">
            <uib-tab-heading>
              <h4><i class="fa fa-file-code-o"></i> Headers</h4>
            </uib-tab-heading>

            <br>
            <p>
              <div class="alert alert-info" role="alert">
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-info-circle fa-lg fa-li"></i> PlatformIO allows to search for a library using known/missed header file name:
                    <ul>
                      <li>PlatformIO Web - <a href="/lib/search?query=header%253ARH_ASK.h" class="alert-link"><i class="fa fa-globe"></i> header:RH_ASK.h</a></li>
                      <li>PlatformIO Core - <kbd><i class="fa fa-angle-right fa-lg"></i> platformio lib search -i RH_ASK.h</kbd></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </p>

            <ul ng-if="vm.lib.headers.length" class="fa-ul">
              <li ng-repeat="header in vm.lib.headers"><i class="fa-li fa fa-file-code-o"></i> <h4>{{ header }}</h4></li>
            </ul>
          </uib-tab>

        </uib-tabset>
      </div>

      <div class="col-xs-4">
        <h3>Tags</h3>
        <div class="keywords">
          <a ng-href="/lib/search?query=keyword%253A%2522{{ keyword }}%2522" class="btn btn-default btn-sm" ng-repeat="keyword in vm.lib.keywords"><i class="fa fa-tag fa-lg"></i> {{ keyword }}</span></a>
        </div>

        <div class="keywords" ng-if="vm.lib.platforms.length">
          <h3 uib-tooltip="Compatible Platforms">Platforms</h3>
          <a href="/lib/search?query=platform%253A%2522{{ item.name }}%2522" class="btn btn-default btn-sm" ng-repeat="item in vm.lib.platforms"><i class="fa fa-laptop"></i> {{ item.title }}</a>
        </div>

        <div class="keywords" ng-if="vm.lib.frameworks.length">
          <h3 uib-tooltip="Compatible Frameworks">Frameworks</h3>
          <a ng-href="/lib/search?query=framework%253A%2522{{ item.name }}%2522" class="btn btn-default btn-sm" ng-repeat="item in vm.lib.frameworks"><i class="fa fa-cog"></i> {{ item.title }}</a>
        </div>

        <h3>Authors</h3>
        <div ng-repeat="author in vm.lib.authors" ng-class="{'lib-author-detail': !$first}">
          <i class="fa fa-book"></i> <a ng-href="/lib/search?query=author%253A%2522{{ author.name }}%2522"><strong>{{ author.name }}</strong><span ng-if="author.maintainer"> (maintainer)</span></a>
          <br>
          <div ng-if="author.email"><i class="fa fa-envelope"></i> <a href="mailto:{{ author.email }}">{{ author.email }}</a>
          </div>
          <div ng-if="author.url"><i class="fa fa-globe"></i> <a href="{{ author.url }}" target="_blank">{{ author.url }}</a>
          </div>
        </div>

        <h3 ng-if="vm.lib.homepage || vm.lib.repository">Resources</h3>
        <div ng-if="vm.lib.homepage"><i class="fa fa-home"></i> <a href="{{ vm.lib.homepage }}" target="_blank">Homepage</a></div>
        <div ng-if="vm.lib.repository"><i class="fa fa-github"></i> <a href="{{ vm.lib.repository }}" target="_blank">Repository</a></div>

        <h3>Downloads</h3>
        <b>{{ vm.lib.dlstats.day | number }}</b> in the last day
        <br><b>{{ vm.lib.dlstats.week | number }}</b> in the last week
        <br><b>{{ vm.lib.dlstats.month | number }}</b> in the last month

        <h3>Versions</h3>
        <div ng-repeat="item in vm.lib.versions.slice()">
          <span uib-tooltip="{{ item.released | date:'medium' }}"><strong>{{ item.name }}</strong> <small>released {{ item.released | relativeDate }}</small></span>
        </div>

      </div>
    </div>

  </article>


</div>
