<view-title>PlatformIO IDE: The next-generation integrated development environment for IoT</view-title>
<meta name="description" content="The next-generation integrated development environment for IoT" view-head />
<meta name="keywords" content="PlatformIO, IDE, IoT, development, atom, mac, linux, windows, arduino, mbed" view-head />

<div class="platformio-ide-top jumbotron text-center">
  <div class="container">
    <h1>
      <i class="fa fa-cube"></i> PlatformIO IDE
      <br><small>A new generation toolset for embedded C/C++ development</small>
    </h1>

    <ul class="list-inline">
      <li>
        <a class="btn btn-success btn-lg" href="/install/ide?install=vscode" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="VSCode"><i class="fa fa-download fa-lg"></i> &nbsp;Get for VSCode</a>
      </li>
      <li style="vertical-align: top; padding-top: 15px;">
        <a href="/install/integration"><i class="fa fa-heart-o" aria-hidden="true"></i> Looking for another editor?</a>
      </li>
    </ul>

    <p><small>It's built on top of <a href="https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide" target="_blank">Microsoft's Visual Studio Code</a> – free, open source, and MIT licensed editor</small></p>

  </div>
</div>

<div class="platformio-ide-laptop">
  <img src="https://cdn.platformio.org/images/platformio-ide-laptop.93fc8e69.png" alt="PlatformIO IDE - the next-generation integrated development environment for IoT" title="PlatformIO IDE - the next-generation integrated development environment for IoT" uib-tooltip="PlatformIO IDE - the next-generation integrated development environment for IoT" class="img-responsive center-block">
</div>

<div class="platformio-ide-features jumbotron">
  <div class="container">
    <div class="row text-center top-items-lg">
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-code fa-5x"></i></div></center>
        <h2>Rapid Development</h2>
        <p>
          C/C++ <abbr title="C/C++ Intelligent Code Completion">Intelligent Code Completion</abbr> and <abbr title="C/C++ Smart Code Linter">Smart Code Linter</abbr> for rapid professional development.
          Multi-projects workflow with Multiple Panes.
          Themes Support with dark and light colors.
        </p>
      </div>
      <div class="col-md-4">
        <center><div class="img-circle" style="padding-top: 40px;"><i class="fa fa-microchip fa-5x"></i></div></center>
        <h2>Embedded Development</h2>
        <p>
          Multi-platform Build System without external dependencies to operating system: <a href="/boards">800+ embedded boards</a>, <a href="/platforms">35+ development platforms</a>, <a href="/frameworks">20+ frameworks</a>.
           Arduino and ARM mbed compatible.
        </p>
      </div>
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-bug fa-5x"></i></div></center>
        <h2>Unified Debugger</h2>
        <p>
          <a href="https://docs.platformio.org/page/plus/debugging.html">PIO Unified Debugger</a> with a support for the multiple architectures and development platforms that allows you to <a href="/boards?sorting%5Bdebug%5D=asc">debug more than 250+ embedded boards</a> with Zero-Configuration!
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container text-center">
  <a name="other-platforms"></a>
  <h2>Single IDE. <span class="text-muted">Multiple platforms.</span></h2>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <p><i class="fa fa-windows fa-5x"></i></p>
      <h4>Windows</h4>
    </div>
    <div class="col-lg-4">
      <p><i class="fa fa-apple fa-5x"></i></p>
      <h4>Mac</h4>
    </div>
    <div class="col-lg-4">
      <p><i class="fa fa-linux fa-5x"></i></p>
      <h4>Linux</h4>
    </div>
  </div>
</div>

<br><br>


<div class="jumbotron text-center">
  <h2>Try it Now!</h2>
  <br>
  <p>
    <a class="btn btn-success btn-lg" href="/install/ide?install=vscode" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="VSCode"><i class="fa fa-download fa-lg"></i> &nbsp;Get for VSCode</a>
  </p>
</div>

