<view-title>{{ vm.vendors[vm.activeVendor].title }} · Embedded Boards</view-title>
<meta name="description" content="Pre-configured settings for {{ vm.vendors[vm.activeVendor].title }}" view-head />
<meta name="keywords" content="arduino, microduino, raspduino, msp430, tiva, arm, launchpad" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-gamepad"></i> Embedded Boards</h1>

    <p>
      <b>PlatformIO</b> has pre-configured settings for the most popular <i>Embedded Boards</i>.
    </p>
    <p>
      You can quickly initialize new project with specified <span class="label label-default">board</span> via 
      <a href="http://docs.platformio.org/en/latest/userguide/cmd_init.html"><i class="fa fa-terminal fa-lg"></i> platformio init --board</a> 
      command.
    </p>

  </div>
</div>

<div class="container">

  <tabset>
    <tab ng-repeat="vendor in vm.vendors" active="vendor.active">
      <tab-heading>
        <a href="#!/boards/{{ vendor.type }}" ng-click="vm.changeVendor('{{ vendor.type }}')">{{ vendor.title }}</a>
      </tab-heading>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Type <span class="label label-default">board</span></th>
            <th>Name</th>
            <th>Microcontroller</th>
            <th>Frequency</th>
            <th>Flash</th>
            <th>RAM</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="board in vm.boards[vendor.type]">
            <td><span class="label label-default">{{ board.type }}</span>
            </td>
            <th>{{ board.name }}</th>
            <td>{{ board.mcu }}</td>
            <td>{{ board.f_cpu }} MHz</td>
            <td>{{ board.rom }} Kb</td>
            <td>{{ board.ram }} Kb</td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-info">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-info-circle fa-lg fa-li"></i> For more detailed information about <b>{{ vendor.title }} Boards</b> please go to 
            <a href="http://docs.platformio.org/en/latest/platforms/index.html" class="alert-link">Documentation</a> or use <a href="http://docs.platformio.org/en/latest/userguide/cmd_boards.html" class="alert-link"><i class="fa fa-terminal fa-lg"></i> platformio boards</a> command.
          </li>
        </ul>
      </div>        

    </tab>
  </tabset>

</div>
