<view-title>Embedded Boards</view-title>
<meta name="description" content="Pre-configured settings for {{ vm.vendors[vm.activeVendor].name }}" view-head />
<meta name="keywords" content="arduino, microduino, raspduino, msp430, tiva, arm, launchpad" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-gamepad"></i> Embedded Boards</h1>

    <p>
      <b>PlatformIO</b> has pre-configured settings for the most popular <i>Embedded Boards</i>.
    </p>
    <p>
      <code>Hint!</code> You can quickly initialize new project with specified board <span class="label label-default">type</span> via
      <a href="http://docs.platformio.org/en/latest/userguide/cmd_init.html"><i class="fa fa-terminal fa-lg"></i> platformio init --board</a> command.
    </p>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8"><b>Group by</b> &nbsp;
      <div class="btn-group">
        <label class="btn btn-default" ng-model="vm.groupBy" btn-radio="'vendor'">Vendor</label>
        <label class="btn btn-default" ng-model="vm.groupBy" btn-radio="'platform'">Platform</label>
        <label class="btn btn-default" ng-model="vm.groupBy" btn-radio="'mcu'">MCU</label>
      </div>
    </div>
    <div class="col-md-4 text-right">
        <button ng-click="vm.tableParams.filter({})" class="btn btn-default">Clear filters</button>
        <button ng-click="vm.tableParams.sorting({'vendor' : 'asc'})" class="btn btn-default">Clear sorting</button>
    </div>
  </div>

  <br>

  <table ng-table="vm.tableParams" show-filter="true" class="table">
    <tbody ng-repeat="group in $groups">
      <tr class="ng-table-group">
        <td colspan="{{$columns.length}}">
          <a href="" ng-click="group.$hideRows = !group.$hideRows">
            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
            <strong>{{ group.value }}</strong>
          </a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="item in group.data">
        <td sortable="'type'" data-title="'Type'" filter="{ 'type': 'text' }">
          <span class="label label-default">{{ item.type }}</span>
        </td>
        <td sortable="'name'" data-title="'Name'" filter="{ 'name': 'text' }">
          <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
        </td>
        <td sortable="'platform'" data-title="'Platform'" filter="{ 'platform': 'select' }" filter-data="vm.getFilterData('platforms')">
          <a href="#!/platforms/{{ item.platform }}">{{ item.platform | typeToName : vm.platforms }}</a>
        </td>
        <td data-title="'Frameworks'" filter="{ 'frameworks': 'select' }" filter-data="vm.getFilterData('frameworks')">
            <span ng-repeat="framework in item.frameworks">
              <a href="#!/frameworks/{{ framework }}">{{ framework | typeToName : vm.frameworks }}</a><span ng-if="!$last">,&nbsp;</span>
            </span>           
        </td>          
        <td sortable="'mcu'" data-title="'MCU'" filter="{ 'mcu': 'text' }">
          {{ item.mcu }}
        </td>
        <td sortable="'fcpu'" data-title="'Frequency'">
          {{ item.fcpu | embeddedFormatter : 'frequency' }}
        </td>
        <td sortable="'ram'" data-title="'RAM'">
          {{ item.ram | embeddedFormatter : 'size' }}
        </td>
        <td sortable="'rom'" data-title="'Flash'">
          {{ item.rom | embeddedFormatter : 'size' }}
        </td>
      </tr>
    </tbody>
  </table>

</div>
