<div class="brands-contaier">
  <div class="container">
    <h2>Professional development environment for</h2>
    <a href="/boards" class="brands">
      <ul class="list-inline">
        <li><div class="brands brand-mbed"></div></li>
        <li><div class="brands brand-atmel"></div></li>
        <li><div class="brands brand-espresiff"></div></li>
        <li><div class="brands brand-intel"></div></li>
        <li><div class="brands brand-freescale"></div></li>
        <li><div class="brands brand-lattice"></div></li>
        <li><div class="brands brand-maxim"></div></li>
        <li><div class="brands brand-microchip"></div></li>
        <li><div class="brands brand-nordic"></div></li>
        <li><div class="brands brand-nxp"></div></li>
        <li><div class="brands brand-riscv"></div></li>
        <li><div class="brands brand-sifive"></div></li>
        <li><div class="brands brand-samsung-artik"></div></li>
        <li><div class="brands brand-siliconlabs"></div></li>
        <li><div class="brands brand-stm"></div></li>
        <li><div class="brands brand-teensy"></div></li>
        <li><div class="brands brand-ti"></div></li>
        <li><div class="brands brand-wiznet"></div></li>
        <li><div class="brands brand-arduino"></div></li>
        <li><div class="brands brand-energia"></div></li>
        <li><div class="brands brand-libopencm3"></div></li>
      </ul>
    </a>
  </div>
</div>