<view-title>Contact</view-title>
<meta name="description" content="Contact PlatformIO: Technical Support, Business, Partnership and Licensing" view-head />
<meta name="keywords" content="PlatformIO, contact, support, business, partnership, licensing" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-envelope"></i> Contact Us</h1>
    <p>
      We are ready to help you with whatever you need
    </p>
    <p>
       Before you contact us, we recommend checking our <a href="https://community.platformio.org">Community Forums</a> or seeing if your question is answered here.
    </p>
  </div>
</div>

<div class="container text-center main-featurette">
  <h2>Our Success Is Your Success!</h2>
  <p>
    To help ensure your success, we offer professional services with integrating your products with PlatformIO ecosystem for IoT development.
  </p>
  <p><a class="btn btn-success btn-lg" href="mailto:contact@pioplus.com" role="button" analytics-on analytics-event="Button" ><i class="fa fa-envelope fa-lg"></i> &nbsp;Contact Us / contact@pioplus.com</a> </p>
</div>

<div class="jumbotron" style="margin-top: 40px;">
  <div class="container top-items-xs" style="padding-top: 30px;">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle">
            <i class="fa fa-gamepad fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Embedded Board</h3>
            We respect embedded vendors and we are ready to save their time on developing own software instruments.
            Add your board to PlatformIO ecosytem and we will bring <b>new customers for your hardware.</b>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle">
            <i class="fa fa-laptop fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Development Platform</h3>
            PlatformIO helps to forget about the requirements for the specific host OS and software, tangled build logic, specific workflow on your development platform. <b>Be a part of PlatformIO ecosystem!</b>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 20px;">
            <i class="fa fa-cube fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">IDE</h3>
            PlatformIO can be easly integrated to your IDE and provide professional instruments for cross platform development without dependecies to the system software.
            It will help you to extend your users database significantly and <b>be on <abbr title="Internet of Things">IoT</abbr> trend</b>.
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle">
            <i class="fa fa-cloud fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Cloud</h3>
            PlatformIO is an ideal candidate for cross platform <b>Cloud Compiling</b>. It has built-in cache system
            and is ready for advanced tuning. We know which <b>architecture is suitable for your needs.</b>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 22px; padding-top: 18px;">
            <i class="fa fa-copyright fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Licensing</h3>
            <b>Commercial Licensing</b> of PlatformIO under a dual license model is designed to meet the
            development and distribution needs of both commercial distributors
            and open source projects.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 13px;">
            <i class="fa fa-trademark fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Trademark</h3>
            <b>Trademark Licensing</b> allows to use PlatformIO™ brand name and logo in your commerce.
            These marks are the <b>"green light" for your customers</b>, that indicate the products
            compatibility with PlatformIO ecosystem.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
