<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">PlatformIO Demo</h3>
  </div>
  <div class="modal-body">
    <tabset>
      <tab heading="Wiring Blink">
        <img src="images/platformio-demo-wiring.gif" alt="PlatformIO Demo Wiring Blink" title="PlatformIO Demo Wiring Blink" tooltip="PlatformIO Demo Wiring Blink">
      </tab>
      <tab heading="Platform Manager">
        <img src="images/platformio-demo-platforms.gif" alt="PlatformIO Demo Platform Manager" title="PlatformIO Demo Platform Manager" tooltip="PlatformIO Demo Platform Manager">
      </tab>
      <tab heading="Library Manager">
        <img src="images/platformio-demo-lib.gif" alt="PlatformIO Demo Library Manager" title="PlatformIO Demo Library Manager" tooltip="PlatformIO Demo Library Manager">
      </tab>
    </tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="vm.cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="vm.ok()"><i class="fa fa-download fa-lg"></i> Install PlatformIO</button>
  </div>
</div>
