<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">PlatformIO Demo</h3>
  </div>
  <div class="modal-body">
    <uib-tabset>
      <uib-tab heading="Wiring Blink">
        <img src="images/platformio-demo-wiring.gif" alt="PlatformIO Demo Wiring Blink" title="PlatformIO Demo Wiring Blink" tooltip="PlatformIO Demo Wiring Blink">
        <h3>Used in demo</h3>
        <ol>
          <li>Source code of <a class="reference external" href="https://github.com/platformio/platformio/tree/develop/examples/wiring-blink" target="_blank">Wiring Blink Example</a></li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio run</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio run -t upload</a> command</li>
        </ol>
      </uib-tab>
      <uib-tab heading="Platform Manager">
        <img src="images/platformio-demo-platforms.gif" alt="PlatformIO Demo Platform Manager" title="PlatformIO Demo Platform Manager" tooltip="PlatformIO Demo Platform Manager">
        <h3>Used in demo</h3>
        <ol class="arabic simple">
          <li><a href="http://docs.platformio.org/en/latest/userguide/platforms/index.html" target="_blank">Platform Manager</a></li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/platforms/cmd_list.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio platforms list</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/platforms/cmd_search.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio platforms search avr</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/platforms/cmd_show.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio platforms show teensy</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/platforms/cmd_update.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio platforms update</a> command</li>
        </ol>
      </uib-tab>
      <uib-tab heading="Library Manager">
        <img src="images/platformio-demo-lib.gif" alt="PlatformIO Demo Library Manager" title="PlatformIO Demo Library Manager" tooltip="PlatformIO Demo Library Manager">
        <h3>Used in demo</h3>
        <ol class="arabic simple">
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/index.html" target="_blank">Library Manager</a></li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_search.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib search 1-wire</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_install.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib install 54</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_search.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib search -f mbed</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_search.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib search -k rf</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_search.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib search radiohead</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_install.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib install 124 –version “1.40”</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_show.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib show 124</a> command</li>
          <li><a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_update.html" target="_blank"><i class="fa fa-angle-right fa-lg"></i> platformio lib update</a> command</li>
        </ol>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="vm.cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="vm.ok()"><i class="fa fa-download fa-lg"></i> Install PlatformIO</button>
  </div>
</div>
