<div class="donate">
  <ul class="list-inline text-center">
    <li><button type="button" class="btn btn-success btn-lg" ng-click="vm.paddleCheckout({product: 657410, quantity: 100})"><i class="fa fa-heart-o"></i> More</button></li>
    <li><button type="button" class="btn btn-primary" ng-click="vm.paddleCheckout({product: 657410, quantity: 50})"><i class="fa fa-dollar"></i> 500</button></li>
    <li><button type="button" class="btn btn-primary btn-sm" ng-click="vm.paddleCheckout({product: 657410, quantity: 10})"><i class="fa fa-dollar"></i> 100</button></li>
    <li><button type="button" class="btn btn-primary btn-sm" ng-click="vm.paddleCheckout({product: 657410, quantity: 5})"><i class="fa fa-dollar"></i> 50</button></li>
    <li><button type="button" class="btn btn-default btn-xs" ng-click="vm.paddleCheckout({product: 657410, quantity: 3})"><i class="fa fa-dollar"></i> 30</button></li>
    <li><button type="button" class="btn btn-default btn-xs" ng-click="vm.paddleCheckout({product: 657410, quantity: 1})"><i class="fa fa-dollar"></i> 10</button></li>
  </ul>
</div>
