<div>
  <hr class="home-divider-small" />
  <h2>Donate to PlatformIO Project <br /><small>The only open-source and vendor-agnostic ecosystem for embedded development</small></h2>
  <p style="margin: 20px 0;">If you have found PlatformIO to be useful in your work, research or company, please consider making a donation to the project commensurate with your resources. Any amount helps! All donations will be used strictly to fund the development of PlatformIO Project.</p>
  <div ng-include="'views/donation_buttons.html'"></div>
  <p>Learn more about <a href="/donate">donating to PlatformIO Project</a>.</p>
</div>