<div>
  <hr class="home-divider-small" />
  <h2>Donate to PlatformIO Project <br /><small>Fuel the Future of PlatformIO: Empower Open-Source Innovation for Everyone</small></h2>
  <p style="margin: 20px 0;">PlatformIO is free and open-source software. Please consider making a donation to ensure it continues to thrive and remain independent for years to come.</p>
  <div ng-include="'views/donation_buttons.html'"></div>
  <p>Learn more about <a href="/donate">donating to PlatformIO Project</a>.</p>
</div>