<view-title>Donate to keep PlatformIO.Org alive!</view-title>
<meta name="description" content="Donate to keep PlatformIO.Org alive!" view-head />
<meta name="keywords" content="PlatformIO, donate" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-heart-o"></i> Donate</h1>
    <p>Donate to keep PlatformIO.Org alive! Your support is critical for the further development.</p>
  </div>
</div>

<div class="container">
  <h2>Dear User,</h2>

  <p>
    Thanks a lot for your choice to use <b>PlatformIO an open source ecosystem for IoT
      development</b>. The mission of <a href="/contact">PlatformIO Team</a> is to

    <ul>
      <li>keep PlatformIO OPEN for the all board vendors and framework/SDK authors</li>
      <li>keep it totally for FREE even for the commercial using</li>
      <li>provide HIGH quality support for FREE.</li>
    </ul>

    If you have found PlatformIO to be useful in your work, research or company,
    please consider making a donation to the project commensurate with your
    resources. Any amount helps! All donations will be used strictly to fund
    the development of PlatformIO Project.
  </p>

  <div class="donate">
    <ul class="list-inline text-center">
      <li><a class="btn btn-success btn-lg" href="https://salt.bountysource.com/checkout/amount?team=platformio" role="button" target="_blank"><i class="fa fa-heart-o"></i> More</a></li>
      <li><a class="btn btn-primary" href="https://salt.bountysource.com/checkout/amount?team=platformio&amount=100" role="button" target="_blank"><i class="fa fa-dollar"></i> 100</a></li>
      <li><a class="btn btn-primary btn-sm" href="https://salt.bountysource.com/checkout/amount?team=platformio&amount=50" role="button" target="_blank"><i class="fa fa-dollar"></i> 50</a></li>
      <li><a class="btn btn-primary btn-sm" href="https://salt.bountysource.com/checkout/amount?team=platformio&amount=25" role="button" target="_blank"><i class="fa fa-dollar"></i> 25</a></li>
      <li><a class="btn btn-default btn-xs" href="https://salt.bountysource.com/checkout/amount?team=platformio&amount=10" role="button" target="_blank"><i class="fa fa-dollar"></i> 10</a></li>
      <li><a class="btn btn-default btn-xs" href="https://salt.bountysource.com/checkout/amount?team=platformio&amount=5" role="button" target="_blank"><i class="fa fa-dollar"></i> 5</a></li>
      <li> or </li>
      <li><a class="btn btn-warning btn-lg" href="bitcoin:1131wW4aKfvuCFRRXn7ind8HZmrfRgDaDx?label=Donation%20for%20The%20PlatformIO%20Team" role="button"><i class="fa fa-btc"></i> Bitcoin</a></li>
    </ul>
  </div>

  <h4>Sincerely, <a href="/contact">PIO Plus Team</a>.</h4>

</div>
