<view-title>Getting Started</view-title>
<meta name="description" content="Learn how to install and use PlatformIO, configure and build your first cross-platform 'Blink' project for Arduino, Teensy and MSP430" view-head />
<meta name="keywords" content="PlatformIO, cli, command line, arduino, msp430, builder, teensy, raspberry, beaglebone" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-rocket"></i> Getting Started</h1>

    <p>Learn how to install PlatformIO IDE, create and build cross-platform <i>"Blink"</i> project</p>
    <p>Find out how to integrate PlatformIO with the popular IDEs and Continuous Integration systems.</p>
  </div>
</div>

<div class="container get-started" ng-if="!vm.installIDE">
  <div class="row text-center top-items-lg">
    <div class="col-md-4 item" ng-class="{'active': vm.gsType == 'cli'}">
      <center>
        <div class="img-circle" ng-if="vm.gsType == 'cli'"><i class="fa fa-terminal fa-5x"></i></div>
        <a href="/get-started/cli" ng-if="vm.gsType != 'cli'"><div class="img-circle"><i class="fa fa-terminal fa-5x"></i></div></a>
      </center>
      <h2>PlatformIO Core</h2>
      <p>
        Learn how to install <b>PlatformIO Command Line Tool</b>, create and build cross-platform <i>"Blink"</i> project.
        Watch our <b>interactive demo</b> for Platform and Library Manager (click on Tabs in Terminal).
      </p>
      <p ng-if="vm.gsType == 'cli'"><i class="fa fa-chevron-down fa-2x"></i></p>
      <p ng-if="vm.gsType != 'cli'"><a class="btn btn-default" href="/get-started/cli" role="button">Get Started</a></p>
    </div>
    <div class="col-md-4 item" ng-class="{'active': vm.gsType == 'ide'}">
      <center>
        <div class="img-circle" ng-if="vm.gsType == 'ide'"><i class="fa fa-cube fa-5x"></i></div>
        <a href="/get-started/ide" ng-if="vm.gsType != 'ide'"><div class="img-circle"><i class="fa fa-cube fa-5x"></i></div></a>
      </center>
      <h2>PlatformIO IDE</h2>
      <p>
        Learn how to install <b>the next-generation</b> integrated development environment for IoT.
        <br>Try-out our <b>Quick Start Guide</b> how to create cross-platform <i>"Blink"</i> project with illustrations.
      </p>
      <p ng-if="vm.gsType == 'ide'"><i class="fa fa-chevron-down fa-2x"></i></p>
      <p ng-if="vm.gsType != 'ide'"><a class="btn btn-default" href="/get-started/ide" role="button">Get Started</a></p>
    </div>
    <div class="col-md-4 item" ng-class="{'active': vm.gsType == 'integration'}">
      <center>
        <div class="img-circle" ng-if="vm.gsType == 'integration'"><i class="fa fa-heart-o fa-5x"></i></div>
        <a href="/get-started/integration" ng-if="vm.gsType != 'integration'"><div class="img-circle"><i class="fa fa-heart-o fa-5x"></i></div></a>
      </center>
      <h2>Integration</h2>
      <p>
        Find out how to integrate PlatformIO with the popular <b>Cloud &amp; Standalone IDEs</b> and <b>Continuous Integration</b> (CI) systems.
        <br>Extend your favourite environment with professional instruments.
      </p>
      <p ng-if="vm.gsType == 'integration'"><i class="fa fa-chevron-down fa-2x"></i></p>
      <p ng-if="vm.gsType != 'integration'"><a class="btn btn-default" href="/get-started/integration" role="button">Get Started</a></p>
    </div>
  </div>

  <hr ng-if="vm.gsType != ''">

  <div class="platformio-ide-laptop" style="margin-top: 0" ng-if="vm.gsType == 'ide'">
    <img src="images/platformio-ide-laptop.png" alt="PlatformIO IDE - the next-generation integrated development environment for IoT" title="PlatformIO IDE - the next-generation integrated development environment for IoT" uib-tooltip="PlatformIO IDE - the next-generation integrated development environment for IoT" class="img-responsive center-block">
  </div>

  <div class="terminal-window" ng-if="vm.gsType == 'cli'">
    <div class="tw-panel">
      <div class="pull-left">
        <i class="fa fa-circle" style="color: #FD605B;"></i>
        <i class="fa fa-circle" style="color: #FFBB3B;"></i>
        <i class="fa fa-circle" style="color: #34C748;"></i>
      </div>
      <i class="fa fa-terminal"></i> PlatformIO Core - Terminal
    </div>

    <uib-tabset active="vm.cliDemoActive" type="pills" justified="true">
      <uib-tab ng-repeat="demo in vm.cliDemos" index="$index">
        <uib-tab-heading>
          <i class="fa fa-{{demo.icon}}"></i> {{demo.title}}
        </uib-tab-heading>
        <div class="tw-content"><img ng-src="{{demo.image}}"></div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div ng-if="vm.gsType == 'integration'">

    <p>
      <div class="text-center">
        <div class="btn-group">
          <label class="btn btn-default btn-sm" ng-model="vm.ideDemoActive" ng-repeat="item in vm.ideDemos" uib-btn-radio="$index">{{ item.title }}</label>
        </div>
      </div>
    </p>

    <h2 class="text-center">PlatformIO <i class="fa fa-heart-o"></i> <a href="{{vm.ideDemos[vm.ideDemoActive].url}}">{{vm.ideDemos[vm.ideDemoActive].title}}</a></h2>
    <div class="ide-carousel" style="max-height: {{vm.slideHeight}}px;">
      <div uib-carousel active="vm.ideDemoActive" interval="vm.ideDemoInterval">
        <div uib-slide ng-repeat="demo in vm.ideDemos" index="$index">
          <a href="{{demo.url}}"><div class="ide-slide" style="background-image: url({{demo.image}}); height: {{vm.slideHeight}}px;"></div></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container get-started-ide-installation text-center" ng-if="vm.installIDE">
  <div ng-if="vm.installIDE !== 'vscode'">
    <h2>Thank you for choosing PlatformIO IDE for Atom</h2>
    <dl class="dl-horizontal text-left">
      <dt><i class="fa fa-hand-o-right" aria-hidden="true"></i></dt>
      <dd><a href="https://atom.io" target="_blank">Download</a> and install official GitHub's Atom text editor, PlatformIO IDE is built on top of it</dd>
      <dt><i class="fa fa-hand-o-right" aria-hidden="true"></i></dt>
      <dd>
        <ol>
          <li>
            <b>Open</b> Atom Package Manager
            <ul>
              <li><b>Windows</b>, <code>Menu: File > Settings > Install</code></li>
              <li><b>macOS</b>, <code>Menu: Atom > Preferences > Install</code></li>
              <li><b>Linux</b>, <code>Menu: Edit > Preferences > Install</code></li>
            </ul>
          </li>
          <li><b>Search</b> for official <kbd>platformio-ide</kbd> package</li>
          <li><b>Install</b> PlatformIO IDE.
        </ol>

        <img src="images/platformio-ide-atom-pkg-installer.png" alt="Atom Package Manager and PlatformIO IDE auto-installer" />
      </dd>
    </dl>
  </div>

  <div ng-if="vm.installIDE === 'vscode'">
    <h2>Thank you for choosing PlatformIO IDE for VSCode</h2>
    <dl class="dl-horizontal text-left">
      <dt><i class="fa fa-hand-o-right" aria-hidden="true"></i></dt>
      <dd><a href="https://code.visualstudio.com" target="_blank">Download</a> and install official Microsoft's Visual Studio Code, PlatformIO IDE is built on top of it</dd>
      <dt><i class="fa fa-hand-o-right" aria-hidden="true"></i></dt>
      <dd>
        <ol>
          <li><b>Open</b> VSCode Extension Manager</li>
          <li><b>Search</b> for official <kbd>platformio-ide</kbd> extension</li>
          <li><b>Install</b> PlatformIO IDE.
        </ol>
        <img src="images/platformio-ide-vscode-pkg-installer.png" alt="VSCode Extensions Manager and PlatformIO IDE auto-installer" />
      </dd>
    </dl>
  </div>

  <hr>

  <a class="btn btn-success btn-lg" href="http://docs.platformio.org/page/ide/{{ vm.installIDE }}.html" role="button" analytics-on analytics-event="QuickStart" analytics-category="IDE" analytics-label="{{ vm.installIDE }}"><i class="fa fa-rocket fa-lg"></i> &nbsp;Start PlatformIO Project</a>

</div>

<div class="jumbotron get-started" ng-if="vm.gsType != ''">
  <div class="container top-items-xs" style="padding-top: 30px;">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle">
            <i class="fa fa-rocket fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Get Started</h3>

            <div ng-if="vm.gsType == 'ide'">
              Install the next-generation PlatformIO IDE.
              <div ng-if="vm.installIDE"><b>See installation steps above.</b></div>
              <p ng-if="!vm.installIDE"><a class="btn btn-success" href="/platformio-ide" role="button"><i class="fa fa-download fa-lg"></i> &nbsp;Install PlatformIO IDE</a></p>
            </div>

            <div ng-if="vm.gsType != 'ide'">
              Install PlatformIO Core with Command Line Interface (CLI).
              <p><a class="btn btn-success" href="http://docs.platformio.org/page/installation.html" role="button" analytics-on analytics-event="Install" analytics-category="CLI" analytics-label="Get Started"><i class="fa fa-terminal fa-lg"></i> &nbsp;Install PlatformIO Core</a></p>
              <br>
              <b>PlatformIO</b> is written in Python and works on Mac OS X, Linux, Windows OS and ARM-based credit-card sized computers.
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 19px; padding-top: 17px;">
            <i class="fa fa-book fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Documentation</h3>
            Documentation is a great resource to get you started with PlatformIO.

            <div ng-if="vm.gsType == 'ide'">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/page/ide/{{ vm.installIDE || 'atom' }}.html#installation">Installation Guide</a> provides instructions on how to install and launch PlatformIO IDE</li>
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/page/ide/{{ vm.installIDE || 'atom' }}.html#quick-start">Quick Start Guide</a> how to create cross-platform <i>"Blink"</i> Project</li>
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/page/ide/{{ vm.installIDE || 'atom' }}.html#user-guide">User Guide</a> for PlatformIO IDE</li>
                <li><i class="fa-li fa fa-chevron-right"></i>All online <a href="http://docs.platformio.org/">Documentation</a></li>
              </ul>
            </div>

            <div ng-if="vm.gsType == 'cli'">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i>Getting Started with <a href="http://docs.platformio.org/page/core.html">PlatformIO Core</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i>Advanced documentation for <a href="http://docs.platformio.org/page/projectconf.html">Project Configuration File (platformio.ini)</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i>Read <a href="http://docs.platformio.org/page/articles.html">Articles about PlatformIO</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i>All online <a href="http://docs.platformio.org/">Documentation</a></li>
              </ul>
            </div>

            <div ng-if="vm.gsType == 'integration'">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/page/ide.html#cloud-ide">Cloud IDE Integration</a> with Cloud9, Codeanywhere and Eclipse Che (Codenvy)</li>
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/page/ide.html#standalone-ide">Standalone IDE Integration</a> with Atom, CLion, CodeBlocks, Eclipse, Emacs, NetBeans, Qt Creator, Sublime Text, Vim, Visual Studio</li>
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/page/ci/index.html">Continuous Integration</a> with AppVeyor, Circle CI, Drone, Shippable and Travis CI</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Advanced using of <a href="http://docs.platformio.org/page/userguide/cmd_init.html#cmdoption-platformio-init--ide">platformio init --ide</a> Project Generator</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Learn how to use helper <a href="http://docs.platformio.org/page/userguide/cmd_ci.html">platformio ci</a> command in combination with Continuous Integration Systems</li>
                <li><i class="fa-li fa fa-chevron-right"></i>All online <a href="http://docs.platformio.org/">Documentation</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 27px;">
            <i class="fa fa-question fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Get Help</h3>
            There are many sources of help in the PlatformIO community and ecosystem.
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-chevron-right"></i>Ask questions and get answers in our <a href="https://community.platformio.org">Community Forums</a></li>
              <li ng-if="vm.gsType != 'ide'"><i class="fa-li fa fa-chevron-right"></i>Open bug reports or submit a feature requests in <a href="https://github.com/platformio/platformio" target="_blank">PlatformIO Issues</a></li>
              <li ng-if="vm.gsType == 'ide'"><i class="fa-li fa fa-chevron-right"></i>Open bug reports or submit a feature requests in <a href="https://github.com/platformio/platformio-{{ vm.installIDE || 'atom' }}-ide" target="_blank">PlaformIO IDE Issues</a></li>
              <li><i class="fa-li fa fa-chevron-right"></i><a href="/contact">Contact Us</a> and we will integrate your products to PlatformIO ecosystem</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
