<meta name="description" content="Learn how to install and use PlatformIO, configure and build your first cross-platform 'Blink' project for Arduino, Teensy and MSP430" view-head />
<meta name="keywords" content="PlatformIO, cli, command line, arduino, msp430, builder, teensy, raspberry, beaglebone" view-head />

<div class="jumbotron">
  <div class="container">
    <h1 view-title><i class="fa fa-rocket"></i> Getting Started</h1>

    <p>Learn how to install PlatformIO IDE, create and build cross-platform <i>"Blink"</i> project</p>
    <p>Find out how to integrate PlatformIO with the popular IDEs and Continuous Integration systems.</p>
  </div>
</div>

<div class="container get-started">
  <div class="row text-center top-items-lg">
    <div class="col-md-4 item" ng-class="{'active': vm.gsType == 'cli'}">
      <center>
        <div class="img-circle" ng-if="vm.gsType == 'cli'"><i class="fa fa-terminal fa-5x"></i></div>
        <a href="#!/get-started/cli" ng-if="vm.gsType != 'cli'"><div class="img-circle"><i class="fa fa-terminal fa-5x"></i></div></a>
      </center>
      <h2>PlatformIO CLI</h2>
      <p>
        Learn how to install <b>PlatformIO Command Line Tool</b>, create and build cross-platform <i>"Blink"</i> project.
        Watch our <b>interactive demo</b> for Platform and Library Manager (click on Tabs in Terminal).
      </p>
      <p ng-if="vm.gsType == 'cli'"><i class="fa fa-chevron-down fa-2x"></i></p>
      <p ng-if="vm.gsType != 'cli'"><a class="btn btn-default" href="#!/get-started/cli" role="button">Get Started</a></p>
    </div>      
    <div class="col-md-4 item" ng-class="{'active': vm.gsType == 'ide'}">
      <center>
        <div class="img-circle" ng-if="vm.gsType == 'ide'"><i class="fa fa-cube fa-5x"></i></div>
        <a href="#!/get-started/ide" ng-if="vm.gsType != 'ide'"><div class="img-circle"><i class="fa fa-cube fa-5x"></i></div></a>
      </center>
      <h2>PlatformIO IDE</h2>
      <p>
        Learn how to install <b>the next generation</b> integrated development environment for IoT.
        <br>Try-out our <b>Quick Start Guide</b> how to create cross-platform <i>"Blink"</i> project with illustrations.
      </p>
      <p ng-if="vm.gsType == 'ide'"><i class="fa fa-chevron-down fa-2x"></i></p>
      <p ng-if="vm.gsType != 'ide'"><a class="btn btn-default" href="#!/get-started/ide" role="button">Get Started</a></p>
    </div>
    <div class="col-md-4 item" ng-class="{'active': vm.gsType == 'integration'}">
      <center>
        <div class="img-circle" ng-if="vm.gsType == 'integration'"><i class="fa fa-heart-o fa-5x"></i></div>
        <a href="#!/get-started/integration" ng-if="vm.gsType != 'integration'"><div class="img-circle"><i class="fa fa-heart-o fa-5x"></i></div></a>
      </center>
      <h2>Integration</h2>
      <p>
        Find out how to integrate PlatformIO with the popular <b>Integrated Development Environments</b> (IDE) and <b>Continuous Integration</b> (CI) systems.
        Extend your favourite environment with professional instruments.
      </p>
      <p ng-if="vm.gsType == 'integration'"><i class="fa fa-chevron-down fa-2x"></i></p>
      <p ng-if="vm.gsType != 'integration'"><a class="btn btn-default" href="#!/get-started/integration" role="button">Get Started</a></p>
    </div>
  </div>

  <hr ng-if="vm.gsType != ''">

  <div class="platformio-ide-laptop" style="margin-top: 0" ng-if="vm.gsType == 'ide'">
    <img src="images/platformio-ide-laptop.png" alt="PlatformIO IDE - the next generation integrated development environment for IoT" title="PlatformIO IDE - the next generation integrated development environment for IoT" tooltip="PlatformIO IDE - the next generation integrated development environment for IoT" class="img-responsive center-block">
  </div>

  <div class="terminal-window" ng-if="vm.gsType == 'cli'">
    <div class="tw-panel">
      <div class="pull-left">
        <i class="fa fa-circle" style="color: #FD605B;"></i>
        <i class="fa fa-circle" style="color: #FFBB3B;"></i>
        <i class="fa fa-circle" style="color: #34C748;"></i>
      </div>
      <i class="fa fa-terminal"></i> PlatformIO CLI - Terminal
    </div>

    <uib-tabset active="vm.cliDemoActive" type="pills" justified="true">
      <uib-tab ng-repeat="demo in vm.cliDemos" index="$index">
        <uib-tab-heading>
          <i class="fa fa-{{demo.icon}}"></i> {{demo.title}}
        </uib-tab-heading>
        <div class="tw-content"><img ng-src="{{demo.image}}"></div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div ng-if="vm.gsType == 'integration'">
    <h2 class="text-center">PlatformIO <i class="fa fa-heart-o"></i> {{vm.ideDemos[vm.ideDemoActive].title}}</h2>
    <div class="ide-carousel" style="max-height: {{vm.slideHeight}}px;">
      <uib-carousel active="vm.ideDemoActive" interval="vm.ideDemoInterval">
        <uib-slide ng-repeat="demo in vm.ideDemos" index="$index">
          <div class="ide-slide" style="background-image: url({{demo.image}}); height: {{vm.slideHeight}}px;" ng-click="alert('{{demo.title}}')"></div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>

<div class="jumbotron get-started" ng-if="vm.gsType != ''">
  <div class="container top-items-xs" style="padding-top: 30px;">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle">
            <i class="fa fa-rocket fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Get Started</h3>

            <div ng-if="vm.gsType == 'ide'">
              Download and install the next generation PlatformIO IDE.
              <p><a class="btn btn-success" href="#!/platformio-ide" role="button"><i class="fa fa-download fa-lg"></i> &nbsp;Download PlatformIO IDE</a></p>
              <br>
              PlatformIO IDE is built on top of GitHub's Atom "hackable" text editor. If you have Atom already installed please use 
              <a href="http://docs.platformio.org/en/latest/ide/atom.html#manual-installation" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="Package">PlatformIO IDE package for Atom</a>.
            </div>

            <div ng-if="vm.gsType != 'ide'">
              Install PlatformIO tool with Command Line Interface (CLI).
              <p><a class="btn btn-success" href="http://docs.platformio.org/en/latest/installation.html" role="button" analytics-on analytics-event="Install" analytics-category="CLI" analytics-label="Get Started"><i class="fa fa-terminal fa-lg"></i> &nbsp;Install PlatformIO CLI</a></p>
              <br>
              <b>PlatformIO</b> is written in Python and works on Mac OS X, Linux, Windows OS and ARM-based credit-card sized computers.
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 19px; padding-top: 17px;">
            <i class="fa fa-book fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Documentation</h3>
            Documentation is a great resource to get you started with PlatformIO.

            <div ng-if="vm.gsType == 'ide'">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/en/latest/ide/atom.html#quick-start">Quick Start Guide</a> how to launch and create <i>"Blink"</i> Project</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Getting Started with the <a href="http://docs.platformio.org/en/latest/ide/atom.html#user-guide">PlatformIO IDE User Guide</a>.</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Read <a href="http://docs.platformio.org/en/latest/ide/atom.html#articles-manuals">Articles and Manuals</a> with tutorials how to use PlatformIO IDE with the real embedded devices</li>
                <li><i class="fa-li fa fa-chevron-right"></i>All online <a href="http://docs.platformio.org/">Documentation</a></li>
              </ul>
            </div>

            <div ng-if="vm.gsType == 'cli'">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/en/latest/quickstart.html">Quick Start Guide</a> how to create <i>"Blink"</i> Project</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Getting Started with the <a href="http://docs.platformio.org/en/latest/userguide/index.html">PlatformIO CLI User Guide</a>.</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Advanced documentation for <a href="http://docs.platformio.org/en/latest/projectconf.html">Project Configuration File (platformio.ini)</a>.</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Read <a href="http://docs.platformio.org/en/latest/articles.html">Articles about PlatformIO</a> with tutorials how to use PlatformIO CLI with the real embedded devices</li>
                <li><i class="fa-li fa fa-chevron-right"></i>All online <a href="http://docs.platformio.org/">Documentation</a></li>
              </ul>
            </div>

            <div ng-if="vm.gsType == 'integration'">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/en/latest/ide.html">IDE Integration</a> with Atom, CLion, Eclipse, Emacs, NetBeans, Qt Creator, Sublime Text, VIM and Visual Studio</li>
                <li><i class="fa-li fa fa-chevron-right"></i><a href="http://docs.platformio.org/en/latest/ci/index.html">Continuous Integration</a> with AppVeyor, Circle CI, Drone, Shippable and Travis CI</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Advanced using of <a href="http://docs.platformio.org/en/latest/userguide/cmd_init.html#cmdoption-platformio-init--ide">platformio init --ide</a> Project Generator.</li>
                <li><i class="fa-li fa fa-chevron-right"></i>Learn how to use helper <a href="http://docs.platformio.org/en/latest/userguide/cmd_ci.html">platformio ci</a> command in combination with Continuous Integration Systems.</li>
                <li><i class="fa-li fa fa-chevron-right"></i>All online <a href="http://docs.platformio.org/">Documentation</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 img-circle" style="padding-left: 27px;">
            <i class="fa fa-question fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3 class="media-heading">Get Help</h3>
            There are many sources of help in the PlatformIO community and ecosystem.
            <ul class="fa-ul">
              <li ng-if="false"><i class="fa-li fa fa-chevron-right"></i>Ask questions and get answers in our <a href="http://community.platformio.org" target="_blank">Community Forums</a></li>
              <li><i class="fa-li fa fa-chevron-right"></i>Get quick responses and friendly chat in the <a href="https://gitter.im/platformio/platformio" target="_blank">Technical Support</a> room</li>
              <li ng-if="vm.gsType != 'ide'"><i class="fa-li fa fa-chevron-right"></i>Open bug reports or submit a feature requests in <a href="https://github.com/platformio/platformio" target="_blank">PlatformIO Issues</a></li>
              <li ng-if="vm.gsType == 'ide'"><i class="fa-li fa fa-chevron-right"></i>Open bug reports or submit a feature requests in <a href="https://github.com/platformio/platformio-atom-ide" target="_blank">PlaformIO IDE Issues</a></li>
              <li><i class="fa-li fa fa-chevron-right"></i><a href="#!/contact">Contact Us</a> and we will integrate your products to PlatformIO ecosystem</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
