<meta name="description" content="Learn how to install and use PlatformIO, configure and build your first cross-platform 'Blink' project for Arduino, Teensy and MSP430" view-head />
<meta name="keywords" content="PlatformIO, cli, command line, arduino, msp430, builder, teensy, raspberry, beaglebone" view-head />

<div class="jumbotron">
  <div class="container">
    <h1 view-title><i class="fa fa-rocket"></i> Getting Started</h1>

    <p>
      Learn how to install and use <i>PlatformIO</i>, configure and build your first cross-platform <i>"Blink"</i> project
    </p>

  </div>
</div>

<div class="container">

  <h2>Installation</h2>

  <p>
    <b>PlatformIO</b> is written in <i>Python</i> and works on <i>Mac OS X, Linux, Windows OS</i> and ARM-based credit-card sized computers (<i>Raspberry Pi, BeagleBone, CubieBoard</i>).
  </p>

  <p>
    All commands below should be executed in <a href="http://en.wikipedia.org/wiki/Command-line_interface" target="_blank">Command-line</a> application (Terminal):
    <ul>
      <li>Mac OS X / Linux – Terminal application</li>
      <li>Windows – <code>cmd.exe</code> application.</li>
    </ul>

    <div class="alert alert-warning">
      <ul class="fa-ul">
        <li>
          <i class="fa fa-windows fa-lg fa-li"></i> Windows Users: Please <a href="https://www.python.org/downloads/" target="_blank" class="alert-link"><i class="fa fa-download"></i> Download the latest Python 2.7.x</a> and install it. <b>DON’T FORGET</b> to select <code>Add python.exe to Path</code> feature on the "Customize" stage.
        </li>
      </ul>
    </div>

    <p>Paste each command at a Terminal prompt and run using <a href="https://pip.pypa.io" target="_blank">pip</a> (<b>MAY require</b> administrator access <code>sudo</code>):</p>

    <span class="label label-default">Terminal</span>
    <div class="well terminal">
      <p class="cmd"><font color="gray"># update dependent packages to the latest versions</font><br><i class="fa fa-angle-right fa-lg"></i> pip install -U pip setuptools</p>
      <p class="cmd"><font color="gray"># install/upgrade the latest version of PlatformIO</font><br><i class="fa fa-angle-right fa-lg"></i> pip install -U platformio</p>
    </div>

    <div class="alert alert-info">
      <ul class="fa-ul">
        <li>
          <i class="fa fa-info-circle fa-lg fa-li"></i> More installation options, troubleshooting and detailed information are located in <a href="http://docs.platformio.org/en/latest/installation.html" class="alert-link" analytics-on analytics-event="Button" analytics-category="Docs" analytics-label="GetStarted"><i class="fa fa-book"></i> Documentation</a>.
        </li>
      </ul>
    </div>
  </p>

  <hr>

  <h2>Quickstart</h2>

  <ol>
    <li>Find board <code>type</code> using <a href="#!/boards">Embedded Boards Explorer</a> page or via <a href="http://docs.platformio.org/en/latest/userguide/cmd_boards.html"><i class="fa fa-angle-right fa-lg"></i> platformio boards</a> command</li>
    <li>
      Initialize new <i>PlatformIO</i> based project via <a href="http://docs.platformio.org/en/latest/userguide/cmd_init.html"><i class="fa fa-angle-right fa-lg"></i> platformio init</a> command
      with the pre-configured environments for your boards:
      <br>
      <span class="label label-default">Terminal</span>
      <div class="well terminal">
        <p class="cmd"><i class="fa fa-angle-right fa-lg"></i> platformio init --board=TYPE_1 --board=TYPE_2 --board=TYPE_N</p>
      </div>
      <p>Put your source code <code>*.h, *.c, *.cpp, *.S, *.pde or *.ino</code> files to <code>src</code> directory.</p>
    </li>
    <li>
      Process the project's environments via <a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html"><i class="fa fa-angle-right fa-lg"></i> platformio run</a> command.
      <p><u>Change working directory</u> to the project's root where is located <a href="http://docs.platformio.org/en/latest/projectconf.html">Project Configuration File (platformio.ini)</a> and use these commands:</p>
      <span class="label label-default">Terminal</span>
      <div class="well terminal">
        <span class="cmd"><font color="gray"># process/build project from the current directory</font><br><i class="fa fa-angle-right fa-lg"></i> platformio run</span><br /><br />
        <span class="cmd"><font color="gray"># if you don't have enabled auto-uploading, then you can upload firmware manually</font><br><i class="fa fa-angle-right fa-lg"></i> platformio run --target upload</span><br /><br />
        <span class="cmd"><font color="gray"># to clean cached/compiled files</font><br><i class="fa fa-angle-right fa-lg"></i> platformio run --target clean</span>
      </div>
    </li>
  </ol>

  <hr>

  <h2>"Blink" project example</h2>

  <p>
    With the help of <em>PlatformIO</em> we can <strong>build the same code</strong> for the different development platforms. Let's define example environments for the most popular boards from the different platforms:

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Platform</th>
          <th>Board</th>
          <th>Framework</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="label label-default">atmelavr</span> <a href="#!/platforms/atmelavr">Atmel AVR® 8- and 32-bit MCUs</a>
          </td>
          <td><span class="label label-default">uno</span> <a href="/#!/boards?filter%5Btype%5D=uno">Arduino Uno (ATmega328P)</a>
          </td>
          <td><span class="label label-default">arduino</span> <a href="#!/frameworks/arduino">Arduino Wiring-based Framework</a>
          </td>
        </tr>
        <tr>
          <td><span class="label label-default">teensy</span> <a href="#!/platforms/teensy">Teensy</a>
          </td>
          <td><span class="label label-default">teensy31</span> <a href="/#!/boards?filter%5Btype%5D=teensy31">Teensy 3.1</a>
          </td>
          <td><span class="label label-default">arduino</span> <a href="#!/frameworks/arduino">Arduino Wiring-based Framework</a>
          </td>
        </tr>
        <tr>
          <td><span class="label label-default">timsp430</span> <a href="#!/platforms/timsp430">MSP430 16-bit microcontrollers (MCUs) from TI</a>
          </td>
          <td><span class="label label-default">lpmsp430g2553</span> <a href="/#!/boards?filter%5Btype%5D=lpmsp430g2553">MSP430G2553 LaunchPad</a>
          </td>
          <td><span class="label label-default">energia</span> <a href="#!/frameworks/energia">Energia Wiring-based Framework</a>
          </td>
        </tr>
        <tr>
          <td><span class="label label-default">titiva</span> <a href="#!/platforms/titiva">TI TM4C12x MCUs ARM® Cortex®-M4</a>
          </td>
          <td><span class="label label-default">lptm4c1230c3pm</span> <a href="/#!/boards?filter%5Btype%5D=lptm4c1230c3pm">Tiva C Series TM4C123G LaunchPad</a>
          </td>
          <td><span class="label label-default">energia</span> <a href="#!/frameworks/energia">Energia Wiring-based Framework</a>
          </td>
        </tr>
      </tbody>
    </table>
  </p>

  <p>
    The source code located below in <code>main.cpp</code> will turn <em>ON</em> and <em>OFF</em> the <a href="http://wiring.org.co" target="_blank">Wiring</a> compatible board <mark>LED</mark> with intervals of 1 second (1000 milliseconds).
  </p>

  <div class="row">
    <div class="col-md-6">
      <span class="label label-default">main.cpp</span>
      <pre class="hljscode" hljs language="cpp">
#ifdef ENERGIA
  #include "Energia.h"
#else
  #include "Arduino.h"
#endif


#ifndef LED_PIN
  // Most Arduino boards already have a LED attached to pin 13 on the board itself
  #define LED_PIN 13
#endif

void setup()
{
  pinMode(LED_PIN, OUTPUT);     // set pin as output
}

void loop()
{
  digitalWrite(LED_PIN, HIGH);  // set the LED on
  delay(1000);                  // wait for a second
  digitalWrite(LED_PIN, LOW);   // set the LED off
  delay(1000);                  // wait for a second
}</pre>
    </div>
    <div class="col-md-6">
      <span class="label label-default">platformio.ini</span>
      <pre class="hljscode" hljs language="ini">
; Project Configuration File
;
; A detailed documentation with the EXAMPLES is located here:
; http://docs.platformio.org/en/latest/projectconf.html

[env:uno]
platform = atmelavr
framework = arduino
board = uno

[env:teensy31]
platform = teensy
framework = arduino
board = teensy31

[env:lpmsp430g2553]
platform = timsp430
framework = energia
board = lpmsp430g2553

[env:lptm4c1230c3pm]
platform = titiva
framework = energia
board = lptm4c1230c3pm
build_flags = -DLED_PIN=GREEN_LED</pre>
    </div>
  </div>

  <div class="alert alert-info">
    <ul class="fa-ul">
      <li>
        <i class="fa fa-github fa-lg fa-li"></i>  The source code and results of this <code>Blink Project</code> can be downloaded from <a href="https://github.com/platformio/platformio/tree/develop/examples/wiring-blink" class="alert-link" target="_blank"><i class="fa fa-download fa-lg"></i> PlatformIO Project Examples</a> repository.
      </li>
    </ul>
  </div>

  <h3 class="header-underlined">Initialize empty project</h3>
  <p>
    <i>PlatformIO</i>-based project consists of <strong>2 main parts</strong>:
    <ul>
      <li><a href="http://docs.platformio.org/en/latest/projectconf.html">Project Configuration File (platformio.ini)</a> - where you can setup different environments with specific options (platform type, firmware uploading settings, pre-built framework, build flags and many more)</li>
      <li><code>src</code> directory - where your source code should be placed</li>
    </ul>
  </p>
  <p>There is <a href="http://docs.platformio.org/en/latest/userguide/cmd_install.html"><i class="fa fa-angle-right fa-lg"></i> platformio init</a> command which allows you to initialize empty project. We recommend to run this command within empty directory.</p>
  <span class="label label-default">Terminal</span>
  <div class="well terminal">
    <p class="cmd"><i class="fa fa-angle-right fa-lg"></i> platformio init --board=uno --board=teensy31 --board=lpmsp430g2553 --board=lptm4c1230c3pm</p>
      <small>
        <p>
          Would you like to enable firmware auto-uploading when project is successfully built using `platformio run` command?<br />
          Don't forget that you can upload firmware manually using `platformio run --target upload` command. [y/N]:
        </p>

        <font color="yellow">
          The current working directory <font color="cyan">***</font> will be used for the new project.<br />
          You can specify another project directory via<br />
          `platformio init -d %PATH_TO_THE_PROJECT_DIR%` command.
        </font><br /><br />

        The next files/directories will be created in <font color="cyan">***</font><br />
        <font color="cyan">`platformio.ini`</font> - Project Configuration File. |-&gt; PLEASE EDIT ME &lt;-| <br />
        <font color="cyan">`src`</font> - Put your source code here<br />
        <font color="cyan">`lib`</font> - Put here project specific (private) libraries<br />
        Do you want to continue? [y/N]: y<br />
        <font color="green">
          Project has been successfully initialized!<br />
          Useful commands:<br />
          `platformio run` - process/build project from the current directory<br />
          `platformio run --target upload` or `platformio run -t upload` - upload firmware to embedded board<br />
          `platformio run --target clean` - clean project (remove compiled files)<br />
        </font>
      </small>
  </div>

  <h3 class="header-underlined">Process environments</h3>
  <p>Copy <code>main.cpp</code> file to <code>src</code> directory, replace the content of the <code>platformio.ini</code> file with the source code that is described above.
    <br>Then process environments with <a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html"><i class="fa fa-angle-right fa-lg"></i> platformio run</a> command.</p>

  <span class="label label-default">Terminal</span>
  <div class="well terminal">
   <p class="cmd"><i class="fa fa-angle-right fa-lg"></i> platformio run</p>
   <small>

      [Thu Jan 1 00:00:00 1970] Processing <font color="cyan">uno</font> (platform: atmelavr, board: uno, framework: arduino) <br />
      <div class="dashed-line"></div>
      avr-g++ -o .pioenvs/uno/src/main.o -c -fno-exceptions -fno-threadsafe-statics -g -Os -Wall -ffunction-sections -fdata-sections -MMD -mmcu=atmega328p -DF_CPU=16000000L -DARDUINO_ARCH_AVR -DARDUINO_AVR_UNO -DARDUINO=106000 -I.pioenvs/uno/FrameworkArduino -I.pioenvs/uno/FrameworkArduinoVariant .pioenvs/uno/src/main.cpp<br />
      <font color="white">[... a list of the rest compiled files ...]</font><br />
      avr-objcopy -O ihex -R .eeprom .pioenvs/uno/firmware.elf .pioenvs/uno/firmware.hex<br />
      "avr-size" --mcu=atmega328p -C -d .pioenvs/uno/firmware.elf<br />
      AVR Memory Usage<br />
      ----------------<br />
      Device: atmega328p<br />
      Program:    1030 bytes (3.1% Full)<br />
      (.text + .data + .bootloader)<br />
      Data:          9 bytes (0.4% Full)<br />
      (.data + .bss + .noinit)
      <p>====================================== [ <font color="green">SUCCESS</font> ] Took 3.59 seconds ======================================</p>

      [Thu Jan 1 00:00:00 1970] Processing <font color="cyan">teensy31</font> (platform: teensy, board: teensy31, framework: arduino) <br />
      <div class="dashed-line"></div>
      arm-none-eabi-g++ -o .pioenvs/teensy31/src/main.o -c -fno-rtti -fno-exceptions -std=gnu++0x -felide-constructors -mfloat-abi=hard -mfpu=fpv4-sp-d16 -fsingle-precision-constant -g -Os -ffunction-sections -fdata-sections -Wall -mthumb -mcpu=cortex-m4 -nostdlib -MMD -DF_CPU=72000000L -DUSB_SERIAL -DLAYOUT_US_ENGLISH -D__MK20DX256__ -DARDUINO=10600 -DTEENSYDUINO=120 -I.pioenvs/teensy31/FrameworkArduino .pioenvs/teensy31/src/main.cpp<br />
      <font color="white">[... a list of the rest compiled files ...]</font><br />
      arm-none-eabi-objcopy -O ihex -R .eeprom .pioenvs/teensy31/firmware.elf .pioenvs/teensy31/firmware.hex<br />
      arm-none-eabi-size" -B -d .pioenvs/teensy31/firmware.elf<br />
      <table>
        <tr>
          <td>text</td>
          <td>data</td>
          <td>bss</td>
          <td>dec</td>
          <td>hex</td>
          <td>filename</td>
        </tr>
        <tr>
          <td>10584</td>
          <td>1232</td>
          <td>2400</td>
          <td>14216</td>
          <td>3788</td>
          <td>.pioenvs/teensy31/firmware.elf</td>
       </tr>
      </table>
      <p>======================================  [ <font color="green">SUCCESS</font> ] Took 7.56 seconds ====================================== </p>

      [Thu Jan 1 00:00:00 1970] Processing <font color="cyan">lpmsp430g2553</font> (platform: timsp430, board: lpmsp430g2553, framework: energia) <br />
      <div class="dashed-line"></div>
      msp430-g++ -o .pioenvs/lpmsp430g2553/src/main.o -c -g -Os -ffunction-sections -fdata-sections -MMD -mmcu=msp430g2553 -DF_CPU=16000000L -DARDUINO=101 -DENERGIA=13 -I.pioenvs/lpmsp430g2553/FrameworkEnergia -I.pioenvs/lpmsp430g2553/FrameworkEnergiaVariant .pioenvs/lpmsp430g2553/src/main.cpp<br />
      <font color="white">[... a list of the rest compiled files ...]</font><br />
      msp430-objcopy -O ihex -R .eeprom .pioenvs/lpmsp430g2553/firmware.elf .pioenvs/lpmsp430g2553/firmware.hex<br />
      "msp430-size" -B -d .pioenvs/lpmsp430g2553/firmware.elf<br />
      <table>
        <tr>
          <td>text</td>
          <td>data</td>
          <td>bss</td>
          <td>dec</td>
          <td>hex</td>
          <td>filename</td>
        </tr>
        <tr>
          <td>822</td>
          <td>0</td>
          <td>20</td>
          <td>842</td>
          <td>34a</td>
          <td>.pioenvs/lpmsp430g2553/firmware.elf</td>
       </tr>
      </table>
      <p>======================================  [ <font color="green">SUCCESS</font> ] Took 3.00 seconds ====================================== </p>

      [Thu Jan 1 00:00:00 1970] Processing <font color="cyan">lptm4c1230c3pm</font> (platform: titiva, build_flags: -DLED_PIN=GREEN_LED, board: lptm4c1230c3pm, framework: energia) <br />
      <div class="dashed-line"></div>
      arm-none-eabi-g++ -o .pioenvs/lptm4c1230c3pm/src/main.o -c -fno-rtti -fno-exceptions -mfloat-abi=hard -mfpu=fpv4-sp-d16 -fsingle-precision-constant -g -Os -ffunction-sections -fdata-sections -Wall -mthumb -mcpu=cortex-m4 -nostdlib -MMD -DF_CPU=80000000L -DLED_PIN=GREEN_LED -DARDUINO=101 -DENERGIA=14 -I.pioenvs/lptm4c1230c3pm/FrameworkEnergia -I.pioenvs/lptm4c1230c3pm/FrameworkEnergiaVariant .pioenvs/lptm4c1230c3pm/src/main.cpp<br />
      <font color="white">[... a list of the rest compiled files ...]</font><br />
      arm-none-eabi-objcopy -O binary .pioenvs/lptm4c1230c3pm/firmware.elf .pioenvs/lptm4c1230c3pm/firmware.bin<br />
      "arm-none-eabi-size" -B -d .pioenvs/lptm4c1230c3pm/firmware.elf<br />
      <table>
        <tr>
          <td>text</td>
          <td>data</td>
          <td>bss</td>
          <td>dec</td>
          <td>hex</td>
          <td>filename</td>
        </tr>
        <tr>
          <td>2256</td>
          <td>0</td>
          <td>520</td>
          <td>2776</td>
          <td>ad8</td>
          <td>.pioenvs/lptm4c1230c3pm/firmware.elf</td>
       </tr>
      </table>
      <p>======================================  [ <font color="green">SUCCESS</font> ] Took 10.03 seconds ====================================== </p>

    </small>
  </div>

  <h3 class="header-underlined">Project Structure <small>after processing</small></h3>
  <pre>
├── .pioenvs
│   ├── lpmsp430g2553
│   │   ├── FrameworkEnergia
│   │   ├── FrameworkEnergiaVariant
│   │   ├── firmware.elf
│   │   ├── firmware.hex
│   │   ├── libFrameworkEnergia.a
│   │   └── src
│   ├── lptm4c1230c3pm
│   │   ├── FrameworkEnergia
│   │   ├── FrameworkEnergiaVariant
│   │   ├── firmware.bin
│   │   ├── firmware.elf
│   │   ├── libFrameworkEnergia.a
│   │   └── src
│   ├── teensy31
│   │   ├── FrameworkArduino
│   │   ├── firmware.elf
│   │   ├── firmware.hex
│   │   ├── libFrameworkArduino.a
│   │   └── src
│   └── uno
│       ├── FrameworkArduino
│       ├── FrameworkArduinoVariant
│       ├── firmware.elf
│       ├── firmware.hex
│       ├── libFrameworkArduino.a
│       ├── libFrameworkArduinoVariant.a
│       └── src
├── platformio.ini
└── src
    └── main.cpp
</pre>

  <h3 class="header-underlined">Firmware uploading</h3>
  <p>For uploading firmware to embedded device you can use <a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html"><i class="fa fa-angle-right fa-lg"></i> platformio run</a> command with <code>--target upload</code> option.</p>
  <span class="label label-default">Terminal</span>
  <div class="well terminal">
    <span class="cmd"><i class="fa fa-angle-right fa-lg"></i> platformio run --target upload</span>
  </div>
  <p>If you want to enable "auto-uploading" when source code is built successfully, then define for the specific environment's option <code>targets = upload</code>. More detailed information about <code>targets</code> option is available in the <a href="http://docs.platformio.org/en/latest/projectconf.html#targets">documentation</a>.</p>
  <div class="alert alert-info">
    <ul class="fa-ul">
      <li>
        <i class="fa fa-info-circle fa-lg fa-li"></i> Don't forget that you can process only specific environments <code>-e</code> or targets <code>-t</code>. Read more about it in <a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html#examples" class="alert-link"><i class="fa fa-angle-right fa-lg"></i> platformio run</a> command examples.
      </li>
    </ul>
  </div>

  <h2>Further Reading</h2>
  <ul>
    <li><a href="http://docs.platformio.org">Documentation</a>
    </li>
    <li><a href="https://github.com/platformio/platformio/tree/develop/examples" target="_blank">Project Examples</a>
    </li>
  </ul>

</div>
