<meta name="description" content="PlatformIO is a cross-platform code builder and library manager for Arduino, MSP430, TIVA, Teensy, STM32" view-head />
<meta name="keywords" content="PlatformIO, cli, command, line, Arduino, MSP430, TIVA, stm32, teensy, builder, libraries, manager, library.json" view-head />

<div class="jumbotron home">
  <div class="container text-center">
    <div class="logo text-shadow">&nbsp;&nbsp; \/
      <br>_@@</div>
    <h1>PlatformIO is a cross-platform code builder and the missing library manager</h1>
    <p><a class="btn btn-success btn-lg" href="#!/get-started" role="button" analytics-on analytics-event="Click" analytics-category="Button" analytics-label="Get Started" analytics-value="2"><i class="fa fa-rocket fa-lg"></i> &nbsp;Get Started</a>
    </p>
    <p>
      <ul class="list-inline">
        <li>Version <a href="http://docs.platformio.org/en/latest/history.html" target="_blank">1.3.0</a></li>
        <li>·</li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/platformio/platformio" target="_blank">GitHub</a>
        </li>
        <li>·</li>
        <li><i class="fa fa-book"></i> <a href="http://docs.platformio.org/">Documentation</a>
        </li>
        <li>·</li>
        <li>Made with <i class="fa fa-heart" tooltip="Made in Ukraine"></i> in <a href="http://www.ikravets.com/about-me" target="_blank">Ukraine</a>
        </li>
      </ul>
    </p>
  </div>
</div>

<article>
  <div class="container home">

    <div class="row text-center top-banner">
      <div class="col-lg-4">
        <center>
          <a href="#!/platforms">
            <div class="img-circle text-shadow"><i class="fa fa-laptop fa-5x"></i>
            </div>
          </a>
        </center>
        <h2>Development Platforms</h2>
        <p>You have <strong>no need</strong> to install any <em>IDE</em> or compile any tool chains. <em>PlatformIO</em> has pre-built different development platforms including: compiler, debugger, uploader (for embedded) and many other useful tools.</p>
        <p><a class="btn btn-default" href="#!/platforms" role="button">Read More</a>
        </p>
      </div>
      <div class="col-lg-4">
        <center>
          <a href="#!/boards">
            <div class="img-circle text-shadow"><i class="fa fa-gamepad fa-5x"></i>
            </div>
          </a>
        </center>
        <h2>Embedded Boards</h2>
        <p>
          <i>PlatformIO</i> has pre-configured settings for the most popular <i>Embedded Boards</i>. You have no need to specify in <a href="http://docs.platformio.org/en/latest/projectconf.html">Project Configuration File</a> type or frequency of <i>MCU</i>, upload protocol or etc. Please use <span class="label label-default">board</span> option.
        </p>
        <p><a class="btn btn-default" href="#!/boards" role="button">Read More</a>
        </p>
      </div>
      <div class="col-lg-4">
        <center>
          <a href="#!/lib">
            <div class="img-circle text-shadow"><i class="fa fa-book fa-5x"></i>
            </div>
          </a>
        </center>
        <h2>Library Manager</h2>
        <p>
          <i>PlatformIO Library Manager</i> allows you to organize external libraries. You can search for new libraries via <a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_search.html">Command-Line</a> or <a href="#!/lib">Web</a> interfaces. Due to <a href="http://docs.platformio.org/en/latest/userguide/lib/cmd_update.html">platformio lib update</a> command you will have up-to-date libraries.
        </p>
        <p><a class="btn btn-default" href="#!/lib" role="button">Read More</a>
        </p>
      </div>
    </div>

    <hr class="home-divider">

    <div class="text-center">
      <h2>Use whenever. <span class="text-muted">Run everywhere.</span></h2>
      <p class="lead"><i>PlatformIO</i> is written in pure <i>Python</i> and <strong>doesn't depend</strong> on any additional libraries/tools from an operation system. It allows you to use <i>PlatformIO</i> beginning from <i>PC</i> and ending with credit-card sized computers (like <i>Raspberry Pi, BeagleBone, CubieBoard</i>)</p>

      <div class="row text-center">
        <div class="col-lg-4">
          <i class="fa fa-apple fa-4x"></i>
          <h4>Mac</h4>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-linux fa-4x"></i>
          <h4>Linux, +ARM</h4>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-windows fa-4x"></i>
          <h4>Windows</h4>
        </div>
      </div>
    </div>

  </div>

  <hr class="home-divider">

  <div class="container text-center main-featurette">

    <div class="row featurette text-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Embedded Development. <span class="text-muted">Easier Than Ever.</span></h2>
        <p class="lead">
          <i>PlatformIO</i> is well suited for embedded development and has pre-configured settings for the most popular <a href="#!/boards" >Embedded Boards</a>.
        </p>
        <p class="lead"><i class="fa fa-check"></i> <b><font color="blue">Co</font><font color="cyan">lour</font><font color="red">ful</font></b> <a href="https://raw.githubusercontent.com/platformio/platformio/develop/examples/platformio-examples.png" target="_blank">command-line output</a></p>
        <p class="lead"><i class="fa fa-check"></i> Built-in <a href="http://docs.platformio.org/en/latest/userguide/cmd_serialports.html#platformio-serialports-monitor">Serial Port Monitor</a></p>
        <p class="lead"><i class="fa fa-check"></i> Configurable <a href="http://docs.platformio.org/en/latest/projectconf.html#build-flags">build -flags/-options</a></p>
        <p class="lead"><i class="fa fa-check"></i> Automatic <b>firmware uploading</b></p>
        <p class="lead"><i class="fa fa-check"></i> Integration with <a href="http://docs.platformio.org/en/latest/ide.html">development environments (IDE)</a></p>
        <p class="lead"><i class="fa fa-check"></i> Ready for <b>Cloud Compiling</b> and <b>Continuous Integration</b></p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> Pre-built tool chains, <a href="#!/frameworks">frameworks</a> for the popular <a href="#!/platforms">Hardware Platforms</a></p>
      </div>
      <div class="col-md-5">
        <img src="images/platformio-embedded-development.png" class="img-thumbnail" alt="PlatformIO Embedded Development Architecture" title="PlatformIO Embedded Development Architecture" tooltip="PlatformIO Embedded Development Architecture">
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-5">
        <img src="images/platformio-library-manager.png" class="img-thumbnail" alt="PlatformIO Library Manager Architecture" title="PlatformIO Library Manager Architecture" tooltip="PlatformIO Library Manager Architecture">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">The Missing Library Manager. <span class="text-muted">It's here!</span></h2>
        <p class="lead"> <i>PlatformIO Library Manager</i> is the missing library manager for development platforms which allows you to organize and have up-to-date external libraries.</p>
        <p class="lead"><i class="fa fa-check"></i> Friendly <a href="http://docs.platformio.org/en/latest/librarymanager/index.html">Command-Line Interface</a></p>
        <p class="lead"><i class="fa fa-check"></i> Modern <a href="#!/lib">Web 2.0 Library Search</a></p>
        <p class="lead"><i class="fa fa-check"></i> Open Source <a href="https://github.com/platformio/platformio-api" target="_blank">Library Registry API</a></p>
        <p class="lead"><i class="fa fa-check"></i> Library Crawler based on <a href="http://docs.platformio.org/en/latest/librarymanager/config.html">library.json</a> specification</p>
        <p class="lead"><i class="fa fa-check"></i> Library <b>dependency management</b></p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> Automatic library updating</p>
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Smart Code Builder. <span class="text-muted">Fast and Reliable.</span></h2>
        <p class="lead">
          <i>PlatformIO Code Builder</i> is built-on a next-generation software construction tool named <a href="http://www.scons.org" target="_blank">SCons</a>. Think of <i>SCons</i> as an improved, cross-platform substitute for the classic <i>Make</i> utility.
        </p>
        <p class="lead"><i class="fa fa-check"></i> Reliable, automatic <strong>dependency analysis</strong></p>
        <p class="lead"><i class="fa fa-check"></i> Reliable detection of <strong>build changes</strong></p>
        <p class="lead"><i class="fa fa-check"></i> Improved support for <strong>parallel builds</strong></p>
        <p class="lead"><i class="fa fa-check"></i> Ability to share <strong>built files in a cache</strong></p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> <strong>Lookup</strong> for external libraries which are installed via <a href="http://docs.platformio.org/en/latest/librarymanager/index.html"><i class="fa fa-book"></i> Library Manager</a></p>
      </div>
      <div class="col-md-5">
        <img src="images/platformio-scons-builder.png" class="img-thumbnail" alt="PlatformIO Code Builder Architecture" title="PlatformIO Code Builder Architecture" tooltip="PlatformIO Code Builder Architecture">
      </div>
    </div>

  </div>

  <hr class="home-divider">

  <div class="container text-center main-featurette">
    <h2>Single source code. <span class="text-muted">Multiple platforms.</span></h2>
    <p class="lead">
      <i>PlatformIO</i> allows developer to compile the same code with different development platforms using the <i>Only One Command</i> <a href="http://docs.platformio.org/en/latest/userguide/cmd_run.html" class="text-nowrap"><i class="fa fa-terminal"></i> platformio run</a>. This happens due to
      <a href="http://docs.platformio.org/en/latest/projectconf.html">Project Configuration File (platformio.ini)</a> where you can setup different environments with specific options (platform type, firmware uploading settings, pre-built framework, build flags and many more).
    </p>

    <hr class="home-divider">

    <h2>Need more convincing? <span class="text-muted">Try PlatformIO Now!</span></h2>
    <p><a class="btn btn-success btn-lg" href="#!/get-started" role="button" analytics-on analytics-event="Click" analytics-category="Button" analytics-label="Get Started" analytics-value="1"><i class="fa fa-rocket fa-lg"></i> &nbsp;Get Started</a></p>

  </div>

</article>
