<meta name="description" content="An open source ecosystem for IoT development. Cross-platform IDE and unified debugger. Remote unit testing and firmware updates" view-head />
<meta name="keywords" content="PlatformIO, IoT, IDE, opensource, build, cloud, cross-platform, embedded, library manager, library.json, continuous integration, arduino, mbed, cli, command line, make, cmake, makefile, mk" view-head />

<div class="jumbotron home">
  <div class="container text-center">
    <img src="images/platformio-logo.png" height="220" title="PlatformIO is an open source ecosystem for IoT development. Cross-platform IDE and unified debugger. Remote unit testing and firmware updates" alt="PlatformIO is an open source ecosystem for IoT development. Cross-platform IDE and unified debugger. Remote unit testing and firmware updates">

    <h1>
      PlatformIO is an open source ecosystem for <abbr title="Internet of Things">IoT</abbr> development <br>
      <small>Cross-platform IDE and unified debugger. Remote unit testing and firmware updates</small>
    </h1>

    <p>
      <ul class="list-inline">
        <li><kbd>{{ vm.stats.platforms | number }}</kbd> <a href="/platforms">Development Platforms</a></li>
        <li>·</li>
        <li><kbd>{{ vm.stats.frameworks | number }}</kbd> <a href="/frameworks">Frameworks</a></li>
        <li>·</li>
        <li><kbd>{{ vm.stats.boards | number }}</kbd> <a href="/boards">Embedded Boards</a></li>
        <li>·</li>
        <li><kbd>61</kbd> <a href="https://github.com/platformio/platformio-examples" target="_blank">Project Examples</a></li>
        <li>·</li>
        <li><kbd>{{ vm.stats.libs | number }}</kbd> <a href="/lib">Libraries</a></li>
        <li>·</li>
        <li><kbd>{{ vm.stats.libexamples | number }}</kbd> <a href="/lib/examples">Library Examples</a></li>
      </ul>
    </p>

    <p>
      <a class="btn btn-success btn-lg" href="/platformio-ide" role="button" analytics-on analytics-event="Button" analytics-category="Install" analytics-label="HomeTop"><i class="fa fa-download fa-lg"></i> &nbsp;Download</a>
    </p>
    <p>
      <ul class="list-inline">
        <li><i class="fa fa-github"></i> <a href="https://github.com/platformio" target="_blank">GitHub</a></li>
        <li>·</li>
        <li><i class="fa fa-download"></i> <a href="https://bintray.com/platformio" target="_blank">Bintray</a></li>
        <li>·</li>
        <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/PlatformIO_Org" target="_blank">Twitter</a></li>
        <li>·</li>
        <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/platformio" target="_blank">Facebook</a></li>
        <li>·</li>
        <li><i class="fa fa-hacker-news"></i> <a href="https://hackaday.io/project/7980-platformio" target="_blank">Hackaday</a></li>
        <li>·</li>
        <li><i class="fa fa-comments-o"></i> <a href="https://community.platformio.org">Forums</a></li>
      </ul>
    </p>
    <p>
      <ul class="list-inline">
        <li><i class="fa fa-history"></i> <a href="http://docs.platformio.org/page/history.html">Release Notes</a></li>
        <li>·</li>
        <li><i class="fa fa-book"></i> <a href="http://docs.platformio.org/">Documentation</a>
        </li>
        <li>·</li>
        <li>Sponsored with <i class="fa fa-heart" uib-tooltip="PlatformIO Plus: Professional solutions for an awesome open source PlatformIO ecosystem"></i> by <b><a href="/pricing">PlatformIO Plus</a></b>
        </li>
      </ul>
    </p>
  </div>
</div>

<article>
  <div class="container home">

    <div class="row text-center top-items-lg">
      <div class="col-md-4">
        <center>
          <a href="/platformio-ide">
            <div class="img-circle"><i class="fa fa-cube fa-5x"></i>
            </div>
          </a>
        </center>
        <h2>PlatformIO IDE</h2>
        <p>
          <b>The next-generation</b> integrated development environment for IoT.
          <br>C/C++ Intelligent code completion and Smart code linter with Built-in Terminal and Serial Port Monitor.
        </p>
        <p><a class="btn btn-default" href="/platformio-ide" role="button">Read More</a>
        </p>
      </div>
      <div class="col-md-4">
        <center>
          <a>
            <div class="img-circle"><i class="fa fa-wrench fa-5x"></i>
            </div>
          </a>
        </center>
        <h2>Development</h2>
        <p>
          Rapid <b>Embedded Development</b> with multi-platform build system. <b>Continuous and IDE integration</b> with the most popular Desktop and <b>Cloud IDEs</b> thanks to built-in project generator.
        </p>
        <p>
          <a class="btn btn-default" href="/platforms" role="button">Platforms</a>
          <a class="btn btn-default" href="/frameworks" role="button">Frameworks</a>
          <a class="btn btn-default" href="/boards" role="button">Boards</a>
        </p>
      </div>
      <div class="col-md-4">
        <center>
          <a href="/lib">
            <div class="img-circle"><i class="fa fa-code fa-5x"></i>
            </div>
          </a>
        </center>
        <h2>Library Registry</h2>
        <p><b>Thousands of Popular Libraries</b> are organized into single platform with advanced search by keywords, missed or known headers, etc. <b>Project Dependency Manager</b> with <a href="http://docs.platformio.org/page/librarymanager/index.html">Semantic Versioning</a> requirements.</p>
        <p><a class="btn btn-default" href="/lib" role="button">Read More</a>
        </p>
      </div>
    </div>

    <hr class="home-divider-small">

    <div ng-include="'views/brands.html'"></div>

    <hr class="home-divider-small">

    <div class="row featurette text-left">
      <div class="col-md-4">
        <h2 class="featurette-heading"><a href="/platformio-ide" analytics-on analytics-event="Button" analytics-category="IDE" analytics-label="Home">PlatformIO IDE</a> <span class="text-muted">for IoT development</span></h2>
        <p class="lead"><i class="fa fa-check"></i>
          <a href="http://docs.platformio.org/page/plus/debugging.html">PIO Unified Debugger</a> with a support for the multiple architectures and development platforms that allows you to <a href="/boards?sorting%5Bdebug%5D=asc">debug more than 200 embedded boards</a> with Zero-Configuration!
        </p>
        <p class="lead"><i class="fa fa-check"></i>
          Cross-platform build system without external dependencies to the OS software: <a href="/boards">500+ embedded boards</a>, <a href="/platforms">25+ development platforms</a>, <a href="/frameworks">15+ frameworks</a>
        </p>
        <p class="lead"><i class="fa fa-check"></i> C/C++ <abbr title="C/C++ Intelligent Code Completion">Intelligent Code Completion</abbr> and <abbr title="C/C++ Smart Code Linter">Smart Code Linter</abbr> for rapid professional development</p>
        <p class="lead"><i class="fa fa-check"></i> Multi-projects workflow with multiple panes and Themes support with dark and light colors</p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> Built-in Terminal with <a href="http://docs.platformio.org/page/core.html">PlatformIO Core</a> and powerful Serial Port Monitor</p>
      </div>
      <div class="col-md-8">
        <br />
        <br />
        <a href="/platformio-ide" analytics-on analytics-event="Image" analytics-category="IDE" analytics-label="Home"><img src="/images/demo/ide/platformio-ide-vscode.png" class="img-thumbnail" alt="PlatformIO IDE for IoT development" title="PlatformIO IDE for IoT development" uib-tooltip="PlatformIO IDE for IoT development"></a>
      </div>
    </div>
  </div>

  <div class="jumbotron home-divider">
    <div class="container text-center">
      <h2>Use whenever. <span class="text-muted">Run everywhere.</span></h2>
      <p class="lead"><i>PlatformIO</i> is written in pure <i>Python</i> and <strong>doesn't depend</strong> on any additional libraries/tools from an operation system. It allows you to use <i>PlatformIO</i> beginning from <i>PC</i> and ending with credit-card sized computers (like <i>Raspberry Pi, BeagleBone, CubieBoard</i>)</p>

      <div class="row text-center">
        <div class="col-lg-4">
          <i class="fa fa-apple fa-4x"></i>
          <h4>Mac</h4>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-linux fa-4x"></i>
          <h4>Linux, +ARM</h4>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-windows fa-4x"></i>
          <h4>Windows</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center main-featurette">

    <div class="row featurette text-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Embedded Development. <span class="text-muted">Easier Than Ever.</span></h2>
        <p class="lead">
          <i>PlatformIO</i> is well suited for embedded development and has pre-configured settings for the most popular <a href="/boards" >Embedded Boards</a>.
        </p>
        <p class="lead"><i class="fa fa-check"></i> <b><font color="blue">Co</font><font color="cyan">lour</font><font color="red">ful</font></b> <a href="https://raw.githubusercontent.com/platformio/platformio/develop/examples/platformio-examples.png" target="_blank">command-line output</a></p>
        <p class="lead"><i class="fa fa-check"></i> <a href="http://docs.platformio.org/page/ide.html">IDE Integration</a> with <i>Cloud9, Codeanywhere, Eclipse Che, Atom, CLion, CodeBlocks, Eclipse, Emacs, NetBeans, Qt Creator, Sublime Text, Vim, Visual Studio</i></p>
        <p class="lead"><i class="fa fa-check"></i> Cloud compiling and <a href="http://docs.platformio.org/page/ci/index.html">Continuous Integration</a> with <i>AppVeyor, Circle CI, Drone, Shippable, Travis CI</i></p>
        <p class="lead"><i class="fa fa-check"></i> Built-in <a href="http://docs.platformio.org/page/userguide/cmd_serialports.html#platformio-serialports-monitor">Serial Port Monitor</a> and configurable <a href="http://docs.platformio.org/page/projectconf.html#build-flags">build -flags/-options</a></p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> Pre-built toolchains, <a href="/frameworks">frameworks</a> for the popular <a href="/platforms">development platforms</a></p>
      </div>
      <div class="col-md-5">
        <img src="images/platformio-embedded-development.png" class="img-thumbnail" alt="PlatformIO Embedded Development Architecture" title="PlatformIO Embedded Development Architecture" uib-tooltip="PlatformIO Embedded Development Architecture">
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-5">
        <img src="images/platformio-library-manager.png" class="img-thumbnail" alt="PlatformIO Library Manager Architecture" title="PlatformIO Library Manager Architecture" uib-tooltip="PlatformIO Library Manager Architecture">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">The Missing Library Manager. <span class="text-muted">It's here!</span></h2>
        <p class="lead"> <i>PlatformIO Library Manager</i> is the missing library manager for development platforms which allows you to organize and have up-to-date external libraries.</p>
        <p class="lead"><i class="fa fa-check"></i> Friendly <a href="http://docs.platformio.org/page/librarymanager/index.html">Command-Line Interface</a></p>
        <p class="lead"><i class="fa fa-check"></i> Modern <a href="/lib">Web 2.0 Library Portal</a></p>
        <p class="lead"><i class="fa fa-check"></i> Open Source <a href="https://github.com/platformio/platformio-api" target="_blank">Library Registry API</a></p>
        <p class="lead"><i class="fa fa-check"></i> Library Crawler based on <a href="http://docs.platformio.org/page/librarymanager/config.html">library.json</a> specification</p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> <b>Project Dependency Manager</b> with <a href="http://docs.platformio.org/page/librarymanager/index.html">Semantic Versioning</a> requirements</p>
      </div>
    </div>

    <hr class="home-divider">

    <div class="row featurette text-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Smart Build System. <span class="text-muted">Fast and Reliable.</span></h2>
        <p class="lead">
          <i>PlatformIO Build System</i> is built-on a next-generation software construction tool named <a href="http://www.scons.org" target="_blank">SCons</a>. Think of <i>SCons</i> as an improved, cross-platform substitute for the classic <i>Make</i> utility.
        </p>
        <p class="lead"><i class="fa fa-check"></i> Reliable, automatic <strong>dependency analysis</strong></p>
        <p class="lead"><i class="fa fa-check"></i> Reliable detection of <strong>build changes</strong></p>
        <p class="lead"><i class="fa fa-check"></i> Improved support for <strong>parallel builds</strong></p>
        <p class="lead"><i class="fa fa-check"></i> Ability to share <strong>built files in a cache</strong></p>
        <p class="lead"><i class="fa fa-thumbs-up"></i> <strong>Lookup</strong> for external libraries which are installed via <a href="http://docs.platformio.org/page/librarymanager/index.html"><i class="fa fa-book"></i> Library Manager</a></p>
      </div>
      <div class="col-md-5">
        <img src="images/platformio-scons-builder.png" class="img-thumbnail" alt="PlatformIO Build System Architecture" title="PlatformIO Build System Architecture" uib-tooltip="PlatformIO Build System Architecture">
      </div>
    </div>

  </div>

  <div class="jumbotron home-divider">
    <div class="container text-center main-featurette">
      <h2>Single source code. <span class="text-muted">Multiple platforms.</span></h2>
      <p class="lead">
        <i>PlatformIO</i> allows developer to compile the same code with different development platforms using the <i>Only One Command</i> <a href="http://docs.platformio.org/page/userguide/cmd_run.html" class="text-nowrap"><i class="fa fa-angle-right"></i> platformio run</a>. This happens due to
        <a href="http://docs.platformio.org/page/projectconf.html">Project Configuration File (platformio.ini)</a> where you can setup different environments with specific options (platform type, firmware uploading settings, pre-built framework, build flags and many more).
      </p>
    </div>
  </div>

  <div class="container text-center main-featurette">
    <h2>Need more convincing? <span class="text-muted">Try PlatformIO Now!</span></h2>
    <p><a class="btn btn-success btn-lg" href="/platformio-ide" role="button" analytics-on analytics-event="Button" analytics-category="Install" analytics-label="HomeBottom"><i class="fa fa-download fa-lg"></i> &nbsp;Download</a> </p>
  </div>

</article>
