<div class="page-header">
  <h1 view-title>Libraries</h1>
</div>

<form ng-submit="vm.submitSearchForm()" novalidate role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for library" name="query" ng-model="vm.searchQuery">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default" type="submit"><i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>

<div class="row search-examples">
  <div class="col col-xs-10">
    Examples:
    <a href="/#!/lib/search?query=arduino" class="btn btn-default btn-xs" tooltip="Search in library's name, keywords and description fields"><i class="fa fa-search"></i> Arduino</span></a>
    <a href="/#!/lib/search?query=msp430" class="btn btn-default btn-xs" tooltip="Search in library's name, keywords and description fields"><i class="fa fa-search"></i> MSP430</span></a>
    <a href="/#!/lib/search?query=arduino%20%2Bi2c" class="btn btn-default btn-xs" tooltip="I2C Arduino-based libraries"><i class="fa fa-search"></i> Arduino +i2c</span></a>
    <a href="/#!/lib/search?query=keyword%253Asensor" class="btn btn-default btn-xs" tooltip="Filter libraries by keyword"><i class="fa fa-search"></i> keyword:sensor</span></a>
    <a href="/#!/lib/search?query=author%253A%2522Adafruit%2520Industries%2522" class="btn btn-default btn-xs" tooltip="Filter by author"><i class="fa fa-search"></i> author:"Adafruit Industries"</span></a>
  </div>
  <div class="col col-xs-2 text-right"><a href="http://docs.platformio.ikravets.com/en/latest/userguide/lib/cmd_search.html#description">advanced search syntax</a>
  </div>
</div>

<div class="page-header libs-stats">
  <div class="row">
    <div class="col col-md-6">
      <h2>Recently</h2>
    </div>
    <div class="col col-md-6 text-right lib-recently-btn">
      <a href="/#!/lib/search?query=" class="btn btn-primary"><i class="fa fa-list"></i> All Libraries</a>
      <a href="http://docs.platformio.ikravets.com/en/latest/librarymanager/creating.html" class="btn btn-success"><i class="fa fa-plus"></i> Create Library</a>
      <a href="https://github.com/ivankravets/platformio-libmirror/issues" class="btn btn-default"><i class="fa fa-share-square-o"></i> Propose Library</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-md-4">
    <h3>Updated</h3>
    <p ng-repeat="item in vm.stats.updated"><i class="fa fa-refresh"></i> <a href="/#!/lib/show/{{ item.name }}">{{ item.name }}</a> <small tooltip="{{ item.date | date:'medium' }}">{{ item.date | relativeDate }}</small>
    </p>
  </div>
  <div class="col col-md-4">
    <h3>Added</h3>
    <p ng-repeat="item in vm.stats.added"><i class="fa fa-plus"></i> <a href="/#!/lib/show/{{ item.name }}">{{ item.name }}</a> <small tooltip="{{ item.date | date:'medium' }}">{{ item.date | relativeDate }}</small>
    </p>
  </div>
  <div class="col col-md-4 keywords-stats">
    <h3>Keywords</h3>
    <p ng-repeat="keyword in vm.stats.keywords">
      <a href="/#!/lib/search?query=keyword%253A%2522{{ keyword }}%2522" class="btn btn-primary btn-xs"><i class="fa fa-tag fa-lg"></i> {{ keyword }}</span></a>
    </p>
  </div>
</div>

<div class="page-header libs-stats">
  <h2>Most Downloaded</h2>
</div>
<div class="row">
  <div class="col col-md-4">
    <h3>Day's</h3>
    <p ng-repeat="item in vm.stats.dlday">{{ item.total }} <i class="fa fa-download"></i> <a href="/#!/lib/show/{{ item.name }}">{{ item.name }}</a>
    </p>
  </div>
  <div class="col col-md-4">
    <h3>Week's</h3>
    <p ng-repeat="item in vm.stats.dlweek">{{ item.total }} <i class="fa fa-download"></i> <a href="/#!/lib/show/{{ item.name }}">{{ item.name }}</a>
    </p>
  </div>
  <div class="col col-md-4">
    <h3>Month's</h3>
    <p ng-repeat="item in vm.stats.dlmonth">{{ item.total }} <i class="fa fa-download"></i>  <a href="/#!/lib/show/{{ item.name }}">{{ item.name }}</a>
    </p>
  </div>
</div>
