<view-title>{{ vm.lib.name }} | Libraries</view-title>
<meta name="author" content="{{ vm.lib.author.name }}" view-head />
<meta name="description" content="{{ vm.lib.description }}" view-head />
<meta name="keywords" content="{{ vm.seoKeywords }}" view-head />

<div class="page-header">
  <h1>{{ vm.lib.name }}</h1>
</div>
<div class="lead">{{ vm.lib.description }}</div>

<div class="well well-sm">
  <dl class="dl-horizontal libinfo">
    <dt>Author</dt>
    <dd>
      <strong>{{ vm.lib.author.name }}</strong>
      <br>
      <div ng-if="vm.lib.author.email"><i class="fa fa-envelope"></i> <a href="mailto:{{ vm.lib.author.email }}">{{ vm.lib.author.email }}</a>
      </div>
      <div ng-if="vm.lib.author.url"><i class="fa fa-globe"></i> <a href="{{ vm.lib.author.url }}" target="_blank">{{ vm.lib.author.url }}</a>
      </div>
      <i class="fa fa-book"></i>  <a href="/#!/lib/search?query=author%253A%2522{{ vm.lib.author.name }}%2522">Libraries</span></a>
    </dd>

    <dt>Downloads</dt>
    <dd>
      {{ vm.lib.dlstats.day }} downloads in the last day
      <br>{{ vm.lib.dlstats.week }} downloads in the last week
      <br>{{ vm.lib.dlstats.month }} downloads in the last month
    </dd>

    <dt>Version</dt>
    <dd><strong>{{ vm.lib.version.name}}</strong>  <small tooltip="{{ vm.lib.version.released | date:'medium' }}">last updated {{ vm.lib.version.released | relativeDate }}</small>
    </dd>


    <dt>Keywords</dt>
    <dd>
      <div class="keywords">
        <a href="/#!/lib/search?query=keyword%253A%2522{{ keyword }}%2522" class="btn btn-primary btn-sm" ng-repeat="keyword in vm.lib.keywords"><i class="fa fa-tag fa-lg"></i> {{ keyword }}</span></a>
      </div>
    </dd>
  </dl>
</div>

<div class="row lib-installation">
  <div class="col-md-11 lib-install">
    <div class="well terminal">
      <i class="fa fa-terminal fa-lg"></i> platformio <font color="silver">lib install</font>  <font color="cyan">{{ vm.lib.name }}</font>
    </div>
  </div>
  <div class="col-md-1 lib-dl">
    <button type="button" class="btn btn-success" tooltip="Download Tar.Gz" ng-click="vm.downloadLib()"><i class="fa fa-download fa-2x"></i></button>
  </div>
</div>

<tabset>
  <tab>
    <tab-heading>
      <i class="fa fa-graduation-cap"></i> Examples</span>
    </tab-heading>

    <div ng-if="!vm.examples.length" class="alert alert-warning" role="alert">The library doesn't has any examples.</div>

    <div ng-if="vm.examples.length">
      <p>
        <div class="text-center">
          <div class="btn-group">
            <label class="btn btn-default btn-sm" ng-model="vm.currentExample" btn-radio="item" ng-repeat="item in vm.examples">{{ item.name }}</label>
          </div>
        </div>
      </p>
      <div hljs include="vm.currentExample.url" language="cpp"></div>
    </div>
  </tab>

  <tab>
    <tab-heading>
      <i class="fa fa-comments"></i> Discussion
    </tab-heading>
    <div disqus="vm.lib.id"></div>
  </tab>
</tabset>
