<form ng-submit="vm.submitSearchForm()" novalidate role="search">
  <div class="input-group input-group-lg">
    <input type="search" class="form-control" placeholder="{{ vm.searchInputPlaceholder }}" name="query" ng-model="vm.searchQuery">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default" type="submit"><i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>

<div class="row search-examples">
  <div class="col col-xs-10">
    Examples:
    <a href="{{ vm.searchPath }}?query=tft%2520display" class="btn btn-default btn-xs" uib-tooltip="Search in 'library.json' fields"><i class="fa fa-search"></i> tft display</a>
    <a href="{{ vm.searchPath }}?query=dht*" class="btn btn-default btn-xs" uib-tooltip="Search for libraries that support DHT ICs (DHT11, DHT22)"><i class="fa fa-search"></i> dht*</a>
    <a href="{{ vm.searchPath }}?query=header%253ARH_ASK.h" class="btn btn-default btn-xs" uib-tooltip="Search by header files (#inculde)"><i class="fa fa-search"></i> header:RH_ASK.h</a>
    <a href="{{ vm.searchPath }}?query=keyword%253Amqtt" class="btn btn-default btn-xs" uib-tooltip="Filter libraries by keyword"><i class="fa fa-search"></i> keyword:mqtt</a>
    <a href="{{ vm.searchPath }}?query=framework%253Ambed" class="btn btn-default btn-xs" uib-tooltip="ARM mbed based libraries"><i class="fa fa-search"></i> framework:mbed</a>
    <a href="{{ vm.searchPath }}?query=platform%253Aespressif8266" class="btn btn-default btn-xs" uib-tooltip="Search for Espressif 8266 compatible libraries"><i class="fa fa-search"></i> platform:espressif8266</a>
    <a href="{{ vm.searchPath }}?query=author%253A%2522Adafruit%2520Industries%2522" class="btn btn-default btn-xs" uib-tooltip="Filter by author"><i class="fa fa-search"></i> author:"Adafruit Industries"</a>
  </div>
  <div class="col col-xs-2 text-right"><a href="http://docs.platformio.org/en/stable/userguide/lib/cmd_search.html#description">advanced search syntax</a>
  </div>
</div>
