<view-title>{{ vm.meta.title }} · Libraries</view-title>
<meta name="description" content="{{ vm.meta.description }}" view-head />
<meta name="keywords" content="{{ vm.meta.keywords }}" view-head />

<div class="jumbotron">
  <div class="container">
    <h1>{{ vm.lib.name }} <small>by <span ng-repeat="author in vm.lib.authors">{{ author.name }}<span ng-if="!$last">,&nbsp;</span></span></small></h1>
    <p>
      {{ vm.lib.description }}
    </p>

    <label class="control-label" for="installCmd">Installation</label>
    <div class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">&gt;</span>
          <input type="text" class="form-control" style="min-width: 300px; background-color: white;" id="installCmd" value='pio lib install "{{ vm.lib.name }}"' onClick="this.setSelectionRange(0, this.value.length)" readonly>
        </div>
      </div>
      &nbsp; <a class="btn btn-success" href="/platformio-ide" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="Library"><i class="fa fa-download fa-lg"></i> &nbsp;Open in PlatformIO IDE</a>
      &nbsp; | &nbsp; <a href="#" ng-click="vm.changeTab('installation')">More info</a>
    </div>
  </div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/lib">Libraries</a></li>
    <li class="active">{{ vm.lib.name }}</li>
  </ol>

  <article>
    <div class="row">
      <div class="col-xs-8">
        <uib-tabset active="vm.activeTab">
          <uib-tab select="vm.changeTab('examples')">
            <uib-tab-heading>
              <h4><i class="fa fa-graduation-cap"></i> Examples</h4>
            </uib-tab-heading>
            <br>
            <div ng-if="!vm.examples.length" class="alert alert-warning" role="alert">The library doesn't have any examples.</div>

            <div ng-if="vm.examples.length">
              <p>
                <div class="text-center">
                  <div class="btn-group">
                    <label class="btn btn-default btn-sm" ng-model="vm.currentExample" ng-repeat="item in vm.examples" uib-btn-radio="item">{{ item.name }}</label>
                  </div>
                </div>
              </p>
              <div hljs include="vm.currentExample.url" language="cpp"></div>
            </div>
          </uib-tab>

          <uib-tab select="vm.changeTab('installation')">
            <uib-tab-heading>
              <h4><i class="fa fa-download"></i> Installation</h4>
            </uib-tab-heading>
            <br>

            <h3>PlatformIO IDE Library Manager <small>for Atom</small></h3>
            <a href="/get-started/ide?install=atom">PlatformIO IDE for Atom</a> has built-in Library Manager with a friendly GUI. It allows:
            <ul>
              <li>Search for new libraries in PlatformIO Registry</li>
              <li>"1-click" library installation, per-project libraries, extra storages</li>
              <li>List installed libraries in multiple storages</li>
              <li>List built-in libraries (by frameworks)</li>
              <li>Updates for installed libraries</li>
              <li>Multiple examples, trending libraries, and more.</li>
            </ul>
            <a href="/get-started/ide?install=atom"><img src="images/platformio-ide-atom-home-lib.png" class="img-shadow" style="max-width: 100%" alt="PlatformIO IDE for Atom: Library Manager" /></a>

            <h3>Project Dependencies <small>platformio.ini</small></h3>
            <p>
              <div class="alert alert-info" role="alert">
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-info-circle fa-lg fa-li"></i> Please make sure to read <a href="http://docs.platformio.org/page/librarymanager/index.html" class="alert-link">PlatformIO Library Manager</a> guide first.
                  </li>
                </ul>
              </div>
            </p>
            <p><b>PlatformIO Library Manager</b> allows to specify dependencies for the
            specific project in <a href="http://docs.platformio.org/page/projectconf.html">Project Configuration File "platformio.ini"</a>
            using <code>lib_deps</code> option. PlatformIO will install dependent libraries automatically when processes (builds) a project.</p>
            <div class="well terminal">
              <b>[env:myenv]</b>
              <div>platform = <font color="silver">{{ vm.lib.platforms[0].name }}</font></div>
              <p>framework = <font color="silver">{{ vm.lib.frameworks[0].name }}</font></p>

              <p>lib_deps =<br>
                &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># Using library <kbd>Id</kbd></small><br>
                &nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.id }}</font>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># Using library <kbd>Name</kbd></small><br>
                  &nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.name }}</font>
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># Depend on specific <kbd>version</kbd></small><br>
                  &nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.name }}@{{ vm.lib.version.name }}</font>
                </p>

                <div ng-if="vm.lib.version.name.indexOf('.') !== -1">
                  &nbsp;&nbsp;&nbsp;&nbsp; <small class="comment"># <a href="http://docs.platformio.org/page/userguide/lib/cmd_install.html#description">Semantic Versioning Rules</a></small><br>
                  <div>&nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.name }}@^{{ vm.lib.version.name }}</font></div>
                  <div>&nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.name }}@~{{ vm.lib.version.name }}</font></div>
                  <div>&nbsp;&nbsp;&nbsp;&nbsp; <font color="silver">{{ vm.lib.name }}@>={{ vm.lib.version.name }}</font></div>
                </div>
              </p>
            </div>

            <h3>Command Line Interface</h3>
            <p>
              <a href="/platformio-ide">PlatformIO IDE</a> has built-in <kbd><i class="fa fa-terminal"></i></kbd> Terminal
              that can be used to manage libraries manually, <kbd>Menu: PlatformIO > Terminal > Toggle</kbd>
            </p>

            <div class="well terminal">
              <small class="comment"># Using library <kbd>Id</kbd></small>
              <p><i class="fa fa-angle-right fa-lg"></i> platformio <font color="silver">lib install</font> {{ vm.lib.id }}</p>
              <small class="comment"># Using library <kbd>Name</kbd></small>
              <p><i class="fa fa-angle-right fa-lg"></i> platformio <font color="silver">lib install</font> "{{ vm.lib.name }}"</p>
              <small class="comment"># Install specific <kbd>version</kbd></small><br>
              <i class="fa fa-angle-right fa-lg"></i> platformio <font color="silver">lib install</font> {{ vm.lib.id }}@{{ vm.lib.version.name }}<br>
              <i class="fa fa-angle-right fa-lg"></i> platformio <font color="silver">lib install</font> "{{ vm.lib.name }}@{{ vm.lib.version.name }}"
            </div>

            <h3>Download <small>source code</small></h3>
            <button type="button" class="btn btn-success btn-lg" uib-tooltip="Download Tar.Gz" ng-click="vm.downloadLib()"><i class="fa fa-download fa-lg"></i> {{ vm.lib.name }} @ {{ vm.lib.version.name }}</button>

          </uib-tab>

          <uib-tab select="vm.changeTab('headers')">
            <uib-tab-heading>
              <h4><i class="fa fa-file-code-o"></i> Headers</h4>
            </uib-tab-heading>

            <br>
            <p>
              <div class="alert alert-info" role="alert">
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-info-circle fa-lg fa-li"></i> PlatformIO allows to search for a library using known/missed header file name:
                    <ul>
                      <li>PlatformIO Web - <a href="/lib/search?query=header%253ARH_ASK.h" class="alert-link"><i class="fa fa-globe"></i> header:RH_ASK.h</a></li>
                      <li>PlatformIO Core - <kbd><i class="fa fa-angle-right fa-lg"></i> platformio lib search -i RH_ASK.h</kbd></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </p>

            <ul ng-if="vm.lib.headers.length" class="fa-ul">
              <li ng-repeat="header in vm.lib.headers"><i class="fa-li fa fa-file-code-o"></i> <h4>{{ header }}</h4></li>
            </ul>
          </uib-tab>

          <uib-tab select="vm.changeTab('manifest'); vm.manifestUrl = vm.lib.confurl;">
            <uib-tab-heading>
              <h4><i class="fa fa-edit"></i> Manifest</h4>
            </uib-tab-heading>
            <br>
            <p>
              <div class="row">
                <div class="col-md-8">Specification for manifests:
                  <a href="http://docs.platformio.org/page/librarymanager/config.html">library.json</a>,
                  <a href="https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5:-Library-specification">library.properties</a>,
                 <a href="http://yottadocs.mbed.com/reference/module.html">module.json</a>
                </div>
                <div class="col-md-4 text-right"> <button class="btn btn-primary btn-sm" ng-click="vm.editLibraryConf(vm.lib.confurl)">Edit Manifest</button></div>
              </div>
            </p>
            <div hljs include="vm.manifestUrl"></div>
          </uib-tab>

        </uib-tabset>
      </div>

      <div class="col-xs-4">
        <h3>Tags</h3>
        <div class="keywords">
          <a ng-href="/lib/search?query=keyword%253A%2522{{ keyword }}%2522" class="btn btn-default btn-sm" ng-repeat="keyword in vm.lib.keywords"><i class="fa fa-tag fa-lg"></i> {{ keyword }}</span></a>
        </div>

        <div class="keywords" ng-if="vm.lib.platforms.length">
          <h3 uib-tooltip="Compatible Platforms">Platforms</h3>
          <a href="/lib/search?query=platform%253A%2522{{ item.name }}%2522" class="btn btn-default btn-sm" ng-repeat="item in vm.lib.platforms"><i class="fa fa-laptop"></i> {{ item.title }}</a>
        </div>

        <div class="keywords" ng-if="vm.lib.frameworks.length">
          <h3 uib-tooltip="Compatible Frameworks">Frameworks</h3>
          <a ng-href="/lib/search?query=framework%253A%2522{{ item.name }}%2522" class="btn btn-default btn-sm" ng-repeat="item in vm.lib.frameworks"><i class="fa fa-cog"></i> {{ item.title }}</a>
        </div>

        <h3>Authors</h3>
        <div ng-repeat="author in vm.lib.authors" ng-class="{'lib-author-detail': !$first}">
          <i class="fa fa-book"></i> <a ng-href="/lib/search?query=author%253A%2522{{ author.name }}%2522"><strong>{{ author.name }}</strong><span ng-if="author.maintainer"> (maintainer)</span></a>
          <br>
          <div ng-if="author.email"><i class="fa fa-envelope"></i> <a href="mailto:{{ author.email }}">{{ author.email }}</a>
          </div>
          <div ng-if="author.url"><i class="fa fa-globe"></i> <a href="{{ author.url }}" target="_blank">{{ author.url }}</a>
          </div>
        </div>

        <h3 ng-if="vm.lib.homepage || vm.lib.repository">Resources</h3>
        <div ng-if="vm.lib.homepage"><i class="fa fa-home"></i> <a href="{{ vm.lib.homepage }}" target="_blank">Homepage</a></div>
        <div ng-if="vm.lib.repository"><i class="fa fa-github"></i> <a href="{{ vm.lib.repository }}" target="_blank">Repository</a></div>

        <h3>Unique Downloads</h3>
        <b>{{ vm.lib.dlstats.day }}</b> in the last day
        <br><b>{{ vm.lib.dlstats.week }}</b> in the last week
        <br><b>{{ vm.lib.dlstats.month }}</b> in the last month

        <h3>Versions</h3>
        <div ng-repeat="item in vm.lib.versions.slice().reverse()">
          <span uib-tooltip="{{ item.released | date:'medium' }}"><strong>{{ item.name }}</strong> <small>released {{ item.released | relativeDate }}</small></span>
        </div>

      </div>
    </div>

  </article>


</div>
