<view-title>{{ vm.searchResult.page > 1 ? 'Page ' + vm.searchResult.page + ' ·' : '' }} {{ vm.searchQuery ? vm.searchQuery + ' ·' : '' }} Libraries</view-title>
<meta name="description" content="{{ vm.meta.description }}" view-head />
<meta name="keywords" content="{{ vm.meta.keywords }}" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-code"></i> Libraries <small>Search</small></h1>
  </div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/lib">Libraries</a></li>
    <li class="active">Search</li>
  </ol>

  <ng-include src="'views/lib_search_form.html'"></ng-include>
  <hr>

  <div class="clearfix">
    <div class="pull-left text-muted">
      Found {{ vm.searchResult.total | number }} results
    </div>

    <div class="search-filters pull-right">
      <div class="btn-group" uib-dropdown>
        <button type="button" class="btn default dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-cogs"></i> Frameworks <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="" ng-click="vm.searchQuery=''; vm.submitSearchForm()">All</a>
          </li>
          <li ng-repeat="item in vm.frameworks"><a href="" ng-click="vm.searchQuery='framework:' + item.name; vm.submitSearchForm()">{{ item.title }}</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" uib-dropdown>
        <button type="button" class="btn default dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-laptop"></i> Platforms <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="" ng-click="vm.searchQuery=''; vm.submitSearchForm()">All</a>
          </li>
          <li ng-repeat="item in vm.platforms"><a href="" ng-click="vm.searchQuery='platform:' + item.name; vm.submitSearchForm()">{{ item.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-if="vm.searchResult.items.length">
    <section class="search-result">
      <div class="well well-sm" ng-repeat="item in vm.searchResult.items">
        <div class="clearfix">
          <div class="pull-left">
            <h3 class="title"><a ng-href="/lib/show/{{ item.id }}/{{ item.name }}">{{ item.name }}</a>
            <small> by <span ng-repeat="name in item.authornames">{{ name }}<span ng-if="!$last">,&nbsp;</span></span></small>
          </h3>
          </div>
          <div class="pull-right">
            <span uib-tooltip="Examples"><i class="fa fa-graduation-cap"></i> {{ item.examplenums }}</span> &nbsp; <span uib-tooltip="Downloads"><i class="fa fa-download"></i> {{ item.dllifetime | number }} &nbsp;</span>
            <span ng-if="item.frameworks.length" uib-tooltip="Compatible Frameworks"><i class="fa fa-cogs"></i>&nbsp;<span ng-repeat="item in item.frameworks"><a href="/lib/search?query=framework%253A%2522{{ item.name }}%2522">{{ item.title }}</a><span ng-if="!$last">{{ ', ' }}</span></span></span>
          </div>
        </div>

        <p>{{ item.description }}</p>

        <p>
          <i class="fa fa-tag"></i>&nbsp;<span ng-repeat="keyword in item.keywords"><a href="/lib/search?query=keyword%253A%2522{{ keyword }}%2522">{{ keyword }}</a><span ng-if="!$last">{{ ', ' }}</span></span>
        </p>
        <div uib-tooltip="Compatible platforms" ng-if="item.platforms.length">
          <i class="fa fa-laptop"></i>&nbsp;<span ng-repeat="item in item.platforms"><a href="/lib/search?query=platform%253A%2522{{ item.name }}%2522">{{ item.title }}</a><span ng-if="!$last">{{ ', ' }}</span></span>
        </div>

      </div>
    </section>

    <div class="text-center">
      <ul uib-pagination ng-model="vm.searchResult.page" total-items="vm.searchResult.total" items-per-page="vm.searchResult.perpage" max-size=10 boundary-links="true" rotate="false" ng-change="vm.pageChanged()" class="pagination-sm">
      </ul>
    </div>
  </div>

  <div ng-if="!vm.searchResult.items.length" class="jumbotron">
    <h3>Nothing has been found by your request</h3>
    <p>Try a less-specific search or use truncation (or wildcard) operator <code>*</code>. See <button class="btn btn-primary btn-sm" ng-click="vm.siteUtils.showSearchExamples(vm.searchPath)"><i class="fa fa-search"></i> search examples</button></p>
    <p class="text-center">
      <a href="https://docs.platformio.org/page/userguide/lib/cmd_register.html" class="btn btn-success"><i class="fa fa-plus"></i> Register existing Library</a>
      <a href="https://docs.platformio.org/page/librarymanager/creating.html" class="btn btn-default"><i class="fa fa-code"></i> Create manifest for new Library</a>
      <a href="https://github.com/platformio/platformio-libmirror/issues" class="btn btn-default"><i class="fa fa-share-square-o"></i> Propose Library</a>
    </p>
  </div>

</div>
