<view-title>PlatformIO Plus License Agreement</view-title>
<meta name="description" content="PlatformIO Plus License Agreement" view-head />
<meta name="keywords" content="PlatformIO, license, business, partnership, agreement" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-balance-scale"></i> License Agreement <small>PlatformIO Plus</small></h1>
    <p>IMPORTANT - READ CAREFULLY: This is a legally binding agreement between <b>You and PLATFORMIO PLUS</b> for the use of PLATFORMIO PLUS SOFTWARE PRODUCTS or SOFTWARE.</p>
    <p>BY PAYING THE LICENSE FEE FOR THE SOFTWARE PRODUCT YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS EULA. </p>

  </div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/pricing">PlatformIO Plus</a></li>
    <li class="active">License Agreement</li>
  </ol>

  <p>U.S. COPYRIGHT LAWS AND INTERNATIONAL COPYRIGHT TREATIES, AS WELL AS OTHER INTELLECTUAL PROPERTY LAWS AND TREATIES PROTECT THE SOFTWARE PRODUCT. PLATFORMIO PLUS IS AND SHALL REMAIN THE OWNER OF ALL INTELLECTUAL PROPERTY RIGHTS IN THE SOFTWARE. THE SOFTWARE PRODUCT IS LICENSED TO YOU ON A NON-EXCLUSIVE, NON-ASSIGNABLE, NON-TRANSFERABLE, LIMITED, PERSONAL BASIS, NOT SOLD.</p>

  <p>TERMS:</p>

  <p>I. "<strong>You</strong>" means the person, company, or organization that has licensed the SOFTWARE PRODUCT(s) or SOFTWARE by means of a paid license fee respective of Your order.</p>

  <p>II. "<strong>SOFTWARE PRODUCT or SOFTWARE</strong>" means use of a copy of computer software identified herein and any associated media included in Your order.  A copy of the printed materials may include "online" or electronic documentation as well as any applicable licensed third party Content.</p>

  <p>III. "<strong>Computer</strong>" means a virtual or physical computer device that accepts information in digital or similar form and manipulates it for specific result based on a sequence of instructions. </p>

  <p>IV. "<strong>Internal Network</strong>" means a private, proprietary network resource accessible only by employees and individual contractors (i.e., temporary employees) of a specific corporation or similar business entity. Internal Network does not include portions of the Internet or any other network community open to the public, such as membership or subscription driven groups, associations and similar organizations.</p>

  <p>V. "<strong>Territory</strong>" means worldwide, but excludes any U.S. embargoed countries and countries where you are prohibited from using the Software or the Services.</p>

  <p>1. <strong>LICENSE GRANT AND RESTRICTIONS.</strong> </p>

  <p>The following section applies to all PLATFORMIO PLUS SOFTWARE PRODUCT(S) and SOFTWARE.</p>

  <p>If You obtained the SOFTWARE and as long as You comply with the terms of this EULA, PLATFORMIO PLUS grants You a non-exclusive, non-transferable, limited personal license to install and use the SOFTWARE PRODUCT or SOFTWARE in a manner consistent with its design, documentation, and Your order. You may only use the SOFTWARE according to the License ordered by You and granted by PLATFORMIO PLUS. PLATFORMIO PLUS offers several license types to meet the needs of its customers. Particular licenses are offered for the SOFTWARE PRODUCT OR SOFTWARE depending on the intended use of the SOFTWARE. Your order shall designate the authorized use of the SOFTWARE which may include but is not limited to; Personal License, Multi License, Enterprise License, or Volume Discount License.</p>

  <p>1.1 <strong>General Use</strong>. Except as otherwise provided in this EULA, You may install and use the SOFTWARE on up to the Permitted Number of Your compatible Computer(s) according to Your order. For Personal licenses (a single license), as long as You are the Sole User of the software, You may install and use the SOFTWARE on as many Computer(s) (or virtual machines) as you want.</p>

  <p>1.2 <strong>Distribution from Server</strong>. You may copy an image of the SOFTWARE onto file server(s) within Your Internal Network for the purpose of downloading and installing the SOFTWARE onto Computers within the same Internal Network for use as permitted by Section 1.1.</p>

  <p>1.3 <strong>Server Use</strong>. You may install the SOFTWARE on Computer file server(s) within Your Internal Network only for use of the SOFTWARE initiated by an individual from a Computer within the same Internal Network as permitted by Section 1.1. The total number of users (not the concurrent number of users) able to use the SOFTWARE on such Computer file servers(s) may not exceed the Permitted Number of users as specified by the license purchased.</p>

  <p>1.3.1 The foregoing does not permit You to install or access (either directly or through commands, data or instructions) the SOFTWARE: (i) from or to a Computer not part of Your Internal Network (with the exception of a world-wide enterprise license), (ii) for enabling web hosted work groups or services available to the public, (iii) by an individual or entity to use, download, copy or otherwise benefit from the functionality of the SOFTWARE unless licensed to do so by PLATFORMIO PLUS, (iv) as a component of a system, work flow or service accessible by more than the Permitted Number of users.</p>

  <p>1.4 <strong>Backup Copy</strong>. You may make a reasonable number of backup copies of the SOFTWARE, provided Your backup copies are not installed or used for other than archival purposes.</p>

  <p>2. <strong>Subscription-Based Software License</strong>. If we provide the Software to you as part of your subscription to use the Services, then subject to your compliance with these terms, we grant you a non-exclusive license to install and use the Software: (a) in the Territory, (b) so long as your subscription is valid, and (c) consistent with applicable terms and related documentation of this agreement. For personal subscriptions, you may activate the Software on unlimited computers (or virtual machines) at a time.  If your activations are associated with a License ID for a business or corporation, then your activations are limited to the quantity purchased. Personal activations may not be used by anyone other than the individual licensee. </p>

  <p>2.1 <strong>Activation</strong>.  The Software may require you to take certain steps to activate your Software or validate your subscription. Failure to activate or register the Software, validate the subscription, or a determination by us of fraudulent or unauthorized use of the Software may result in reduced functionality, inoperability of the Software, or a termination or suspension of the subscription.</p>

  <p>2.2 <strong>All our subscription plans are Pre-paid</strong></p>

  <p>a. <strong>Payment</strong>. You will be charged the fees stated at the time of purchase. As soon as we have received full payment, your paid subscription will begin.</p>

  <p>b. <strong>Renewal</strong>. The prepaid price is valid for a full 1 or 12 months (depending on a subscription type). After that, we'll renew your contract automatically unless you cancel. The price is subject to change, but we will always notify you beforehand.</p>

  <p>c. <strong>Refund</strong>. Because all PLATFORMIO PLUS products are available on a 30-Day Free Trial basis, paid subscription or license fees are not subject to refund. </p>

  <p>d. <strong>Annual Commitment with Annual Payment</strong>.  Your credit card will be charged the fees stated at the time of purchase.  Your subscription will start as soon as your credit card is successfully charged and will renew automatically until you cancel your subscription.  Price may change at the end of your subscription period.</p>

  <p>e. <strong>Cancellation</strong>. The PLATFORMIO PLUS All Access license is offered on a monthly or an annual pre-paid subscription basis.  We will always send you a renewal notice (even if you have authorized automatic renewals).  Once you receive the renewal notice, you may cancel your subscription.  You may also cancel your subscription by emailing us.</p>

  <p>2.3 <strong>Online Purchases</strong>.  To ensure a safe and secure online shopping experience, PLATFORMIO PLUS uses FastSpring as its online checkout merchant service provider.  All online transactions are subject to common card industry terms and conditions.  These may be found here: https://fastspring.com/terms-use</p>

  <p>3. <strong>OTHER RIGHTS AND LIMITATIONS</strong>.</p>

  <p>3.1 <strong>Limitations on Reverse Engineering, De-compilation, and Disassembly</strong>. You may not reverse engineer, decompile, translate, localize or disassemble the SOFTWARE PRODUCT.</p>

  <p>3.2 <strong>Separation of Components</strong>. The SOFTWARE PRODUCT is licensed as a single product. Its component parts may not be separated for use on more than one computer. You may not unbundle or repackage the SOFTWARE PRODUCT for distribution.</p>

  <p>3.3 <strong>Rental</strong>. You may not rent, license, assign, transfer, time share, host, lend, sub-license, distribute, or lease the SOFTWARE PRODUCT except as otherwise expressly provided in this EULA.</p>

  <p>3.4 <strong>Software Transfers of Rights</strong>. You may transfer a multi-user, site, or enterprise license (in-full) in connection with a divestiture, a merger, or consolidation, as long as You provide PLATFORMIO PLUS with prior written assigned notice, on a form that PLATFORMIO PLUS will provide You, that includes: (i) the original license order number/details; (ii) the quantity of licenses, if applicable, being transferred by product and version; (iii) the name, address and contact information of the transferee; (iv) any other information that PLATFORMIO PLUS reasonably requests.</p>

  <p>For all other transfers of licenses, PLATFORMIO PLUS prior written consent is required. No license transfer will be valid unless the transferee accepts in writing the applicable product use rights, use restrictions, and limitations of liability. Any transfer made in violation of the requirements or restrictions of this section will be void and may result in the license being terminated. You may not transfer licenses on a short-term basis or transfer temporary rights to use products.</p>

  <p>The SOFTWARE PRODUCT and any copies of the SOFTWARE PRODUCT or any SOFTWARE key or key codes related to the SOFTWARE PRODUCT and PLATFORMIO PLUS trademarks may not be used, posted or displayed in any form or manner on any online auction sites or any other site without the express prior written permission of PLATFORMIO PLUS.</p>

  <p>3.5 <strong>Term and Termination</strong>. The term of this EULA granted to you for the use of the SOFTWARE PRODUCT is for 1 year, renewable automatically, but without prejudice to any other rights, PLATFORMIO PLUS may terminate this EULA if you fail to comply with any of the terms and conditions of this EULA. In such event, you must destroy all copies of the SOFTWARE PRODUCT and all of its component parts.</p>

  <p>3.6 <strong>Trial Version Restrictions</strong>. Your rights to install and use the Trial Version under this section will immediately terminate upon the earlier of (a) the expiration of the Trial Period, or (b) such time that You purchase a license to the SOFTWARE PRODUCT or SOFTWARE. YOU ACKNOWLEDGE THAT THE TRIAL VERSION MAY HAVE LIMITED FEATURES, FUNCTION FOR A LIMITED PERIOD OF TIME, HAVE OTHER LIMITATIONS NOT PRESENT IN A NON-TRIAL VERSION OF THE SOFTWARE. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS EULA, THE TRIAL VERSION OF ANY PLATFORMIO PLUS SOFTWARE PRODUCT or SOFTWARE IS PROVIDED TO YOU ON AN "AS IS" BASIS, AND PLATFORMIO PLUS DISCLAIMS ANY WARRANTY OR LIABILITY OBLIGATIONS TO YOU OF ANY KIND.</p>

  <p>4. <strong>Intellectual Property Rights</strong>. All rights, title, and interests, including, but not limited to, all copyrights, trade secret rights, patent and trademark rights in and to the SOFTWARE PRODUCT (including but not limited to any images incorporated into the SOFTWARE PRODUCT), the accompanying printed materials, and any copies of the SOFTWARE PRODUCT, are owned by and shall remain the sole property of PLATFORMIO PLUS.</p>

  <p>5. <strong>Injunctive Relief</strong>. The parties agree that if You utilize or otherwise use any of the SOFTWARE PRODUCT in an unauthorized manner, or breach the terms and conditions of this EULA, that such use or breach would have a devastating and serious impact on PLATFORMIO PLUS's continuing ability to compete profitably and would, therefore, result in immediate and irreparable injury, loss or damage to PLATFORMIO PLUS. The parties agree that in such event, in addition to PLATFORMIO PLUS's right to recover damages for a breach of this EULA, PLATFORMIO PLUS would be entitled to obtain a temporary restraining order or a preliminary injunction from a court of competent jurisdiction to prevent You, Your employees, agents, consultants, or independent contractors from engaging in any further use of the SOFTWARE PRODUCT or the continued breach of the remaining terms and conditions of this EULA.</p>

  <p>6. <strong>Limited Warranty</strong>. PLATFORMIO PLUS warrants that the SOFTWARE PRODUCT will perform substantially in accordance with the accompanying written materials for a period of ninety (90) days from the date of receipt. Some states and jurisdictions do not allow limitations on duration of an implied warranty, so the above limitation may not apply to You. To the extent allowed by applicable law, implied warranties on the SOFTWARE PRODUCT, are limited to ninety (90) days and one year, respectively.</p>

  <p>7. <strong>Customer Remedies</strong>. PLATFORMIO PLUS's and its suppliers' or licensor's entire liability and Your exclusive remedy shall be, at PLATFORMIO PLUS's option, either (a) return the license fee paid, or (b) repair or replacement of the SOFTWARE PRODUCT that does not meet PLATFORMIO PLUS's Limited Warranty and which is returned to PLATFORMIO PLUS with a copy of Your receipt.</p>

  <p>This Limited Warranty is void if failure of the SOFTWARE PRODUCT has resulted from misapplication. Any replacement SOFTWARE PRODUCT will be warranted for the remainder of the original warranty period or thirty (30) days, whichever is longer. Outside the United States, neither these remedies nor any product support services offered by PLATFORMIO PLUS are available without proof of purchase from an authorized international source.</p>

  <p>8. <strong>NO OTHER WARRANTIES</strong>. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, PLATFORMIO PLUS AND ITS SUPPLIERS, and LICENSORS DISCLAIM ALL OTHER WARRANTIES, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p>

  <p>9. <strong>NO LIABILITY FOR CONSEQUENTIAL DAMAGES</strong>. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL PLATFORMIO PLUS OR ITS SUPPLIERS, OR LICENSORS, BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE, MISUSE, OR INABILITY TO USE THE SOFTWARE PRODUCT, EVEN IF PLATFORMIO PLUS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES AND JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>

  <p>10. <strong>Survival</strong>. The restrictions and obligations as contained in this EULA which You have voluntarily agreed to shall survive any expiration, termination or cancellation of this EULA, and shall continue and remain in effect to bind You, and Your employees, agents, successors, heirs and assigns.</p>

  <p>11. <strong>Succession</strong>. This EULA and the applicable License restrictions set forth the entire Agreement and understanding between the parties as to the subject matter of this Agreement and supersede all prior EULA's, discussions, representations, and amendments of understandings of every kind and nature between them.</p>

  <p>12. <strong>Amendments</strong>. Except as otherwise provided in this EULA, this Agreement may not be amended, altered, or any of its provisions waived on behalf of either party, except in writing executed by both parties' duly authorized agent.</p>

  <p>13. <strong>Assignability</strong>. Except as otherwise expressly provided under this EULA, this agreement and the rights and duties under this Agreement may not be assigned by You without the prior written consent of PLATFORMIO PLUS.</p>

  <p>14. <strong>Benefit</strong>. This EULA shall be binding upon and inure to the benefit of PLATFORMIO PLUS and its successors and assigns.</p>

  <p>15. <strong>Counterparts</strong>. This EULA may be executed and/or accepted in one or more counterparts, each of which shall be enforceable against the party actually executing and/or accepting the counterparts, and all of which together shall constitute one instrument.</p>

  <p>16. <strong>Severability</strong>. If any provision of this EULA becomes or is declared by a court of competent jurisdiction to be illegal, unenforceable, or void, the remaining portion(s) of this EULA shall continue in full force and effect without said provision; provided, however, that no such severability shall be effective if it materially changes the economic benefit of the EULA to PLATFORMIO PLUS.</p>

  <p>17. <strong>Authority to Execute and Accept</strong>. You warrant and represent to PLATFORMIO PLUS that this EULA shall be binding upon You, and that the individual agreeing to be bound under the terms and conditions of this EULA is authorized or has been empowered to do so.</p>

  <p>18. <strong>Third party Acknowledgement and Terms</strong>. The SOFTWARE PRODUCT or SOFTWARE may use or include third party components or Content and other copyrighted or publicly licensed material. Acknowledgments, licensing terms and additional disclaimers for such components, Content, or materials are contained in the respective components documentation, and Your use of such components, Content or material is governed by their respective terms and conditions.</p>

  <p>19. <strong>Order of Precedence</strong>. If there is any conflict between the terms of any previous End User License Agreement (EULA) and this Agreement and any Additional Terms, then this agreement and any Additional Terms shall govern in relation to perpetual software licenses and subscription-based Software use.</p>

  <br />
</div>
