<view-title>PlatformIO IDE: The next generation integrated development environment for IoT</view-title>
<meta name="description" content="The next generation integrated development environment for IoT" view-head />
<meta name="keywords" content="PlatformIO, IDE, IoT, development, atom, mac, linux, windows, arduino, mbed" view-head />

<div class="platformio-ide-top jumbotron text-center">
  <div class="container">
    <h1>
      <i class="fa fa-cube"></i> PlatformIO IDE
      <br><small>The next generation integrated development environment for IoT</small>
    </h1>

    <a ng-if="vm.siteUtils.osType === 'Macintosh'" class="btn btn-success btn-lg" href="/get-started/ide?dl=platformio-atom-mac.zip" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Mac"><i class="fa fa-download fa-lg"></i> &nbsp;Download for Mac</a>
    <a ng-if="vm.siteUtils.osType === 'Windows'" class="btn btn-success btn-lg" href="/get-started/ide?dl=platformio-atom-windows.exe" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Windows"><i class="fa fa-download fa-lg"></i> &nbsp;Download for Windows</a>
    <a ng-if="vm.siteUtils.osType === 'Linux'" class="btn btn-success btn-lg" href="/get-started/ide?dl=platformio-atom-linux-x86_64.deb" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Linux"><i class="fa fa-download fa-lg"></i> &nbsp;Download .deb</a>
    <a ng-if="vm.siteUtils.osType === 'Linux'" class="btn btn-success btn-lg" href="/get-started/ide?dl=platformio-atom-linux-x86_64.rpm" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Linux"><i class="fa fa-download fa-lg"></i> &nbsp;Download .rpm</a>
    <a ng-if="vm.siteUtils.osType === ''" class="btn btn-success btn-lg" href="/platformio-ide#other-platforms" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Other"><i class="fa fa-download fa-lg"></i> &nbsp;Download</a>
    <p><small>It's built on top of GitHub's Atom "hackable" text editor</small></p>

    <p class="other-links">
      <ul class="list-inline">
        <li><i class="fa fa-rocket"></i> <a href="http://docs.platformio.org/en/latest/ide/atom.html#installation">Installation Guide</a></li>
        <li>·</li>
        <li>Available on <a href="/platformio-ide#other-platforms">other platforms</a> and as <a href="http://docs.platformio.org/en/latest/ide/atom.html#manual-installation" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Package">Atom package</a></li>
        <li>·</li>
        <li>Integration with <a href="/get-started/integration">other IDE</a></li>
      </ul>
    </p>
  </div>
</div>

<div class="platformio-ide-laptop">
  <img src="images/platformio-ide-laptop.png" alt="PlatformIO IDE - the next generation integrated development environment for IoT" title="PlatformIO IDE - the next generation integrated development environment for IoT" tooltip="PlatformIO IDE - the next generation integrated development environment for IoT" class="img-responsive center-block">
</div>

<div class="platformio-ide-features jumbotron">
  <div class="container">
    <div class="row text-center top-items-lg">
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-code fa-5x"></i></div></center>
        <h2>Rapid Development</h2>
        <p>
          C/C++ <abbr title="C/C++ Intelligent Code Completion">Intelligent Code Completion</abbr> and <abbr title="C/C++ Smart Code Linter">Smart Code Linter</abbr> for rapid professional development.
          Multi-projects workflow with Multiple Panes.
          Themes Support with dark and light colors.
        </p>
      </div>
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-gamepad fa-5x"></i></div></center>
        <h2>Embedded Development</h2>
        <p>
          Cross-platform Build System without external dependencies to the OS software: <a href="/boards">200+ embedded boards</a>, <a href="/platforms">15+ development platforms</a>, <a href="/frameworks">10+ frameworks</a>.
           Arduino and MBED compatible.
        </p>
      </div>
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-terminal fa-5x"></i></div></center>
        <h2>Built-in Terminal</h2>
        <p>
          Built-in Terminal with <a href="http://docs.platformio.org/en/latest/userguide/index.html">PlatformIO CLI</a> tool and support for the powerful
          <a href="http://docs.platformio.org/en/latest/userguide/cmd_serialports.html#platformio-serialports-monitorl"> Serial Port Monitor</a>.
          All advanced instruments without leaving your favourite development environment.
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container text-center">
  <a name="other-platforms"></a>
  <h2>Single IDE. <span class="text-muted">Multiple platforms.</span></h2>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <p><i class="fa fa-windows fa-5x"></i></p>
      <p><a class="btn btn-success" href="/get-started/ide?dl=platformio-atom-windows.exe" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Windows"><i class="fa fa-download fa-lg"></i> &nbsp;Download for Windows</a></p>
    </div>
    <div class="col-lg-3">
      <p><i class="fa fa-apple fa-5x"></i></p>
      <p><a class="btn btn-success" href="/get-started/ide?dl=platformio-atom-mac.zip" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Mac"><i class="fa fa-download fa-lg"></i> &nbsp;Download for Mac</a></p>
    </div>
    <div class="col-lg-3">
      <p><i class="fa fa-linux fa-5x"></i></p>
      <p>
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-success" uib-dropdown-toggle>
            <i class="fa fa-download fa-lg"></i> &nbsp;Download for Linux <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="/get-started/ide?dl=platformio-atom-linux-x86_64.deb" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Linux">Download .deb</a></li>
            <li role="menuitem"><a href="/get-started/ide?dl=platformio-atom-linux-x86_64.rpm" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Linux">Download .rpm</a></li>
          </ul>
        </div>
      </p>
    </div>
    <div class="col-lg-3">
      <p><i class="fa fa-desktop fa-5x"></i></p>
      <p><a class="btn btn-success" href="http://docs.platformio.org/en/latest/ide/atom.html#installation" role="button" analytics-on analytics-event="Download" analytics-category="IDE" analytics-label="Other"><i class="fa fa-download fa-lg"></i> &nbsp;Other Platforms</a></p>
    </div>
  </div>
</div>
<br> <br>
