<view-title>{{ vm.activeGroup == 2? 'Create Platform' : vm.platforms[vm.activePlatform].title }} · Development Platforms</view-title>
<meta name="description" content="{{ vm.activeGroup == 2? 'Create Development Platform' : vm.platforms[vm.activePlatform].description | truncate : 200 }}" view-head />
<meta name="keywords" content="embedded, platform, {{ vm.activeGroup == 2? 'creating' : vm.platforms[vm.activePlatform].title }}" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-laptop"></i> Development Platforms</h1>

    <p>
      <i>Embedded</i> and <i>Desktop</i> development platforms with pre-built toolchains, debuggers, uploaders and frameworks which work under popular host OS:
      <i class="fa fa-apple"></i> <i>Mac</i>, <i class="fa fa-linux"></i> <i>Linux <small>(+ARM)</small></i> and <i class="fa fa-windows"></i> <i>Windows</i>.
    </p>

  </div>
</div>

<div class="container">

<uib-tabset active="vm.activeGroup">
  <uib-tab ng-repeat="group in ['embedded', 'desktop']" index="$index">
    <uib-tab-heading>
      <h3 ng-if="group == 'embedded'"><a href="/platforms/atmelavr" ng-click="vm.changePlatform('atmelavr')">Embedded Platforms</a></h3>
      <h3 ng-if="group == 'desktop'"><a href="/platforms/linux_arm" ng-click="vm.changePlatform('linux_arm')">Desktop Platforms</a></h3>
    </uib-tab-heading>
    <br>
    <uib-tabset type="pills" active="vm.activePlatform">
      <uib-tab ng-repeat="platform in vm.platforms" index="$index" select="vm.changePlatform(platform.name)" ng-if="(group == 'embedded' && !platform.forDesktop) || (group == 'desktop' && platform.forDesktop)">
        <uib-tab-heading>
          <h4><a href="/platforms/{{ platform.name }}">{{ platform.title }}</a></h4>
        </uib-tab-heading>

        <br>

        <p class="lead">{{ platform.description }}</p>

        <div class="alert alert-info" ng-if="!vm.platforms.creating.active">
          <ul class="fa-ul">
            <li>
              <i class="fa fa-info-circle fa-lg fa-li"></i> More detailed information is located in documentation
              <a href="http://docs.platformio.org/page/platforms/{{ platform.name }}.html" class="alert-link">Platform {{ platform.title }}</a>.
            </li>
          </ul>
        </div>

        <h2>Packages</h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tr ng-repeat="name in platform.packages">
            <td><a href="{{ vm.packages[name].url }}" target="_blank">{{ name }}</a></td>
            <td>
              {{ vm.packages[name].description }}
            </td>
          </tr>
        </table>

        <div ng-if="!platform.forDesktop">
          <h2>Frameworks</h2>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tr ng-repeat="framework in vm.frameworks" ng-if="vm.isCompatibleFramework(framework.name, platform.name)">
              <td class="text-nowrap"><a href="/frameworks/{{ framework.name }}">{{ framework.title }}</a></td>
              <td>{{ framework.description }}</td>
          </tr>
          </table>

          <h2>Boards</h2>

          To list compatible boards with <b>Platform {{ platform.title }}</b> please use <a href="/boards?filter%5Bplatform%5D={{ platform.name }}" class="btn btn-success" role="button">Embedded Boards Explorer</a>
          or <a href="http://docs.platformio.org/page/platforms/{{ platform.name }}.html#boards">documentation for {{ platform.title }} platform</a>.
        </div>
      </uib-tab>
    </uib-tabset>
  </uib-tab>

  <uib-tab index="2" select="vm.changePlatform('creating')">
    <uib-tab-heading >
      <h3><a href="/platforms/creating"><i class="fa fa-plus"></i> Create Platform</a></h3>
    </uib-tab-heading>

    <br>

    <p class="lead">
      <b>PlatformIO</b> was developed like a tool which can build the same source code for the different development platforms via single command
      <a href="http://docs.platformio.org/page/userguide/cmd_run.html"><i class="fa fa-angle-right fa-lg"></i> platformio run</a>
      without any dependent software or requirements.

      <br> <br>
      For this purpose <i>PlatformIO</i> uses own pre-configured platforms data:
      build scripts, toolchains, the settings for the most popular embedded boards and etc.
      These data are pre-built and packaged to the different "packages".

      <br> <br>
      It allows <i>PlatformIO</i> to have multiple development platforms which can use the same packages(toolchains, frameworks),
      but have different/own build scripts, uploader and etc.
    </p>

    <p class="text-center">
      <a href="http://docs.platformio.org/page/platforms/creating_platform.html" class="btn btn-success btn-lg" role="button"  target="_blank"><i class="fa fa-plus fa-lg"></i> Create Platform</a>
    </p>
  </uib-tab>
</uib-tabset>

</div>
