<view-title>{{ vm.platform.title }} · Platforms</view-title>
<meta name="description" content="{{ vm.platform.description }}" view-head />
<meta name="keywords" content="{{ vm.platform.title }}, {{ vm.platform.frameworks.join(', ') }}, debug" view-head />

<div class="jumbotron">
  <div class="container">
    <h1>{{ vm.platform.title }}</h1>
    <p>
      {{ vm.platform.description }}
    </p>

    <label class="control-label" for="installCmd">Installation</label>
    <div class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">&gt;</span>
          <input type="text" class="form-control" style="min-width: 300px; background-color: white;" id="installCmd" value='pio platform install "{{ vm.platform.name }}"' onClick="this.setSelectionRange(0, this.value.length)" readonly>
        </div>
      </div>
      &nbsp; <a class="btn btn-success" href="/platformio-ide" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="Platform"><i class="fa fa-download fa-lg"></i> &nbsp;Open in PlatformIO IDE</a>
      &nbsp; | &nbsp; <a href="#" ng-click="vm.changeTab('installation')">More info</a>
    </div>
  </div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/platforms">Platforms</a></li>
    <li class="active">{{ vm.platform.title }}</li>
  </ol>

  <article>
    <div class="row">
      <div class="col-xs-9">
        <uib-tabset active="vm.activeTab">
          <uib-tab select="vm.changeTab('boards')">
            <uib-tab-heading>
              <h4><i class="fa fa-microchip"></i> Boards</h4>
            </uib-tab-heading>
            <br>

             <div ng-if="vm.tableParams.total() === 0" class="alert alert-warning" role="alert">No boards</div>

            <div ng-if="vm.tableParams.total()">
              <table ng-table="vm.tableParams"  show-filter="true" class="table table-hover table-responsive">
                <tr ng-repeat="item in $data">
                  <td sortable="'name'" data-title="'Name'" filter="{name: 'text'}">
                   <a href="https://docs.platformio.org/page/boards/{{ item.platform }}/{{ item.id }}.html" target="_blank">{{ item.name }}</a> <a href="javascript:void(0)" ngclipboard data-clipboard-text="{{ item.id }}" uib-tooltip="Copy ID to clipboard: {{ item.id }}" alt="ID: {{ item.id }}"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                  </td>
                  <td sortable="'mcu'" data-title="'MCU'" filter="{'mcu': 'text'}">
                    {{ item.mcu }}
                  </td>
                  <td sortable="'debug'" data-title="'Debug'" filter="{'debug.filters': 'select'}" filter-data="[{id: 'onboard', title: 'On-board'}, {id: 'external', title: 'External'}]" class="text-center text-nowrap">
                    <a ng-if="item.debug" uib-tooltip-html="'{{ item.debug | boardDebugInfo }}'" href="https://docs.platformio.org/page/boards/{{ item.platform }}/{{ item.id }}.html#debugging" target="_blank">
                      <span ng-if="item.debug.onboard.length > 0">On-board</span>
                      <span ng-if="item.debug.onboard.length === 0">External</span>
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                  <td sortable="'fcpu'" data-title="'Frequency'" class="text-nowrap">
                    {{ item.fcpu | embeddedFormatter : 'frequency' }}
                  </td>
                  <td sortable="'ram'" data-title="'RAM'" class="text-nowrap">
                    {{ item.ram | embeddedFormatter : 'size' }}
                  </td>
                  <td sortable="'rom'" data-title="'Flash'" class="text-nowrap">
                    {{ item.rom | embeddedFormatter : 'size' }}
                  </td>
                </tr>
              </table>
            </div>
          </uib-tab>

          <uib-tab select="vm.changeTab('installation')">
            <uib-tab-heading>
              <h4><i class="fa fa-download"></i> Installation</h4>
            </uib-tab-heading>
            <br>

            <h3>PlatformIO IDE</h3>
            <a href="/platformio-ide">PlatformIO IDE</a> has built-in <b>PIO Home: Platform Manager</b>. It provides a lightweight and effective solution that helps users to manage PlatformIO development platforms:
            <ul>
              <li>Search for new development platforms in PlatformIO Registry</li>
              <li>"1-click" development platform installation</li>
              <li>List installed development platforms</li>
              <li>Updates for installed platforms</li>
              <li>Multiple examples, trending platforms, and more.</li>
            </ul>
            <a href="/platformio-ide"><img src="images/pio-home-platform-manager.png" class="img-shadow" style="max-width: 100%" alt="PlatformIO IDE: Platform Manager" /></a>

            <h3>Project Dependencies <small>platformio.ini</small></h3>
            <p><b>PlatformIO Platform Manager</b> allows specifying development platform for the
            specific project using <a href="https://docs.platformio.org/page/projectconf.html">Project Configuration File "platformio.ini"</a>
            and <a href="https://docs.platformio.org/page/projectconf/section_env_general.html#platform">platform</a> option. PlatformIO will install dependent platform automatically when processes (builds) a project.</p>
            <div class="well terminal">
              <b>[env:the_latest_version]</b>
              <p>platform = <font color="silver">{{ vm.platform.name }}</font></p>

              <b>[env:exact_version]</b>
              <p>platform = <font color="silver">{{ vm.platform.name }}@1.2.3</font></p>

              <small class="comment"># <a href="https://docs.platformio.org/page/userguide/platforms/cmd_install.html#description">Semantic Versioning Rules</a></small><br>
              <b>[env:specific_major_version]</b><br>
              <small class="comment"># any compatible version (exact version for 1.x.x versions)</small></br>
              <p>platform = <font color="silver">{{ vm.platform.name }}@^1.2.3</font></p>

              <b>[env:specific_major_and_minor_version]</b><br>
              <small class="comment"># any version with the same major and minor versions, and an equal or greater patch version</small></br>
              <p>platform = <font color="silver">{{ vm.platform.name }}@~1.2.3</font></p>

              <b>[env:development_verion_by_git]</b>
              <p>platform = <font color="silver">{{ vm.platform.repository }}</font></p>

              <b>[env:custom_git_branch]</b>
              <p>platform = <font color="silver">{{ vm.platform.repository }}#custom-branch</font></p>

              <b>[env:specific_git_commit]</b>
              <p>platform = <font color="silver">{{ vm.platform.repository }}#1234567890abcdef</font></p>
            </div>

            <h3>Command Line Interface</h3>
            <p>
              <a href="/platformio-ide">PlatformIO IDE</a> has built-in <kbd><i class="fa fa-terminal"></i></kbd> Terminal that can be used to manage development platforms manually:
            </p>

            <div class="well terminal">
              <small class="comment"># Install the <kbd>latest</kbd> version</small>
              <p><i class="fa fa-angle-right fa-lg"></i> platformio <font color="silver">platform install</font> {{ vm.platform.name }}</p>
              <small class="comment"># Install <kbd>exact</kbd> version</small><br>
              <i class="fa fa-angle-right fa-lg"></i> platformio <font color="silver">platform install</font> {{ vm.platform.name }}@1.2.3<br>
            </div>

          </uib-tab>

          <uib-tab select="vm.changeTab('packages')">
            <uib-tab-heading>
              <h4><i class="fa fa-file-code-o"></i> Packages</h4>
            </uib-tab-heading>
            <br>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tr ng-repeat="name in vm.platform.packages.sort()">
                <td><a href="{{ vm.packages[name].url }}" target="_blank">{{ name }}</a></td>
                <td>
                  {{ vm.packages[name].description }}
                </td>
              </tr>
            </table>
          </uib-tab>

          <uib-tab select="vm.changeTab('examples')">
            <uib-tab-heading>
              <h4><i class="fa fa-code"></i> Examples</h4>
            </uib-tab-heading>
            <br>
            <p>Please visit development platform documentation for the <a href="{{ 'https://docs.platformio.org/page/platforms/' + vm.platform.name + '.html#examples' }}" target="_blank">available project examples</a>.</p>
          </uib-tab>

        </uib-tabset>
      </div>

      <div class="col-xs-3">
        <div class="keywords" ng-if="vm.platform.frameworks.length">
          <h3>Frameworks</h3>
          <a ng-href="/frameworks/{{ name }}" class="btn btn-default btn-sm" ng-repeat="name in vm.platform.frameworks"><i class="fa fa-cog"></i> {{ name | nameToTitle : vm.frameworks }}</a>
        </div>

        <h3>Resources</h3>
        <p><i class="fa fa-link"></i> <a href="{{ vm.platform.url }}" target="_blank">Vendor</a></p>
        <p><i class="fa fa-github"></i> <a href="{{ vm.platform.repository }}" target="_blank">Repository</a></p>
        <p><i class="fa fa-book"></i> <a href="{{ vm.platform.docs || 'https://docs.platformio.org/page/platforms/' + vm.platform.name + '.html' }}" target="_blank">Documentation</a></p>
        <div ng-if="vm.platform.license"><i class="fa fa-copyright"></i> <a href="{{ 'https://opensource.org/licenses/' + vm.platform.license }}" target="_blank">{{ vm.platform.license }}</a></p>
        <p ng-if="vm.platform.repository.indexOf('github.com') !== -1"><i class="fa fa-history"></i> <a href="{{ vm.platform.repository.replace('.git', '/releases') }}" target="_blank">Releases</a></p>
      </div>
    </div>

  </article>


</div>
