<view-title>PlatformIO IDE: The next-generation integrated development environment for IoT</view-title>
<meta name="description" content="The next-generation integrated development environment for IoT" view-head />
<meta name="keywords" content="PlatformIO, IDE, IoT, development, atom, mac, linux, windows, arduino, mbed" view-head />

<div class="platformio-ide-top jumbotron text-center">
  <div class="container">
    <h1>
      <i class="fa fa-cube"></i> PlatformIO IDE
      <br><small>The next-generation integrated development environment for IoT</small>
    </h1>

    <ul class="list-inline">
      <li>
        <a class="btn btn-success btn-lg" href="/get-started/ide?install=atom" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="Atom"><i class="fa fa-download fa-lg"></i> &nbsp;Install for Atom</a>
      </li>
      <li style="vertical-align: top; padding-top: 15px;">OR
      </li>
      <li>
        <a class="btn btn-success btn-lg" href="/get-started/ide?install=vscode" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="VSCode"><i class="fa fa-download fa-lg"></i> &nbsp;Install for VSCode <sup><span class="label label-danger">RECOMMENDED</span></sup></a>
      </li>
      <li style="vertical-align: top; padding-top: 15px;">
        <a href="#pioide-comparison" du-smooth-scroll><i class="fa fa-balance-scale" aria-hidden="true"></i> Compare</a>
      </li>
    </ul>

    <p><small>It's built on top of GitHub's Atom "hackable" text editor and Microsoft's Visual Studio Code</small></p>

    <p class="other-links">
      <ul class="list-inline">
        <li>Available as <a href="https://atom.io/packages/platformio-ide" target="_blank" analytics-on analytics-event="Package" analytics-category="IDE" analytics-label="Atom">Atom package</a> and <a href="https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide" target="_blank" analytics-on analytics-event="Package" analytics-category="IDE" analytics-label="VSCode">VSCode extension</a></li>
        <li>·</li>
        <li>Integration with <a href="http://docs.platformio.org/page/ide.html#cloud-ide">Cloud</a> and other <a href="http://docs.platformio.org/page/ide.html#other-ide">Desktop</a> IDEs</li>
      </ul>
    </p>
  </div>
</div>

<div class="platformio-ide-laptop">
  <img src="images/platformio-ide-laptop.png" alt="PlatformIO IDE - the next-generation integrated development environment for IoT" title="PlatformIO IDE - the next-generation integrated development environment for IoT" uib-tooltip="PlatformIO IDE - the next-generation integrated development environment for IoT" class="img-responsive center-block">
</div>

<div class="platformio-ide-features jumbotron">
  <div class="container">
    <div class="row text-center top-items-lg">
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-code fa-5x"></i></div></center>
        <h2>Rapid Development</h2>
        <p>
          C/C++ <abbr title="C/C++ Intelligent Code Completion">Intelligent Code Completion</abbr> and <abbr title="C/C++ Smart Code Linter">Smart Code Linter</abbr> for rapid professional development.
          Multi-projects workflow with Multiple Panes.
          Themes Support with dark and light colors.
        </p>
      </div>
      <div class="col-md-4">
        <center><div class="img-circle" style="padding-top: 40px;"><i class="fa fa-microchip fa-5x"></i></div></center>
        <h2>Embedded Development</h2>
        <p>
          Multi-platform Build System without external dependencies to the OS software: <a href="/boards">400+ embedded boards</a>, <a href="/platforms">20+ development platforms</a>, <a href="/frameworks">10+ frameworks</a>.
           Arduino and ARM mbed compatible.
        </p>
      </div>
      <div class="col-md-4">
        <center><div class="img-circle"><i class="fa fa-bug fa-5x"></i></div></center>
        <h2>Unified Debugger</h2>
        <p>
          <a href="http://docs.platformio.org/page/plus/debugging.html">PIO Unified Debugger</a> with a support for the multiple architectures and development platforms that allows you to <a href="/boards?sorting%5Bdebug%5D=asc">debug more than 100+ embedded boards</a> with Zero-Configuration!
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container text-center">
  <a name="other-platforms"></a>
  <h2>Single IDE. <span class="text-muted">Multiple platforms.</span></h2>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <p><i class="fa fa-windows fa-5x"></i></p>
      <h4>Windows</h4>
    </div>
    <div class="col-lg-4">
      <p><i class="fa fa-apple fa-5x"></i></p>
      <h4>Mac</h4>
    </div>
    <div class="col-lg-4">
      <p><i class="fa fa-linux fa-5x"></i></p>
      <h4>Linux</h4>
    </div>
  </div>
</div>

<br><br>

<a name="pioide-comparison"></a>
<div class="jumbotron text-center">
  <h2>Compare PlatformIO IDE</h2>
  <p>Discover the differences of each individual IDE and learn more about our product.</p>
  <p><small class="text-muted"><i class="fa fa-lightbulb-o"></i> In our experience, <a class="alert-link" href="/get-started/ide?install=vscode" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="VSCode">PlatformIO IDE for VSCode</a> offers better system performance, and users have found it easier to get started</small></p>
</div>

<div class="container idecomparison">

  <table class="table">
    <thead>
      <th><h3>Features</h3></th>
      <th><h3>PlatformIO IDE for Atom</h3></th>
      <th><h3>PlatformIO IDE for VSCode</h3></th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div>
            <div class="plan-button"><a class="btn btn-success" href="get-started/ide?install=atom">Install</a></div>
          </div>
        </td>
        <td>
          <div>
            <div class="plan-button"><a class="btn btn-success" href="get-started/ide?install=vscode">Install</a></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <th>Information</th>
      <th>Atom</th>
      <th>VSCode</th>
    </thead>
    <tbody>
      <tr>
        <th>Cost</th>
        <td>Free</td>
        <td>Free</td>
      </tr>
      <tr>
        <th>Developer</th>
        <td>GitHub</td>
        <td>Microsoft</td>
      </tr>
      <tr>
        <th>Platforms</th>
        <td>Windows, Mac, Linux</td>
        <td>Windows, Mac, Linux</td>
      </tr>
      <tr>
        <th>License</th>
        <td><a href="https://github.com/atom/atom/blob/master/LICENSE.md" target="_blank">MIT</a></td>
        <td><a href="https://github.com/Microsoft/vscode/blob/master/LICENSE.txt" target="_blank">MIT</a></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="https://atom.io/" target="_blank">https://atom.io/</a></td>
        <td><a href="https://code.visualstudio.com/" target="_blank">https://code.visualstudio.com/</a></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <table class="table table-hover">
    <thead>
      <th>#1 Editor Features</th>
      <th>PlatformIO IDE for Atom</th>
      <th>PlatformIO IDE for VSCode</th>
    </thead>
    <tbody>
      <tr>
        <th>Smart Code Linter</th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Intelligent Code Completion</th>
        <td>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <p class="text-warning"><small>requires <a href="http://docs.platformio.org/page/ide/atom.html#ide-atom-installation-clang" target="_blank">Clang</a></small></p>
          </td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Smart Code Navigation</th>
        <td>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <p class="text-warning"><small>limited</small></p>
        </td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Code Formatting</th>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <th>#2 Core Features</th>
      <th>PlatformIO IDE for Atom</th>
      <th>PlatformIO IDE for VSCode</th>
    </thead>
    <tbody>
      <tr>
        <th><a href="http://docs.platformio.org/page/core.html">Built-in PIO Core</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>
          Built-in PIO Home<br>
          <small>PIO Account, platform and package managers, board explorer, etc.</small>
        </th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="/platforms">Multi-platform Build System</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="http://docs.platformio.org/page/librarymanager/index.html">Library Manager</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Serial Port Monitor</th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <table class="table table-hover">
    <thead>
      <th>#3 <a href="http://docs.platformio.org/page/plus/debugging.html">PIO Unified Debugger</a></th>
      <th>PlatformIO IDE for Atom</th>
      <th>PlatformIO IDE for VSCode</th>
    </thead>
    <tbody>
      <tr>
        <th>Conditional Breakpoints</th>
        <td>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <p class="text-warning"><small>limited</small></p>
        </td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Expressions and Watchpoints</th>
        <td>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <p class="text-warning"><small>limited</small></p>
        </td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Generic Registers</th>
        <td>-</td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Peripheral Registers</th>
        <td>-</td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Memory Viewer</th>
        <td>-</td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Disassembly</th>
        <td>-</td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Multi-thread support</th>
        <td>-</td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>A hot restart of an active debugging session</th>
        <td>-</td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <th>#4 Other Features</th>
      <th>PlatformIO IDE for Atom</th>
      <th>PlatformIO IDE for VSCode</th>
    </thead>
    <tbody>
      <tr>
        <th><a href="http://docs.platformio.org/page/plus/unit-testing.html">Unit Testing</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="jumbotron text-center">
  <h2>Try it Now!</h2>
  <br>
  <p>
    <a class="btn btn-success btn-lg" href="/get-started/ide?install=atom" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="Atom"><i class="fa fa-download fa-lg"></i> &nbsp;Install for Atom</a> &nbsp;
    <a class="btn btn-success btn-lg" href="/get-started/ide?install=vscode" role="button" analytics-on analytics-event="Install" analytics-category="IDE" analytics-label="VSCode"><i class="fa fa-download fa-lg"></i> &nbsp;Install for VSCode</a>
  </p>
</div>

