<view-title>Plans and Features</view-title>
<meta name="description" content="PIO Plus: Professional solutions for an awesome open source PlatformIO ecosystem" view-head />
<meta name="keywords" content="PlatformIO, features, pricing, solutions, IoT, cloud, builder, embedded" view-head />

<span ng-init="vm.tooltips = {
  'pioremote_uploading': 'Upload firmware/program to wireless and wired devices (more than 500+ boards are supported) that are accessible for PIO Remote Agent (should be launched on a remote machine)',
  'pioremote_devmanager': 'List wired and wireless devices accessible for PIO Remote Agent (should be launched on a remote machine). Detailed hardware and vendor information for serial devices',
  'pioremote_sermon': 'Receive and to send data between host machine and remote device that is accessible for PIO Remote Agent (should be launched on a remote machine). For example, you are at home, serial device is located at work, then you can connect to work device and monitor all data',
  'pioremote_concurgents': 'You can have the launched PIO Remote Agents at home and at work in the same time. It allows you to process tasks in consecutive or in parallel orders, such as: device list, device monitor, firmware uploading, unit testing. With Professional plan you can have started only the 10 agents in the same time.',
  'pioremote_localunittesting': 'Run tests on a host machine or on the devices that are physically connected to it. It is useful to run native tests using Continuous Integration System.',
  'pioremote_remoteunittesting': 'Run tests on a remote machine or remote devices that are accessible for PIO Remote Agent. For example, you have Board Farm (Boards Matrix) at work that is connected with PIO Remote Agent. Now, using host machine or Continuous Integration System you can run test on physical remote devices.',
  'depends_on_pioremote_fu': 'Depends on PIO Remote Firmware Updates',
  'depends_on_pioremote_fusm': 'Depends on PIO Remote Firmware Updates and Serial Port Monitor',
  'free_trial': 'Free 30-Days Trial, no credit card required. Automatically activates when you create PIO Account.',
  'agent_share': 'Allows to share PIO Remote Agent and hardware (boards) with colleagues across your organization or friends',
  'platformio_club': 'Communicate directly with PlatformIO Team and receive an instant professional support',
  'premium_support_for_pio_plus': 'Premium support for Professional plan is available only for the PIO Plus products: PIO Unified Debugger, PIO Remote, PIO Unit Testing, Cloud IDEs Integration'
}"></span>

<div class="jumbotron">
  <div class="container ">
    <h1><i class="fa fa-shopping-cart fa-lg"></i> Plans and Features</h1>
    <br>
    <p><b>PIO Plus</b> - Professional solutions for an awesome open source PlatformIO ecosystem.</p>
    <p>Subscribe to PIO Plus plan and help us to keep PlatformIO open source project free, independent and alive!</p>
  </div>

</div>

<a name="pricing-top"></a>

<div class="container">

  <div class="text-center">
    <div class="btn-group">
      <label class="btn btn-default" ng-class="{'btn-primary': vm.currentSubscription === 'individual'}" ng-model="vm.currentSubscription" uib-btn-radio="'individual'"><i ng-if="vm.currentSubscription === 'individual'" class="fa fa-check" aria-hidden="true"></i> INDIVIDUAL CUSTOMERS</label>
      <label class="btn btn-default" ng-class="{'btn-primary': vm.currentSubscription === 'business'}" ng-model="vm.currentSubscription" uib-btn-radio="'business'"><i ng-if="vm.currentSubscription === 'business'" class="fa fa-check" aria-hidden="true"></i> BUSINESS &amp; ORGANIZATIONS</label>
      <label class="btn btn-default" ng-class="{'btn-primary': vm.currentSubscription === 'non-commercial'}" ng-model="vm.currentSubscription" uib-btn-radio="'non-commercial'"><i ng-if="vm.currentSubscription === 'non-commercial'" class="fa fa-check" aria-hidden="true"></i> NON-COMMERCIAL</label>
    </div>
    &nbsp; <a href="/subscriptions"><i class="fa fa-university" aria-hidden="true"></i> Subscription details</a>
  </div>

  <p class="text-center text-success" style="margin: 15px 0;">
    <b><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Pay Yearly and Get 2 Months FREE</b>
  </p>

  <div class="row">
    <div class="col-sm-4">
      <div class="pio-plan">
        <div class="plan-info">
          <h2>Community</h2>
          <div class="plan-price">
            <span class="currency"></span>FREE<span class="cents"></span>
          </div>
          <p>Free Forever, Open Source <br>No Credit Card Required</p>
        </div>
        <div class="plan-button"><a class="btn btn-primary" href="/install" role="button">Install</a></div>
        <div class="plan-includes">
          <b>Top features:</b>
        </div>
        <div class="plan-features">
          <ul>
            <li><a href="/platformio-ide">PlatformIO IDE</a></li>
            <li><a href="https://docs.platformio.org/page/core.html">PlatformIO Core</a></li>
            <li><a href="https://docs.platformio.org/page/librarymanager/index.html">Library Management</a></li>
            <li><a href="https://docs.platformio.org/page/ci/index.html">Continuous Integration</a></li>
            <li><a href="https://docs.platformio.org/page/ide.html#desktop-ide">Desktop IDEs Integration</a></li>
            <li><a href="/support">Community Support – Need Premium?</a></li>
            <li>30-Days <b>Free Trial</b> for Professional Plan <a uib-tooltip="{{ vm.tooltips['free_trial'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
          </ul>
          <p class="text-center"><a href="#pricing-comparison" du-smooth-scroll>Plan details <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pio-plan pio-plan-professional">
        <div class="plan-info">
          <h2>Professional</h2>
          <div class="sale" ng-if="vm.plans.professional.beforeSale">{{ vm.plans.professional.beforeSale }}</div>
          <div class="plan-price">
            <span class="currency"><i class="fa fa-money" aria-hidden="true"></i></span><span class="whole">{{ vm.plans.professional.whole }}</span><span class="cents">{{ vm.plans.professional.cents }}</span>
          </div>
          <p>
            /<b>{{ vm.currentSubscription === 'business' ? 'seat' : 'user' }}</b> a month, billed <span class="plan-billed-term">{{ vm.currentPeriod === 'Y' ? 'yearly' : 'monthly' }}</span> <br>
            <small ng-if="vm.currentSubscription !== 'non-commercial'">(<a href="" ng-click="vm.togglePeriod()" class="change-billed-term">see {{ vm.currentPeriod === 'M' ? 'annual' : 'monthly' }} rate</a>)</small>
            <small ng-if="vm.currentSubscription === 'non-commercial'">(only annual subscription)</small>
          </p>
        </div>
        <div class="plan-button"><button type="button" class="btn btn-success" ng-click="vm.checkout(vm.plans.professional.productId, vm.plans.professional.coupon)">Upgrade Now</button></div>
        <div class="plan-includes">
          <b>Top features:</b>
        </div>
        <div class="plan-features">
          <ul>
            <li><a href="https://docs.platformio.org/page/plus/debugging.html">PIO Unified Debugger</a></li>
            <li><a href="#solution-pio-remote" du-smooth-scroll>PIO Remote&trade;</a></li>
            <li><a href="#solution-unit-testing" du-smooth-scroll>PIO Unit Testing</a></li>
            <li><a href="#solution-cloud-ide" du-smooth-scroll>Cloud IDEs Integration</a></li>
            <li><a href="/support">Premium Support for PIO Plus</a> <a uib-tooltip="{{ vm.tooltips['premium_support_for_pio_plus'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
            <li>Regular updates and hot fixes for PIO Plus</li>
            <li>Funds the PlatformIO open source project</li>
          </ul>
          <p class="text-center"><a href="#pricing-comparison" du-smooth-scroll>Plan details <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pio-plan">
        <div class="plan-info">
          <h2>Enterprise</h2>
          <div class="plan-custom">
            CUSTOM
          </div>
        </div>
        <div class="plan-button"><a class="btn btn-success" href="/contact" role="button">Contact Us</a></div>
         <div class="plan-includes">
          <b>Top features:</b>
        </div>
        <div class="plan-features">
          <ul>
            <li><a href="#solution-white-labeling">White Labeling</a> – branded IDE with PIO Home in a few weeks, custom configuration & features</li>
            <li><a href="/support">Premium Support</a></li>
            <li>Certification Program</li>
            <li>Integration Services</li>
            <li>Priority Features, Hot Fixes</li>
          </ul>
          <p class="text-center"><a href="#enterprise-features" du-smooth-scroll>More details <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="alert alert-info" role="alert">
    <p><i class="fa fa-balance-scale" aria-hidden="true"></i> By subscribing to any plans, you accept with <a href="/license" class="alert-link">License and Subscription Agreement</a>.</p>
  </div>

</div>

<a name="pricing-comparison"></a>
<div class="jumbotron text-center">
  <h2>Compare PIO Plus plans</h2>
  <p>Discover the differences of each individual plan and learn more about our product.</p>
</div>

<div class="container piocomparison">


  <table class="table">
    <thead>
      <th><h3>Plans and Features</h3></th>
      <th>
        <div>
          <div class="plan-info">
            <h3>Community</h3>
          </div>
        </div>
      </th>
      <th>
        <div class="pio-plan-professional">
          <div class="plan-info">
            <h3>Professional</h3>
          </div>
        </div>
      </th>
      <th>
       <div>
          <div class="plan-info">
            <h3>Enterprise</h3>
          </div>
        </div>
      </th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><a class="btn btn-primary" href="/install" role="button">Install</a></td>
        <td>
          <div class="pio-plan-professional">
            <div class="plan-button"><a class="btn btn-success" href="#pricing-top" du-smooth-scroll>Get Now</a></div>
          </div>
        </td>
        <td><a class="btn btn-success" href="/contact" role="button">Contact Us</a></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <th>#1 Core Features</th>
      <th>Community</th>
      <th>Professional</th>
      <th>Enterprise</th>
    </thead>
    <tbody>
      <tr>
        <th><a href="/platforms">Multi-platform Build System</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="https://docs.platformio.org/page/librarymanager/index.html">Library Manager</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="https://docs.platformio.org/page/ci/index.html">Continuous Integration</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="#solution-continuous-deployment" du-smooth-scroll>Continuous Deployment</a></th>
        <td><a uib-tooltip="{{ vm.tooltips['depends_on_pioremote_fu'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="https://docs.platformio.org/page/plus/debugging.html">PIO Unified Debugger</th>
        <td>30-Days Free Trial <a uib-tooltip="{{ vm.tooltips['free_trial'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="#solution-unit-testing" du-smooth-scroll>Local Unit Testing</a> <a uib-tooltip="{{ vm.tooltips['pioremote_localunittesting'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></th>
        <td>30-Days Free Trial <a uib-tooltip="{{ vm.tooltips['free_trial'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <table class="table table-hover">
    <thead>
      <th>#2 Integrated development environment (IDE)</th>
      <th>Community</th>
      <th>Professional</th>
      <th>Enterprise</th>
    </thead>
    <tbody>
      <tr>
        <th><a href="/platformio-ide">PlatformIO IDE</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="https://docs.platformio.org/page/ide.html">Desktop IDE Integration</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="#solution-cloud-ide">Cloud IDE Integration</a></th>
        <td><a uib-tooltip="{{ vm.tooltips['depends_on_pioremote_fusm'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <table class="table table-hover">
    <thead>
      <th>#3 <a href="#solution-pio-remote" du-smooth-scroll>PIO Remote&trade;</a></th>
      <th>Community</th>
      <th>Professional</th>
      <th>Enterprise</th>
    </thead>
    <tbody>
      <tr>
        <th>Device Manager <a uib-tooltip="{{ vm.tooltips['pioremote_devmanager'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Firmware Updates for <a href="/boards">500+ embedded boards</a> <a uib-tooltip="{{ vm.tooltips['pioremote_uploading'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br> <small>(updates per month)</small></th>
        <td>100</td>
        <td>10,000</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Serial Port Monitor <a uib-tooltip="{{ vm.tooltips['pioremote_sermon'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br> <small>(sessions per month)</small></th>
        <td>50</td>
        <td>5,000</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Remote Unit Testing <a uib-tooltip="{{ vm.tooltips['pioremote_remoteunittesting'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br> <small>(sessions per month)</small></th>
        <td>10</td>
        <td>1,000</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Concurrent Agents <a uib-tooltip="{{ vm.tooltips['pioremote_concurgents'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></th>
        <td>1</td>
        <td>10</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Shares <a uib-tooltip="{{ vm.tooltips['agent_share'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br> <small>(per Remote Agent)</small></th>
        <td>1</td>
        <td>30</td>
        <td>Unlimited</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <a name="enterprise-features"></a>

  <table class="table table-hover">
    <thead>
      <th>#4 Custom Services and Products</th>
      <th>Community</th>
      <th>Professional</th>
      <th>Enterprise</th>
    </thead>
    <tbody>
      <tr>
        <th><a href="#solution-white-labeling">White Labeling</a> – branded IDE in a few weeks</th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Integration Services<br /><small>(Enterprise platforms, Third-party Software, Frameworks, SDKs, Development boards</small></th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>PIO Certification Program <br /><small>Premium support, unlocking free access to "PIO Plus Professional" features for the specific hardware/software, software & hardware unit testing, product promotion, "Buy it Now!" from PIO Board Manager</th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <table class="table table-hover">
    <thead>
      <th>#5 Support</th>
      <th>Community</th>
      <th>Professional</th>
      <th>Enterprise</th>
    </thead>
    <tbody>
      <tr>
        <th><a href="https://community.platformio.org/">Community Support</a></th>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>
          <a href="/support">Premium Support</a> <br /><small>(for PIO Plus products)</small> <a uib-tooltip="{{ vm.tooltips['premium_support_for_pio_plus'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></th>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="/support">Premium Support</a> <br /><small>(for PlatformIO Open Source)</small></th>
        <td>In pair with <a href="/support">PIO Support Developer Subscription</a></td>
        <td>In pair with <a href="/support">PIO Support Developer Subscription</a></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th><a href="https://platformio-club.slack.com" target="_blank">Live Chat Support</a> <a uib-tooltip="{{ vm.tooltips['platformio_club'] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a></th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Advisory Services</th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
        <th>Architectural Review</th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Priority features</th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Hot Fixes</th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="jumbotron text-center">
  <h2>Ready to upgrade?</h2>
  <p><a class="btn btn-success btn-lg" href="#pricing-top" du-smooth-scroll><i class="fa fa-shopping-cart fa-lg"></i> &nbsp;Upgrade Today</a></p>
</div>

<div class="container">
  <a name="solutions"></a>

  <a name="solution-pio-remote"></a>
  <div class="row top-items-lg text-left">
    <div class="col-md-9">
      <h2>PIO Remote&trade;. <span class="text-muted">Your devices are always with you!</span></h2>
      <p class="lead">
        <b>PIO Remote&trade;</b> allows you to work remotely with devices from <u>Anywhere In The World</u>. No matter where are you now! Run a small and cross-platform <b>PIO Remote&trade;</b> Agent on a remote machine and you are able to manage active devices (wireless + wired),
        to upload firmware (program), to process remote unit tests, or to start remote debugging session via <b>Remote Serial Port Monitor</b>.<br>
      </p>
      <p class="lead">
        Using <b>PIO Remote&trade;</b> you can share your devices with colleagues across your organization or friends. In combination with <a href="#solution-cloud-ide" du-smooth-scroll>Cloud IDE</a>, you can create awesome things at any time when inspiration comes to you.
      </p>
    <p><a class="btn btn-primary" href="https://docs.platformio.org/page/plus/pio-remote.html" role="button"><i class="fa fa-book" aria-hidden="true"></i> Read more</a></p>
    </div>
    <div class="col-md-3 text-center">
      <div class="img-circle"><i class="fa fa-globe fa-5x"></i></div>
    </div>

  </div>

  <a name="solution-cloud-ide"></a>
  <hr class="home-divider">

  <div class="row top-items-lg text-left">
    <div class="col-md-3 text-center">
      <div class="img-circle"><i class="fa fa-cube fa-5x"></i></div>
    </div>
    <div class="col-md-9">
      <h2>Cloud IDE. <span class="text-muted">Embedded development in a browser!</span></h2>
      <p class="lead">
        When we talk about embedded development, we imagine complicated development environment with requirements for specific software and OS. Cloud IDE destroys these requirements and allows you to program more than 500+ embedded boards from your favorite browser. <br>
        A <u>pairing programming in the cloud</u> lets you work together on the same project using shareable embedded devices provided by <a href="#solution-pio-remote" du-smooth-scroll>PIO Remote&trade;</a>.
      </p>
      <p class="lead">
        We support integration of <a href="#solution-pio-remote" du-smooth-scroll>PIO Remote&trade;</a> with the most popular <a href="https://docs.platformio.org/page/ide.html">Cloud IDE</a> (Cloud9, Codeanywhere, Eclipse Che). You have a choice which Cloud IDE to use.
      </p>
      <p><a class="btn btn-primary" href="https://docs.platformio.org/page/ide.html#cloud-ide" role="button"><i class="fa fa-book" aria-hidden="true"></i> Read more (demo &amp; examples)</a></p>
    </div>
  </div>

  <a name="solution-unit-testing"></a>
  <hr class="home-divider">

  <div class="row top-items-lg text-left">
    <div class="col-md-9">
      <h2>Unit Testing. <span class="text-muted">Local and Remote.</span></h2>
      <p class="lead">
        <b>Unit Testing</b> allows segregating each part of the firmware/program and test that the individual parts are working correctly. Using <b>PIO Plus Unit Testing Engine</b> you can execute the same tests on the local host machine (native), on the multiple local embedded devices/boards (connected to local host machine), or in both cases. In the last case, PIO Plus builds firmware on the host machine, uploads it to a target device, executes tests on it and gather results. The final information will be shown on the host side with informative output and statistic.
      </p>
      <p class="lead">
        Using <a href="#solution-pio-remote" du-smooth-scroll>PIO Remote&trade;</a> you can run unit tests on the <b>Remote Device</b> from anywhere in the world or integrate with Continuous Integration Systems.
      </p>
      <p><a class="btn btn-primary" href="https://docs.platformio.org/page/plus/unit-testing.html" role="button"><i class="fa fa-book" aria-hidden="true"></i> Read more (demo &amp; examples)</a></p>
    </div>
    <div class="col-md-3 text-center">
      <div class="img-circle"><i class="fa fa-puzzle-piece fa-5x"></i></div>
    </div>
  </div>


  <a name="solution-white-labeling"></a>
  <hr class="home-divider">

  <div class="row top-items-lg text-left">
    <div class="col-md-3 text-center">
      <div class="img-circle"><i class="fa fa-briefcase fa-5x"></i></div>
    </div>
    <div class="col-md-9">
      <h2>PIO Enterprise. <span class="text-muted">White Label Solution.</span></h2>
      <p class="lead">
        White label solution can help you utilize your business’s unique branding to offer <b>cross-platform, modern and professional IDE</b> (Integrated Development Environment) without investing in technology creation around the solution. The result: You can focus on building your brand and selling your products while simplifying the conversion path for your customers.
      </p>
      <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> <a href="https://www.forbes.com/sites/theyec/2014/06/03/why-a-white-label-solution-is-easier-than-building-your-own/" target="_blank">Why A White Label Solution Is Easier Than Building Your Own?</a></p>
      <p><a class="btn btn-primary" href="https://marketplace.visualstudio.com/publishers/platformio" role="button" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> Examples for VSCode</a></p>
    </div>
  </div>
</div>

<hr class="home-divider">

<div class="container text-center">
  <h2>Subscribe to PIO Plus</h2>
  <p><a class="btn btn-success btn-lg" href="#pricing-top" du-smooth-scroll><i class="fa fa-shopping-cart fa-lg"></i> &nbsp;Subscribe to PIO Plus</a> </p>
</div>
<br>
