<view-title>PIO Plus Subscription Options</view-title>
<meta name="description" content="PIO Plus Subscription Options" view-head />
<meta name="keywords" content="PlatformIO, license, business, partnership, subscription" view-head />
<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-university"></i> Subscription Options <small>PIO Plus</small></h1>
  </div>
</div>
<div class="container">

  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="/">Home</a></li>
    <li><a href="/pricing">PIO Plus</a></li>
    <li class="active">Subscription Options</li>
  </ol>

  <h2>For Individual Developers</h2>
  <p>If you, as an individual, are purchasing PIO Plus Subscription <b>using your own funds</b>, then the <b>PIO Plus Personal Subscription</b> plans are right for you.</p>
  <p><b>Personal</b> PIO Plus Subscriptions cannot be purchased by companies in any way or form, nor can a company reimburse an individual for a subscription he/she purchased. However, an individual may use Personal PIO Plus Subscription that he/she privately purchased on any hardware, including company hardware.</p>
  <p>If you are not sure that PIO Plus Personal Subscription is right for you, check the subscription <a href="#comparison" du-smooth-scroll>comparison matrix</a>.</p>
  <p>For complete details, please check our standard <a href="/license">PIO Plus License Agreement</a>.</p>

  <h2>For Business and Organizations</h2>
  <p>Legal entities, including companies and organizations (both for-profit and non-profit), requiring the software for general commercial use qualify for the <b>PIO Plus Business Subscription</b> plans. A legal entity may use the software under PIO Plus Business Subscription on <b>any computer</b>, operating system, and by <b>any developer</b> within a legal entity, provided that the total number of concurrent users never exceeds the number of subscriptions purchased by that legal entity.</p>
  <p>If you are not sure that Commercial PIO Plus Subscription is right for you, check the subscription <a href="#comparison" du-smooth-scroll>comparison matrix</a>.</p>
  <p>For complete details, please check our standard <a href="/license">PIO Plus License Agreement</a>.</p>

  <h2>For Non-commercial Use</h2>
  <p>Private individuals (including students and teachers), requiring the software for non-commercial purposes qualify for the <b>PIO Plus Non-commercial Subscription</b> plans.</p>
  <p>PIO Plus Non-commercial Subscriptions cannot be purchased by schools/universities in any way or form, nor can a school/university reimburse a student/teacher for a subscription he/she purchased. However, a student/teacher may use Student/Teacher PIO Plus Subscription that he/she <b>privately purchased</b> on any hardware, including school/university hardware.</p>
  <p>For complete details, please check our standard <a href="/license">PIO Plus License Agreement</a>.</p>

  <br>
  <a name="comparison"></a>
  <h2 id="LicenseComparison">Subscription Options Comparison</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="16%"></th>
        <th width="21%">Individual subscription</th>
        <th width="21%">Business subscription</th>
        <th>Non-commercial subscription</th>
        <th>Schools &amp; Universities</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Available to</th>
        <td>Private individuals purchasing with their own funds. Cannot be purchased or reimbursed by companies.</td>
        <td>Any legal entity (companies and organizations, including non-profit and government).</td>
        <td>Private individuals (including students and teachers) purchasing with their own funds. Cannot be purchased or reimbursed by schools/universities.</td>
        <td>Accredited educational institutions</td>
      </tr>
      <tr>
        <th>Billed to</th>
        <td>Private individual</td>
        <td>Legal entity</td>
        <td>Private individual</td>
        <td>Educational institution</td>
      </tr>
      <tr>
        <th>License owner</th>
        <td>Private individual</td>
        <td>Legal entity</td>
        <td>Private individual</td>
        <td>Educational institution</td>
      </tr>
      <tr>
        <th>Purpose of use</th>
        <td>General commercial</td>
        <td>General commercial</td>
        <td>Non-commercial only, including education and academic research</td>
        <td>Non-commercial only, for educating students in classes</td>
      </tr>
      <tr>
        <th>Multi-user license?</th>
        <td>No — software can be used solely by the person who purchased a subscription</td>
        <td>Yes — the total number of concurrent software users cannot exceed the number of purchased subscriptions</td>
        <td>No — software can be used solely by the authorized person</td>
        <td>Yes — the total number of concurrent software users cannot exceed the number of purchased subscriptions</td>
      </tr>
      <tr>
        <th>License term</th>
        <td>Time-limited, based on monthly and yearly subscription payments</td>
        <td>Time-limited, based on monthly and yearly subscription payments</td>
        <td>Time-limited, based on monthly and yearly subscription payments</td>
        <td>Time-limited, based on yearly subscription payments</td>
      </tr>
      <tr>
        <th>Price</th>
        <td><a href="/pricing">Select your plan</a></td>
        <td><a href="/pricing">Select your plan</a></td>
        <td><a href="/pricing">Select your plan</a></td>
        <td><a href="https://piolabs.com/">Request a quote</a></td>
      </tr>
    </tbody>
  </table>

</div>

<hr>

<div class="container text-center">
  <h2>Subscribe to PIO Plus</h2>
  <p><a class="btn btn-success btn-lg" href="/pricing" du-smooth-scroll><i class="fa fa-shopping-cart fa-lg"></i> &nbsp;Subscribe to PIO Plus</a> </p>
</div>
<br>
