<view-title>Support</view-title>
<meta name="description" content="Premium technical support for PlatformIO" view-head />
<meta name="keywords" content="PlatformIO, contact, support" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-question-circle"></i> Premium Support</h1>
    <p>
      Receive premium support from <b>PIO Plus</b> professional experts.
    </p>
    <p>
      Our premium support plans offer various levels of service so you can get the help you need, when you need it.
    </p>
  </div>
</div>

<div class="container">

  <p class="text-center text-success" style="margin: 15px 0;">
    <b><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Pay Yearly and Save 35%</b>
  </p>

  <div class="row">
    <div class="col-sm-4">
      <div class="pio-plan">
        <div class="plan-info">
          <h2>Community</h2>
          <div class="plan-price">
            <span class="currency"></span>FREE<span class="cents"></span>
          </div>
          <p>Free Forever <br>No Credit Card Required</p>
        </div>
        <div class="plan-button"><a class="btn btn-primary" href="https://community.platformio.org" role="button">Join Community</a></div>
        <div class="plan-features">
          <ul>
            <li><a href="https://community.platformio.org">24x7 access to Community Forums</a></li>
            <li><a href="http://docs.platformio.org">24x7 access to Documentation</a></li>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pio-plan pio-plan-professional">
        <div class="plan-info">
          <h2>Developer</h2>
          <div class="plan-price">
            <span class="currency">$</span><span class="whole">95</span>
          </div>
          <p>
            per month, billed <span class="plan-billed-term">yearly</span> <br>
            <small>(<a href="" class="change-billed-term" ng-click="vm.checkout(524691)">or $150 billed monthly)</a></small>
          </p>
        </div>
        <div class="plan-button"><button type="button" class="btn btn-success" ng-click="vm.checkout(533777)">Get Premium Support</button></div>
        <div class="plan-features">
          <ul>
            <li><a href="https://pioplus.freshdesk.com" target="_blank">Online Ticket Submission</a></li>
            <li>&lt; 24 Business Hours Response Time</li>
            <li>Advisory Services, 30 minutes/mo</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pio-plan">
        <div class="plan-info">
          <h2>Enterprise</h2>
          <div class="plan-custom">
            CUSTOM
          </div>
        </div>
        <div class="plan-button"><a class="btn btn-success" href="/contact" role="button">Contact Us</a></div>
        <div class="plan-features">
          <ul>
            <li><a href="https://platformio-club.slack.com" target="_blank">Live Chat Support</a></li>
            <li>Web Conference Support <small>(with screen-share)</small></li>
            <li>&lt; 8 Business Hours Response Time</li>
            <li>Advisory Services, 12 hours/mo</li>
            <li>Architectural Review</li>
            <li>Hot Fixes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">Frequently Asked Questions</h2>
  <dl>
    <dt>Which products are covered by the Developer and Enterprise plans?</dt>
    <dd>
      The premium support plans apply to all PlatformIO.Org and PIO Plus products: PlatformIO Core, PlatformIO IDE, PIO Unified Debugger, PIO Unit Testing, PIO Remote, Integration with Cloud and Desktop IDEs.
      <p><b>Please note</b> that premium support does not apply to community integration in <a href="https://github.com/topics/platformio-platform" target="_blank">PlatformIO's Development Platforms</a> and 3rd party software (framework, SDK, etc.).</p>
    </dd>

    <dt>Can I purchase premium support only when I need it?</dt>
    <dd>
      <p>Yes. The Developer premium support plan may be purchased on a monthly basis as needed.</p>
    </dd>

    <dt>How does the web conference support work?</dt>
    <dd>
      Enterprise customers can request a web conference call with our support engineer when submitting a support ticket. After the ticket is placed, a support engineer will review your issue, and email you dial-in information within the target SLA of your support plan.
    </dd>
  </dl>
</div>
