<view-title>Support</view-title>
<meta name="description" content="Premium technical support for PlatformIO" view-head />
<meta name="keywords" content="PlatformIO, contact, support" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-question-circle"></i> Premium Support</h1>
    <p>
      Receive private and professional support from <b>The PlatformIO Team</b> that created the platform itself.
    </p>
    <p class="text-center">
      <a class="btn btn-success btn-lg" href="https://pioplus.freshdesk.com" target="_blank" role="button" analytics-on analytics-event="Button" analytics-category="TicketSubmission"><i class="fa fa-ticket fa-lg"></i> &nbsp;Premium On-line Ticket Submission</a>
    </p>
  </div>
</div>

<div class="container">

  <p class="text-center text-success" style="margin: 15px 0;">
    <b><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Pay Yearly and Save 35%</b>
  </p>

  <div class="row">
    <div class="col-sm-4">
      <div class="pio-plan">
        <div class="plan-info">
          <h2>Community</h2>
          <div class="plan-price">
            <span class="currency"></span>FREE<span class="cents"></span>
          </div>
          <p>Free Forever <br>No Credit Card Required</p>
        </div>
        <div class="plan-button"><a class="btn btn-primary" href="https://community.platformio.org" role="button">Join Community</a></div>
        <div class="plan-features">
          <ul>
            <li><a href="https://community.platformio.org">24x7 access to Community Forums</a></li>
            <li><a href="https://docs.platformio.org">24x7 access to Documentation</a></li>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pio-plan pio-plan-professional">
        <div class="plan-info">
          <h2>Business</h2>
          <div class="plan-price">
            <span class="currency">$</span><span class="whole">249</span>
          </div>
          <p>
            per month, billed <span class="plan-billed-term">yearly</span> <br>
            <small>(<a href="" class="change-billed-term" ng-click="vm.paddleCheckout({product: 640597 })">or $499 billed monthly)</a></small>
          </p>
        </div>
        <div class="plan-button"><button type="button" class="btn btn-success" ng-click="vm.paddleCheckout({product: 640596 })">Get Premium Support</button></div>
        <div class="plan-features">
          <ul>
            <li><a href="https://pioplus.freshdesk.com" target="_blank">Premium On-line Ticket Submission</a></li>
            <li>&lt; 24 Business Hours Response Time</li>
            <li>Advisory Services, 30 minutes/mo</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pio-plan">
        <div class="plan-info">
          <h2>Enterprise</h2>
          <div class="plan-custom">
            CUSTOM
          </div>
        </div>
        <div class="plan-button"><a class="btn btn-success" href="https://piolabs.com/" role="button">Contact Us</a></div>
        <div class="plan-features">
          <ul>
            <li><a href="https://platformio-club.slack.com" target="_blank">Live Chat Support</a></li>
            <li>Web Conference Support <small>(with screen-share)</small></li>
            <li>&lt; 8 Business Hours Response Time</li>
            <li>Advisory Services, 12 hours/mo</li>
            <li>Architectural Review</li>
            <li>Integration Services</li>
            <li>Priority Features, Hot Fixes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">Frequently Asked Questions</h2>
  <dl>
    <dt>Can I purchase premium support only when I need it?</dt>
    <dd>
      <p>Yes. The Business premium support plan may be purchased on a monthly basis as needed.</p>
    </dd>

    <dt>How does the web conference support work?</dt>
    <dd>
      Enterprise customers can request a web conference call with our support engineer when submitting a support ticket. After the ticket is placed, a support engineer will review your issue, and email you dial-in information within the target SLA of your support plan.
    </dd>
  </dl>
</div>
