<div>
  <hr class="home-divider" />
  <h2>Help us make the PlatformIO ecosystem better <i class="fa fa-heart fa-lg" style="color: #FFBB3B;"></i> <br /><small>Participate in our survey</small></h2>
  <div class="text-left">
    <!-- <p>With your contribution, we will have a better understanding of the problems, challenges and priorities our customers face as they use the PlatformIO ecosystem, including those that incorporate open source technologies.</p> -->
    <p>The survey results will have a significant impact on the roadmap of the PlatformIO solutions, helping ensure that we stay focused on the most important features and main priorities for our users. Also, the survey results give us deeper insight into:</p>
    <p>
      <ul>
        <li>Parts of the PlatformIO ecosystem that could be improved</li>
        <li>The latest IDE and code editor market trends</li>
        <li>Demand for advanced instruments for embedded development</li>
        <li>Challenges and potential barriers that impact PlatformIO growth</li>
      </ul>
    </p>
    <p>This survey is <b>completely anonymous</b>. It <b>won't take more than 3 minutes</b> to complete, so if you have a small amount of spare time please fill it out.</p>
    <p>Thank you for your time!</p>
  </div>
  <p>
    <a class="btn btn-success btn-lg" href="http://bit.ly/make-pio-better-survey" role="button" analytics-on analytics-event="Button" analytics-category="Survay" analytics-label="MakeBetter" target="_blank"><i class="fa fa-check-square-o fa-lg"></i> &nbsp;Start the survey Now</a>
  </p>
</div>

<ins ins-ad data-rvad-zoneid="10" data-rvad-id="f837d8c96893e793fdbb230cffb628fc"></ins>
