<view-title>Who uses</view-title>
<meta name="description" content="This is just a short list of companies and projects that use PlatformIO" view-head />
<meta name="keywords" content="PlatformIO, using, companies, projects" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-heart-o"></i> Who uses PlatformIO</h1>

    <p>
      This is just a short list of companies and projects that use <i>PlatformIO</i>.<br>
    </p>
    <p>
      If you've used <i>PlatformIO</i> in a project and would like it listed on this page, <a href="https://github.com/platformio/platformio-web/blob/develop/app/views/who_uses.html" target="_blank">please edit this page</a>.
    </p>

  </div>
</div>

<div class="container">

  <h2><a href="http://docs.platformio.org/en/latest/articles.html">Articles</a> <small>about us</small></h2>
  The <a href="http://docs.platformio.org/en/latest/articles.html">recent articles about PlatformIO</a>.   

  <hr>
  
  <h2><a href="http://smartanthill.org" target="_blank">SmartAnthill</a> <small>PlatformIO Team</small></h2>
  <p>
    <b>SmartAnthill</b> is an open IoT system which allows easy control over multiple microcontroller-powered devices, creating a home- or office-wide heterogeneous network out of these devices.
  </p>
  <p>
    <i>SmartAnthill</i> system can be pretty much anything: from a system to control railway network model to an office-wide heating control and security system. As an open system, <i>SmartAnthill</i>
    can integrate together a wide range of devices beginning from embedded development boards and ending with off-the-shelf sensors and actuators.
    They can be connected via very different communication means - from wired (currently <i>Serial</i>, with <i>CAN bus</i> and <i>Ethernet</i> planned soon)
    to wireless (currently <i>IEEE 802.15.4</i>, with low-cost <i>RF</i>, <i>Bluetooth Smart</i>, <i>ZigBee</i> and <i>WiFi</i> planned soon).
  </p>

  <p>
    All <i>SmartAnthill</i> devices within a system are controlled from the one place (such as <i>PC</i> or credit-card sized computer <i>Raspberry Pi</i>,
    <i>BeagleBoard</i> or <i>CubieBoard</i>), with an optional access via <i>Internet</i>.
  </p>

  <hr>

  <h2><a href="https://www.touchdevelop.com/app/beta#list:topics:topic:gettingstartedwitharduino:overview" target="_blank">TouchDevelop</a> <small>Microsoft Research</small></h2>
  <p>
    <b>TouchDevelop</b> combines a cross-platform browser-based <i>IDE</i> for the creation of mobile+cloud apps, an online programmer/user community, and an app store.
  </p>
  <p>
    <i>TouchDevelop</i> makes learning programming exciting! You can write code directly on any device and you can directly use sensors and media via high-level <i>APIs</i>.
    It's easy to create games and apps, publish them or tweak those published by others.
    You write code in our touch-friendly editor where you compose programs by tapping on your screen, yet concepts you learn transfer to traditional languages such as <i>Java</i>, <i>C#</i> or <i>Arduino</i>.
  </p>
  <p>
    <i>TouchDevelop</i> embraces the "Bring Your Own Device" revolution by providing a unified programming environment everywhere.
  </p>

  <hr>

  <h2><a href="http://punchthrough.com" target="_blank">Punch Through Design</a> <small>Hardware design firm in San Francisco and Minneapolis</small></h2>
  <p>
    Our flagship product for makers is the <a href="https://punchthrough.com/bean/" target="_blank">LightBlue Bean</a>. The Bean is a development board that makes it easy to start working with Bluetooth Low Energy. It's compatible with Arduino and very easy to get started with. We've written SDKs for iOS and OS X so makers can start building apps and prototyping full products the minute they open the box.
  </p>
  <p>
    The Bean can be programmed from Windows, OS X, iOS and Android. iPads, iPhones and Androids compile Arduino sketches using the Bean Cloud Compiler. The <b>Cloud Compiler leverages PlatformIO</b> to reliably compile Bean sketches.
  </p>
  <p>
    <b>PlatformIO</b> gives us access to Arduino libraries as well as user-requested libraries. Because <b>PlatformIO</b> distributes updates to both Arduino and its libraries, we can be sure that we're always up-to-date with new releases.
  </p>    

</div>
