<view-title>{{ vm.platforms[vm.activePlatform].title }} · Development Platforms</view-title>
<meta name="description" content="{{ vm.platforms[vm.activePlatform].title }} pre-built development platform" view-head />
<meta name="keywords" content="embedded, platform, atmel, avr, msp430, arduino, energia" view-head />

<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-heart-o"></i> Who uses PlatformIO</h1>

    <p>
      This is just a short list of companies and projects that use <i>PlatformIO</i>.<br>
    </p>
    <p>
      If you've used <i>PlatformIO</i> in a project and would like it listed on this page, <a href="https://github.com/ivankravets/platformio-web/blob/develop/app/views/who_uses.html" target="_blank">please edit this page</a>.
    </p>

  </div>
</div>

<div class="container">

  <h2><a href="http://smartanthill.ikravets.com" target="_blank">SmartAnthill</a> <small>PlatformIO Team</small></h2>
  <p>
    <b>SmartAnthill</b> is an intelligent micro-oriented networking system. 
    It opens the door for people that are not familiar with electronics and micro-controller programming, but earlier had dream to use it. 
  </p>
  <p>
    The main goal of <i>SmartAnthill</i> is to destroy the wall between usual user and hardware world.
    Thanks to this system we can combine the independent micro-devices or micro-based networks into general <a href="http://smartanthill.readthedocs.org/en/latest/specification/network/index.html" target="_blank">SmartAnthill Network</a>.
  </p>   

  <h2><a href="https://www.touchdevelop.com/app/beta#list:topics:topic:gettingstartedwitharduino:overview" target="_blank">TouchDevelop</a> <small>Microsoft Research</small></h2>
  <p>
    <b>TouchDevelop</b> combines a cross-platform browser-based <i>IDE</i> for the creation of mobile+cloud apps, an online programmer/user community, and an app store.
  </p>
  <p>
    <i>TouchDevelop</i> makes learning programming exciting! You can write code directly on any device and you can directly use sensors and media via high-level <i>APIs</i>.
    It's easy to create games and apps, publish them or tweak those published by others. 
    You write code in our touch-friendly editor where you compose programs by tapping on your screen, yet concepts you learn transfer to traditional languages such as <i>Java</i>, <i>C#</i> or <i>Arduino</i>. 
  </p>
  <p>
    <i>TouchDevelop</i> embraces the "Bring Your Own Device" revolution by providing a unified programming environment everywhere.
  </p>

  <h2><a href="http://www.he-arc.ch" target="_blank">Haute Ecole Arc</a> <small>University of Applied Sciences and Arts Western Switzerland</small></h2> 
  <p>
    <b>The University of Applied Sciences and Arts of Western Switzerland</b> encompasses 5 campuses providing teaching and applied R&D in the fields of Engineering, Management, Health Sciences and Arts.
    <ul>
      <li>A System Development tool (including a cross-vendor common language and easy trajectory generation) for deployment of industrial robots, particularly for micro-assembly and micro-machining tasks.</li>
      <li>Development of Industrial Vision systems (2D and 3D) applied to online quality control (dimensional and aesthetic) and robot guidance.</li>
      <li>Design and multi-physics simulation of precision micro-engineering devices and actuators.</li>
      <li>Intuitive robot configuration through domain-specific graphic user interfaces and vision-based imitation.</li>
    </ul>
  </p>

  <h2><a href="http://www.bitwizard.nl/wiki/index.php/Raspduino#Using_PlatformIO" target="_blank">Raspduino</a> <small>BitWizard</small></h2>
  <p>
    <b>Raspduino</b> is an <i>Arduino</i> compatible microcontroller board, designed to plug on top of a <i>Raspberry Pi</i> (some people like to call this a Pi Plate). It is then possible to add <i>Arduino</i> shields to the <i>Raspduino</i>.
  </p>
  <p>
    The <i>Raspduino</i> is powered by a <i>ATmega328</i> microcontroller, and can be programmed with the regular <i>Arduino</i> software. 
    The <i>Raspduino</i> can communicate with the <i>Raspberry Pi</i> via the serial port or <i>I2C</i> port on the <i>GPIO</i> connector. Programming can also be done over the <i>GPIO</i> connector.
  </p> 

</div>
